{% load bootstrap4 %}
<div class="modal fade" {% if stuff %}id="modalStuff{{ stuff.pk }}"{% else %}id="modalStuff"{% endif %} tabindex="-1" role="dialog" aria-labelledby="modalStuffTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if stuff %}
          <h5 class="modal-title" id="modalStuffTitle">Modifier</h5>
        {% elif owner_member %}
          <h5 class="modal-title" id="modalStuffTitle">Créer un appareil pour {{owner_member}}</h5>
        {% elif owner_organization %}
        <h5 class="modal-title" id="modalStuffTitle">Créer un appareil pour {{owner_organization}}</h5>
        {% endif %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form id="modalStuffForm" method="post"
          {% if stuff %}
            action="{% url 'inventory:update_stuff' stuff.pk %}"
          {% else %}
            {% if owner_member %}
            action="{% url 'inventory:create_user_stuff' owner_member.pk %}"
            {% elif owner_organization %}
            action="{% url 'inventory:create_organization_stuff' owner_organization.slug %}"
            {% else %}
            action="{% url 'inventory:create_stuff' %}"
            {% endif %}
          {% endif %}
        >
          {% csrf_token %}

          {% if stuff %}
            {% bootstrap_form stuff_form %}
          {% else %}
            {% if owner_member %}
              {% bootstrap_form add_member_stuff %}
            {% elif owner_organization %}
              {% bootstrap_form add_organization_stuff %}
            {% endif %}
          {% endif %}

          <div class="form-group p-2">
            <button type="submit" class="btn btn-success w-100 p-3">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
