{% extends 'base.html' %}
{% load thumbnail bootstrap4 %}
{% block title %}Stock des organisations sur Reparons{% endblock %}


{% block content %}
  {% include "breadcrumb.html" with current="Stock / inventaire" %}

  <div class="jumbotron jumbotron-fluid " id="jumbotron">
    <div class="container text-center">
      <h2>Stock / inventaire</h2>
      <hr>
      <span>Retrouvez ici ce que les organisations ont à proposer</span><br>
      <small>Contactez l'organisation si vous souhaitez acquérir un bien</small>
    </div>
  </div>
  <section class="container">
    <div class="col-md-12 mt-2">
        {% if filter %}
        <div class="text-center w-100 card p-2 mb-2">
            <form action="" method="get" class="form-inline justify-content-center form-xs">
                <label class="">Rechercher par catégorie</label>
                {% bootstrap_field filter.form.device__category show_label=False %}
                {{filter.form.media}}
                <a class="btn-secondary">{% bootstrap_button 'filtrer' %}</a>
            </form>
        </div>
        {% endif %}
        <div class="table-responsive shadow bordered">
            <table class="table table-hover text-left" if="stuffs-table">
                <thead>
                <tr>
                    <th colspan="1">Catégorie</th>
                    <th colspan="1">Désignation</th>
                    <th colspan="1">Propriétaire</th>
                    <th colspan="1">Etat</th>
                </tr>
                </thead>
                <tbody>
                {% for stuff in stuff_list %}
                    <tr>
                        <td>
                            {{ stuff.device.category }}
                        </td>
                        <td scope="row">
                            <a href="{{stuff.get_absolute_url}}">{{ stuff }}</a>
                        <td>
                            {% if stuff.owner.picture %}
                                {% thumbnail stuff.owner.picture "30x30" crop="left" format="PNG" as im %}
                                <img class="img-fluid rounded-circle square-2" src="{{ im.url }}" alt="organization img">
                                {% endthumbnail %}
                            {% endif %}
                            {% if stuff.owner %}
                                {{stuff.owner}}
                            {% endif %}
                        </td>
                        <td>
                            {% include "inventory/stuff_state_display.html" with stuff_state=stuff.get_state_display %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">
                            Pas de résultat
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </section>

{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $("#jumbotron").sticky({topSpacing:105});
    $("#breadcrumb").sticky({topSpacing:65});
  });
</script>
{% endblock %}
