{% load bootstrap5 assets static %}
<div class="modal-header">
    Vous allez ajouter un objet à cet inventaire
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form class="p-2" method="post">
  {% bootstrap_form_errors form %}
  {% csrf_token %}
    {% bootstrap_field form.category %}
    <div id="devicesearch" style="display:none">
        {% bootstrap_field form.device form_group_class="device-search-form" %}
        {% bootstrap_field form.create_device %}
    </div>
    <div id="adddevice" style="display:none">
        <div class="row bordered p-2 m-2">
            <small><i>Vous allez créer un type d'appareil appartenant à la catégorie précédemment sélectionnée</i></small>
            {% bootstrap_field form.brand form_group_class="col-md-6 model_edit_stuff" %}
            {% bootstrap_field form.model form_group_class="col-md-6" %}
            <small>Vous pouvez ajouter une photo si vous le souhaitez</small>
            {% bootstrap_field form.picture %}
        </div>
    </div>
    <div id="stuffcreate" style="display:none">
        {% if form.place %}
            {% bootstrap_field form.place %}
        {% endif %}
        {% if form.is_visible %}
            {% bootstrap_field form.is_visible %}
        {% endif %}
        {% bootstrap_field form.state %}
        {% bootstrap_field form.information %}
        {% bootstrap_field form.create_folder %}
        <div id="addfolder" style="display:none" class="bordered p-2 m-2">
            <small>Merci de renseigner au moins une observation</small>
            {% if form.action %}
                {% bootstrap_field form.repair_date %}
                {% bootstrap_field form.ongoing %}
            {% endif %}
            <div class="row">
            {% if form.action %}
                {% bootstrap_field form.observation form_group_class="col" %}
            {% else %}
                {% bootstrap_field form.observation form_group_class="col" %}
            {% endif %}
            {% if form.reasoning %}
                {% bootstrap_field form.reasoning form_group_class="col" %}
            {% endif %}
            </div>
            <div class="row">
            {% if form.action %}
                {% bootstrap_field form.action form_group_class="col" %}
            {% endif %}
            {% if form.status %}
                {% bootstrap_field form.status form_group_class="col" %}
            {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group p-2">

        <!-- champ caché qui renvois create ou create-print + voir JS dans l'assets qui utilise data-submit-action -->
        {{ form.submit_action }}

        <button role="button" type="submit" data-submit-action="create" id="btnsubmit" style="display:none" class="btn submit-btn btn-primary w-100 p-3">Créer</button>
        {% if can_print %}
            <div class="print-action mt-2 border-secondary border p-2" id="btnsubmitandprint" style="display:none">
                <h5>Imprimer une étiquette</h5>
                <select name="printer_pk" class="form-select mb-1 float-start" required>
                    {% for printer in thermal_printers_active %}
                        <option value="{{ printer.pk }}">Imprimer avec {{ printer.name|default:printer.pk }}</option>
                    {% endfor %}
                </select>
                <button
                    type="submit"
                    data-submit-action="create_print"
                    class="btn submit-btn btn-secondary w-100 p-3">
                    Créer et imprimer
                </button>
            </div>
        {% endif %}
    </div>

</form>
{% block extra_js %}
   
    {{ form.media }}

    {% assets "js_create_stuff" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock extra_js %}
