{% extends 'base.html' %}
{% load assets app_filters thumbnail initialavatar static bootstrap5 %}
{% block title %}Page de {{stuff}} {% endblock %}

{% block content %}

<div class="container-fluid">
  {% include "breadcrumb.html" with current=stuff first_parent_url="" first_parent_text="Objets" %}
  <div class="container">

    <!-- modals -->
    <div class="modal fade" data-bs-focus="false" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <section class="h-100 row">
        <div class="col-md-4 p-4 d-flex flex-wrap align-items-center bg-light">{{ stuff.device.picture }}
          {% if stuff.device.picture %}
            <img class="img-responsive w-100" src="{{ stuff.device.picture.url }}" alt="image_device">
          {% else %}
            <div class="w-100">
              <h3 class="text-center text-muted">Pas d'apercu</h3>
            </div>
          {% endif %}
        </div>
        <div class="col-md-8">
            <h4 class="pt-4 pb-2 float-start">{{ stuff }}
              {% if can_edit %}
              <a class="btn btn-success rounded-circle btn-sm bs-gobal-modal" data-form-url="{% url 'inventory:update_stuff' stuff.pk %}">
                <i class="fa fa-pencil-alt"></i>
              </a>
              {% endif %}
            </h4>

            {% if thermal_printers_active and can_print %} 
              {% for printer in thermal_printers_active %}
                <form method="post" action="{% url 'inventory:print_thermal_label' stuff.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="printer_pk" value="{{ printer.pk }}">
                    <button type="submit" class="btn mt-4 btn-light btn-m bs-gobal-modal float-end">
                        <span class=""><i class="fa fa-print"></i>  Imprimer une étiquette avec {{printer.name}}</span>
                    </button>
                </form>
              {% endfor %}
            {% endif %}

              {{ stuff.information | safe }}
              <span>
            </span>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pe-2">Categorie</b>
                {% for parent in stuff.device.category.get_ancestors %}
                  {{ parent }} >
                {% endfor %}
                <a href="{{ stuff.device.get_absolute_url }}">{{ stuff.device }}</a>
              </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pe-2">Visibilité</b>
                {% if stuff.is_visible %}
                  Visibilité publique
                {% else %}
                  Non visible du public
                {% endif %}
                {% if can_edit %}
                <a class="btn btn-default rounded-circle btn-sm bs-gobal-modal float-end" data-form-url="{% url 'inventory:update_visibility_stuff' stuff.pk %}">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              {% endif %}
              </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pe-2">Propriétaire</b>
                {% if can_edit or stuff.organization_owner %}
                  {% if stuff.owner.picture %}
                    {% thumbnail stuff.owner.picture "30x30" crop="left" format="PNG" as im %}
                      <img class="img-fluid rounded-circle square-2" src="{{ im.url }}" alt="organization img">
                    {% endthumbnail %}
                  {% endif %}
                  {% if stuff.owner %}
                  <a href="{{ stuff.owner.get_absolute_url }}">
                    {{stuff.owner}}
                  </a>
                  {% else %}
                    Utilisateur non connu sur ce site
                  {% endif %}
                  {% if can_edit %}
                    <a class="btn btn-default rounded-circle btn-sm bs-gobal-modal float-end" data-form-url="{% url 'inventory:update_owner_stuff' stuff.pk %}">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                  {% endif %}
                {% else %}
                 Vous ne pouvez pas voir qui est propriétaire
                {% endif %}
              </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
              <b class="pe-2">Localisation</b>
              {% if stuff.place %}
                <a href="{{stuff.place.get_absolute_url}}">
                    {{stuff.place}}
                </a>
              {% else %}
                Chez l'utilisateur
              {% endif %}
              {% if can_edit %}
                <a class="btn btn-default rounded-circle btn-sm bs-gobal-modal float-end" data-form-url="{% url 'inventory:update_place_stuff' stuff.pk %}">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              {% endif %}
            </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pe-2">Etat</b> 
                {% include "inventory/stuff_state_display.html" with stuff_state=stuff.get_state_display %}
                {% if can_edit %}
                  <a class="btn btn-default rounded-circle btn-sm bs-gobal-modal float-end" data-form-url="{% url 'inventory:update_state_stuff' stuff.pk %}">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                {% endif %}
              </span>
            </div>
          </div>
    </section>
    <section class="row">
      <div class="col-md-4 p-4">
        <h4 class="">Historique</h4>
        <div class="card p-4 mt-2 overflowded">
          {% include "inventory/stuff_history.html" %}
        </div>
      </div>
      <div class="col-md-8">
        <h4 class="pt-2 pb-2">Dossiers de réparation
          {% if can_edit %}
            <a class="btn btn-success btn-sm rounded-circle bs-gobal-modal" data-form-url="{% url 'inventory:create_folder' stuff.pk %}">
              <i class="fa fa-plus"></i>
            </a>
          {% endif %}
        </h4>
        {% for folder in stuff.folders.all %}
          {% include "inventory/repair_folder.html" %}
        {% empty %}
          Pas de dossiers pour l'instant.
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% assets "js_create_stuff" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "js_edit_owner_stuff" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "js_stuff_folder" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock extra_js %}

