{% load bootstrap5 assets static %}
<div class="modal-header">
  Editer l'objet
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="" enctype="multipart/form-data">
  {% bootstrap_form_errors form %}
  {% csrf_token %}
    {% if form.is_visible %}
      {% bootstrap_field form.is_visible %}
    {% endif %}
    <div id="devicesearch">
        {% bootstrap_field form.device form_group_class="device-search-form" %}
        {% bootstrap_field form.create_device %}
    </div>
    <div id="adddevice" style="display:none">
        <div class="row bordered p-2 m-2">
            <small><i>Vous allez créer un type d'appareil appartenant à la catégorie précédemment sélectionnée</i></small>
            {% bootstrap_field form.brand form_group_class="col-md-6 model_edit_stuff" %}
            {% bootstrap_field form.model form_group_class="col-md-6" %}
            <small>Vous pouvez ajouter une photo si vous le souhaitez</small>
            {% bootstrap_field form.picture %}
        </div>
    </div>
        {% bootstrap_field form.information %}
<div class="form-group p-2">
<button type="submit" id="btnsubmit" class="btn btn-success w-100 p-3">Valider</button>
</div>
{{ form.media }}
</form>