{% load bootstrap4 assets static %}

<script>
$(document).ready(function(){
  $.fn.modal.Constructor.prototype._enforceFocus = function() {};

  category = document.querySelector("#id_category");
  if (category) {
    category.onchange=function() {  
      if($(this).val()){
        $("#devicesearch").show()  
      }
    };
  }

  device = document.querySelector("#id_device");
  if (device) {
    device.onchange=function() {  
      if($(this).val()){
        $("#stuffcreate").show()  
        $("#submit").show()  
      }
    };
  }


  $("#id_create_folder").click(function() {
    if($("#id_create_folder").is(":checked")){
      $("#addfolder").show()  
    }
    else{
      $("#addfolder").hide()  
    }
  });

  $("#id_create_device").click(function() {
    if($("#id_create_device").is(":checked")){
      $("#adddevice").show()  
      $("#stuffcreate").show()  
      $("#submit").show()  
      $(".device-search-form").hide()
    }
    else{
      $("#adddevice").hide()  
      $("#stuffcreate").hide()  
      $("#submit").hide()  
      $(".device-search-form").show()
    }
  });
});

</script>

<form method="post" action="">
  {% bootstrap_form_errors form %}
  {% csrf_token %}
    {% bootstrap_field form.category %}
    <div id="devicesearch" style="display: none;">
        {% bootstrap_field form.device form_group_class="device-search-form" %}
        {% bootstrap_field form.create_device  %}
    </div>
        <div id="adddevice" style="display:none">
        <div class="row bordered p-2 m-2">
        <small><i>Vous allez créer un type d'appareil appartenant à la catégorie précédemment sélectionnée</i></small>
        {% bootstrap_field form.brand form_group_class="col-md-6" %}
        {% bootstrap_field form.model form_group_class="col-md-6" %}
        <small>Vous pouvez ajouter une photo si vous le souhaitez</small>
        </div>
        </div>
    <div id="stuffcreate" style="display:none">
        {% if owner_organization %}
            {% bootstrap_field form.place %}
        {% endif %}
        {% bootstrap_field form.state %}
        {% bootstrap_field form.information %}
        {% bootstrap_field form.create_folder %}
        <div id="addfolder" style="display:none" class="bordered p-2 m-2">
        <small>Merci de renseigner au moins une observation ou une action</small>
        {% bootstrap_field form.repair_date %}
        {% bootstrap_field form.ongoing %}
        <div class="row">
        {% bootstrap_field form.observation form_group_class="col-md-6" %}
        {% bootstrap_field form.reasoning form_group_class="col-md-6" %}
        </div>
        <div class="row">
        {% bootstrap_field form.action form_group_class="col-md-6" %}
        {% bootstrap_field form.status form_group_class="col-md-6" %}
        </div>
        </div>
    </div>
<div class="form-group p-2">
<button type="submit" id="submit" style="display: none;" class="btn btn-success w-100 p-3">Valider</button>
</div>
{{ form.media }}
</form>
