{% extends 'base.html' %}
{% load assets app_filters thumbnail initialavatar %}
{% block title %}Page de {{stuff}} {% endblock %}

{% block content %}
<div class="container-fluid">
  {% include "breadcrumb.html" with current=stuff first_parent_url="" first_parent_text="Appareils" %}
    <div class="container">
      <div class="row no-gutters">
        <section class="header_detail_page p-0 text-center col-md-3">
            <div class="bg-grey" id="side_nav">
              <h2 class="pt-2 header_detail_page_title">{{ stuff }}</h2>
            <div class="nav flex-md-column flex-sm-row nav-pills justify-content-center p-4 text-left" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="false">Informations</a>
          </div>
        </div>
      </section>
    
    <section class="h-100 col-md-9 p-4">
      <div class="tab-content" id="v-pills-tabContent">    
        <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
          <h4 class="mt-4">Informations
            <a class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#modalStuff{{ stuff.pk }}">
                <i class="fa fa-pencil-alt"></i> Editer l'appareil
            </a>
                    </h4>
                    {% include "inventory/modal_stuff.html" with stuff=stuff stuff_form=stuff_form|initial_stuff:stuff %}
          <div class="card p-4">
            <div class="row">
                <div class="col-md-6 p-1">
                    <i class="pr-2">Propriétaire</i> 
                    <a href="{{stuff.owner.get_absolute_url}}">{{stuff.owner}}</a>
                </div>
                <div class="col-md-6 p-1">
                  <i class="pr-2">Localisation</i> 
                  {% if stuff.place %}
                    <a href="{{stuff.place.get_absolute_url}}">
                        {{stuff.place}}
                    </a>
                  {% else %}
                    Chez l'utilisateur
                  {% endif %}
                </div>
                <div class="col-md-6 p-1">
                    <i class="pr-2">Etat</i> 
                    {% include "inventory/stuff_state_display.html" with stuff_state=stuff.get_state_display %}
                </div>
            </div>
          </div>
          <h4 class="mt-4">Historique</h4>
          <div class="card p-4">
            <p>
              {% for h in stuff.history.all %}
              <a href="{{h.history_user.get_absolute_url}}">{{h.history_user}}</a>
                {% if h.history_type == '+' %}
                  à créé l'appareil comme étant
                    {% include "inventory/stuff_state_display.html" with stuff_state=h.get_state_display %}
                  , localisé 
                    {% if h.place %}
                     à {{h.place}}
                    {% else %}
                     chez l'utilisateur
                    {% endif %}
                  , appartenant à 
                  {% if h.ower %}
                    {{ h.owner }}
                  {% else %}
                    personne
                  {% endif %}
                  , le {{ h.history_date }}
                {% elif h.history_type == '~' %}
                  a modifié l'appareil comme 
                  {% if h.get_state_display != h.prev_record.get_state_display %}
                    {% include "inventory/stuff_state_display.html" with stuff_state=h.get_state_display %}
                  {% endif %}
                  {% if h.place != h.prev_record.place %}
                    étant déplacé 
                    {% if h.place %}
                    à {{h.place}}
                    {% else %}
                    chez l'utilisateur 
                    {% endif %}
                  {% endif %}
                  {% if h.member_owner == None and h.organization_owner == None %}
                  appartenant à personne,
                  {% else %}
                    {% if h.member_owner != h.prev_record.member_owner and h.member_owner != None %}
                      appartenant à {{ h.member_owner }},
                    {% endif %}
                    {% if h.organization_owner != h.prev_record.organization_owner and h.organization_owner != None %}
                      appartenant à {{ h.organization_owner }},
                    {% endif %}
                  {% endif %}
                  le {{ h.history_date }}
                {% endif %}

                <br>
              {% endfor %}
                </p>
            </div>
          </div>
        </div>  
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $("#side_nav").sticky({topSpacing:40});
    $("#breadcrumb").sticky({topSpacing:0});
  });
</script>
{% endblock %}

