{% extends 'base.html' %}
{% load assets app_filters thumbnail initialavatar static %}
{% block title %}Page de {{stuff}} {% endblock %}

{% block content %}
<div class="container-fluid">
  {% include "breadcrumb.html" with current=stuff first_parent_url="" first_parent_text="Appareils" %}
  <div class="container">
    <section class="h-100 row">
        <div class="col-md-4 p-4 d-flex flex-wrap align-items-center bg-light">
          {% if stuff.device.picture %}
            <img class="img-responsive w-100" src="{{ stuff.device.picture.url }}" alt="image_device">
          {% else %}
            <div class="w-100">
              <h3 class="text-center text-muted">Pas d'apercu</h3>
            </div>
          {% endif %}
        </div>
        <div class="col-md-8 p-4">
            <h4 class="pt-2 pb-2 header_detail_page_title">{{ stuff }}
              <a class="btn btn-success btn-sm rounded-circle" data-toggle="modal" data-target="#modalStuff{{ stuff.pk }}">
                  <i class="fa fa-pencil-alt"></i>
              </a>
            </h4>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pr-2">Categorie</b> 
                {% for parent in stuff.device.category.get_ancestors %}
                  {{ parent }} > 
                {% endfor %}
                <a href="{{ stuff.device.get_absolute_url }}">{{ stuff.device }}</a>
                <a class="btn btn-default rounded-circle btn-sm float-right">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pr-2">Propriétaire</b> 
                <a href="{{ stuff.owner.get_absolute_url }}">
                  {% if stuff.owner.picture %}
                    {% thumbnail stuff.owner.picture "30x30" crop="left" format="PNG" as im %}
                      <img class="img-fluid rounded-circle square-2" src="{{ im.url }}" alt="organization img">
                    {% endthumbnail %}
                  {% endif %}
                  {{stuff.owner}}
                </a>
                <a class="btn btn-default rounded-circle btn-sm float-right">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
              <b class="pr-2">Localisation</b> 
              {% if stuff.place %}
                <a href="{{stuff.place.get_absolute_url}}">
                    {{stuff.place}}
                </a>
              {% else %}
                Chez l'utilisateur
              {% endif %}
              <a class="btn btn-default rounded-circle btn-sm float-right">
                <i class="fa fa-pencil-alt"></i>
              </a>
            </span>
            </div>
            <div class="card col-md-12 mb-2 p-3">
              <span>
                <b class="pr-2">Etat</b> 
                {% include "inventory/stuff_state_display.html" with stuff_state=stuff.get_state_display %}
                <a class="btn btn-default rounded-circle btn-sm float-right">
                  <i class="fa fa-pencil-alt"></i>
                </a>
              </span>
            </div>
          </div>
    </section>
    <section class="row">
      <div class="col-md-4 p-4">
        <h4 class="">Historique</h4>
        <div class="card p-4 mt-2 overflowded">
          <p>
            {% for h in stuff.history.all %}
            <span>
            <a href="{{h.history_user.get_absolute_url}}">{{h.history_user}}</a>
              {% if h.history_type == '+' %}
                à créé l'appareil comme étant
                  {% include "inventory/stuff_state_display.html" with stuff_state=h.get_state_display %}
                , localisé 
                  {% if h.place %}
                  à {{h.place}}
                  {% else %}
                  chez l'utilisateur
                  {% endif %}
                , appartenant à 
                {% if h.ower %}
                  {{ h.owner }}
                {% else %}
                  personne
                {% endif %}
                , le {{ h.history_date }}
              {% elif h.history_type == '~' %}
                a modifié l'appareil comme 
                {% if h.get_state_display != h.prev_record.get_state_display %}
                  {% include "inventory/stuff_state_display.html" with stuff_state=h.get_state_display %}
                {% endif %}
                {% if h.place != h.prev_record.place %}
                  étant déplacé 
                  {% if h.place %}
                  à {{h.place}}
                  {% else %}
                  chez l'utilisateur 
                  {% endif %}
                {% endif %}
                {% if h.member_owner == None and h.organization_owner == None %}
                appartenant à personne,
                {% else %}
                  {% if h.member_owner != h.prev_record.member_owner and h.member_owner != None %}
                    appartenant à {{ h.member_owner }},
                  {% endif %}
                  {% if h.organization_owner != h.prev_record.organization_owner and h.organization_owner != None %}
                    appartenant à {{ h.organization_owner }},
                  {% endif %}
                {% endif %}
                le {{ h.history_date }}
              {% endif %}
              <br>
            </span>
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="col-md-8 p-4">
        <h4 class="">Dossiers de réparation</h4>
          {% include "inventory/repair_folder.html" %}
      </div>
    </section>
  </div>
</div>  
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $("#side_nav").sticky({topSpacing:40});
    $("#breadcrumb").sticky({topSpacing:0});
  });
</script>

<script>

function readCookie (name) {
  var nameEQ = name + '=';
  var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}

var csrftoken = readCookie('csrftoken');

</script>
<script type="application/javascript" src="{% static 'js/vue/app.js' %}"></script>
{% endblock %}

