/* forms */

.was-validated,
.is-valid {
  background-image: none !important;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}
.select2-container {
  display: block !important ;
  z-index: 9999;
  width: 100% !important;
}

.model_edit_stuff {
  span {
    min-width: 0em !important;
  }
  .select2-selection {
    background-image: none !important;
  }
}
.search-bar {
  .form-group {
    padding: 0px !important ;
    margin-bottom: 0px !important;
    width: 45%;
  }
  .input-group-text {
    border: 0px !important ;
    background-color: #fff !important;
  }
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  //background-color: $primary !important;
}
