/* Menu */

.navbar {
    li {
        a{
            font-size: 1.3em;
            i{
                font-size: 1.5em;
            }
        }
        :hover {
            color: $secondary;
        }
        span{
            padding-top: -15px;
        }
    }


}