/* Modals */

.event-book-mobile {
  position: fixed !important;
  top: calc(100% - 50px) !important;
  left: 0px;
  z-index: 4;
  transition: all;
  transition-duration: 0.5s;
  overflow-y: scroll;
}

.event-book-mobile-show {
  top: 0px !important;
  bottom: 0px;
}




/* autocomplete */
.select2-selection__clear {
  font-size: 20px;
  color: $danger;
}

.tox-tinymce {
  max-height: 250px;
}

/* sizes */

.square-2 {
  width: 2em;
  height: 2em;
}

.alert {
  position: fixed !important;
  top: 100px;
  z-index: 10000;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 0px 05px 50px black;
  right: -1000px;
  transition: all;
  transition-duration: 0.5s;
}

.alert-success {
  color: white;
  background-color: $success;
  border: 0px;
}

.alert-danger {
  color: white;
  background-color: $danger;
  border: 0px;
}

.alert-dismissible .close {
  position: static !important;
  float: none;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  div[class^="col-"] {
    width: 100%;
  }

  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    font-size: 1.5rem !important;
  }
  p,
  .lead,
  b {
    font-size: 0.9rem;
  }
  .fixed_sidedar {
    position: initial !important;
  }
  .header_detail_page {
    z-index: 2;
  }
  #side_nav {
    width: 100%;
  }
  .navbar-brand.avatar .nav-link small {
    display: none;
  }

  .header_detail_page_picture {
    padding-top: 10px !important;
    img {
      width: 75px;
      height: auto;
      margin: 0px !important;
    }
  }
  .user-title {
    text-align: left !important;
  }
  .header_detail_page_title {
    padding-top: 10px !important;
    line-height: 75px;
  }

  #v-pills-tab {
    width: 100%;
    padding: 0px !important;
    a {
      font-size: 12px;
      color: #828282;
    }
    a.active {
      color: #484848;
    }
  }
  .event_list_cards {
    column-count: 1;
  }

  #event_about {
    padding-bottom: 10px !important;
  }
  #event_map {
    z-index: 1;
  }
  #map {
    visibility: hidden;
  }
  .header_detail_page,
  #h_nav,
  #breadcrumb,
  #jumbotron,
  #search_tab,
  #event_title,
  .booking_form,
  .jumbotron {
    z-index: 1 !important;
  }
  .modal.show .modal-dialog {
    z-index: 3 !important;
    display: relative;
  }
}

// Menu hack for mobile slide left up //

.menu-localisation input {
  width: 100%;
  transition: all 0.3s ease;
}

input.toggle-modal {
  visibility: hidden;
  position: absolute;
}

input.toggle-modal:checked ~ .modal {
  display: block;
  opacity: 1;
  padding-top: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
}

input.toggle-modal:checked ~ div .menu-localisation input {
  width: 100%;
  background-color: white;
  border-color: #ced4da;
}

.modal-event {
  width: 50vw;
  margin: auto;
  @media (max-width: 700px) {
    width: 90vw;
  }
}



#add-stuff{
  i.fa-box-open{
    font-size: 2em;
  }

}