{% load assets app_filters thumbnail initialavatar bootstrap4 static %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
<div class="pt-2">
  <div class="">
    <h5 class="text-white">
      <i class="mt-2 far fa-hand-peace fa-3x"></i> Réservation confirmée !
    </h5>
  </div>
  <span class="mt-2 d-block mb-3">
    <i class="text-danger">Noubliez-pas : réserver une place vous engage à participer.</i>
  </span>
  <h5> 
  {% if user_success_booking.avatar_img %}
    {% thumbnail user_success_booking.avatar_img "50x50" crop="center" format="PNG" as im %}
      <img src="{{ im.url }}" class="m-2 rounded-circle"/>
    {% endthumbnail %}
  {% else %}
    {% if user_success_booking.first_name %}
      {% get_initial_avatar user_success_booking 50 'circle' %}
    {% endif %}
  {% endif %}
  {{user_success_booking}}
  </h5>
  {% if event.allow_stuffs %}
    <div class="mt-5 mb-5 text-center">
      <h5 class="m-4">Dites-nous quel objet vous apportez !</h5>
      <span> Sélectionner un objet dans votre inventaire ci-dessous, ou 
        <a class="bs-modal text-white" href="#" data-form-url="{% url 'event:create_user_event_stuff' event.pk user_success_booking.pk %}">
          créez-en un nouveau 
        </a> puis selectionnez-le 
      </span>
        {% if user_success_booking.user_stuffs %}
          <div class="">
            <div class="mt-4 shadow-sm">
              <form method="POST" action="{% url 'event:add_stuff_event' event.pk user_success_booking.pk %}">
                {% csrf_token %}
              <div class="table-responsive bordered">
                <table class="table mb-0 text-left" if="stuffs-table">
                  <thead>
                    <tr>
                      <th colspan="2">Mon inventaire</th>
                      <th>Sélectionner</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td colspan="3" class="text-center">
                      <a class="bs-modal" href="#" data-form-url="{% url 'event:create_user_event_stuff' event.pk user_success_booking.pk %}">
                        créer un autre objet
                      </a>
                    </td>
                    </tr>
                      {% for stuff in user_success_booking.user_stuffs.all %}
                      <tr>
                        <td scope="row" colspan="2">{{ stuff }}</td>
                        <td class="text-right">
                          <input class="form-check-input" type="radio" name="selectedstuff" value="{{stuff.pk}}">
                        </td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="3">
                        Cet utilisateur n'a pas d'objet dans son inventaire
                        </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <button type="submit" id="submit" class="btn btn-primary w-100 p-3">Valider mon choix</button>
              </form>
            </div>
          </div>
          {% endif %}
        </div>
      {% endif %}
  </div>
{% block extra_js %}
  <script type="text/javascript">
    $(document).ready(function(){
    $(".bs-modal").each(function () {
      $(this).modalForm({
          formURL: $(this).data('form-url')
      });
    });
    });
  </script>
{% endblock %}


