{% load thumbnail %}
{% load initialavatar %}

{% for event in event_list %}
  {% with registereds=event.registered.all organizers=event.organizers.all %}
    <div class="row bg-white infinite-item mb-4  bordered
    {% if request.user in registereds or request.user in organizers %}
    border-success {% endif %}
    event shadow-sm p-2" data-location="{{event.location.pk|escape}}">
      <div class="col-2 p-1 text-muted text-center">
        {% if event.organization.picture %}
          {% thumbnail event.organization.picture "100x100" crop="left" format="PNG" as img %}
            <img class="img-fluid rounded-circle" src="{{ img.url }}" alt="organization img">
          {% endthumbnail %}
        {% endif %}
        <span class="">
          <h6><i>{{event.organization}}</i></h6>
        </span>
        {% if request.user in registereds %}
          <span class="bg-success badge-pill badge">Je participe</span><br>
        {% endif %}
        {% if request.user in organizers %}
          <span class="bg-success badge-pill badge">J'anime</span><br>
        {% endif %}
        {% if booking == False %}
          {% if external == True %}
            <span class="text-success">Réservation externe</span>
          {% else %}
            <span class="text-success">Sans réservation</span>
          {% endif %}
        {% endif %}
        {% if event.is_free %}
          <span class="text-success">Places non limitées</span>
        {% elif event.remaining_seats <= 0 %}
          <span class="text-danger">Complet</span>
        {% else %}
          <span
          class="font-weight-bold
            {% if event.remaining_seats <= 0 %}
              text-danger
            {% elif event.remaining_seats == event.available_seats %}
              text-success
            {% else %}
              text-warning
            {% endif %}
            ">
          <i class="fas fa-users"></i>
          {{event.remaining_seats}}/{{event.available_seats}} places disponibles
          </span>
        {% endif %}
      </div>
      <div class="{% if minimal != True %}col-md-8 col-xl-8 col-10{% else %}col-7{% endif %}">
        <a href="{{event.get_absolute_url}}">
          <div class="p-2">
            <span>
              <h5 class="text-primary">
                <i class="far fa-calendar-alt"></i>
                {{ event.date|date:"l j F Y " }}<br>
                <small>
                  <i class="far fa-clock"></i>
                  {{ event.starts_at }} à {{ event.ends_at }}
                </small>
              </h5>
            </span>
            <hr class="mb-1">
            <div>
              {% if minimal != True %}
                <h5 class="mb-0">{{ event.activity.category.name }}</h5>
                <h4 class="mb-0 fw-bold">{{ event.activity.name|truncatechars:40 }}</h4>
                {% if event.collaborator %}
                  <span class="text-primary mb-1">en collaboration avec <span class="fw-bold">{{ event.collaborator }}</span></span>
                {% endif %}
              {% endif %}
            </div>
            <span>
              <i class="fa fa-map-marker-alt text-success"></i>
              {{event.location.name}}
            </span>
            {% if event.organization in request.user.groups_organizations %}
              <div class="mini-organizers ps-2 pt-1">
                {% for orga in organizers %}
                <div class="position-relative float-start mini">
                  {% if orga.avatar_img %}
                    {% thumbnail orga.avatar_img "25x25" crop="center" format="PNG" as im %}
                      <img src="{{ im.url }}" class="rounded-circle"/>
                    {% endthumbnail %}
                  {% else %}
                    {% if orga.first_name %}
                      {% get_initial_avatar orga 25 'circle' %}
                    {% endif %}
                  {% endif %}
                </div>
                  {% endfor %}
                <small class="align-middle
                  {% if event.needed_organizers != 0 %}
                    {% if event.needed_organizers > organizers.count %}
                      text-danger
                    {% elif event.needed_organizers <= organizers.count %}
                      text-success
                    {% else %}
                      text-warning
                    {% endif %}
                  {% endif %}">
                  {% if event.needed_organizers != 0 %}
                    {{ organizers.count }}/{{ event.needed_organizers }} animateurs
                  {% endif %}
                </small>
              </div>
            {% endif %}
            {% if minimal != True %}
            <hr>
            <small class="text-muted">
              <i>
              {% if event.description %}
                {{ event.description | safe | truncatewords_html:15 }}
              {% else %}
                {{ event.activity.description | safe | truncatewords_html:8 }}
              {% endif %}
              </i>
            </small>
            {% endif %}
        </div>
        </a>
      </div>
      <div class="col-12 col-md-2 col-xl-2 text-center d-flex align-items-end flex-column">
        <a href="{{event.get_absolute_url}}" class="btn btn-secondary w-100 m-2 mt-auto">
          Voir
        </a>
      </div>
    </div>
  {% endwith %}
{% endfor %}
