{% extends 'base.html' %}
{% load assets l10n app_filters static %}
{% load thumbnail %}
{% load initialavatar %}
{% block title %} {{event}} {% endblock %}

{% block extra_css %}
  {% assets "css_detail_event" %}
  <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}

<!-- Modals -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>


<!-- Breadcrumb -->
{% url "event:list" as event_list_url %}
{% include "breadcrumb.html" with current=event first_parent_url=event_list_url first_parent_text="Évènements" %}


<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid no-padding-jumbotron"
style="background-image:url('{{event.activity.picture.url}}');background-size:cover; min-height: 200px;background-position: center;">
  <div class="container text-center d-flex justify-content-center align-items-center flex-md-column">
    <div class="header_detail_page_picture">
    </div>
  </div>
</div>

{% block admin %}{% endblock %}

{% include "event/detail/event_detail_visitor.html" %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(function () {
   $.fn.modal.Constructor.prototype._enforceFocus = function() {};
   $(".bs-modal").each(function () {
     $(this).modalForm({
         formURL: $(this).data('form-url')
     });
   });
 });
 </script>

  {% if is_active %}
    {{ users|json_script:"emails-data" }}
  {% endif %}

  <script>
      const longitude = {{event.location.longitude|unlocalize}};
      const latitude = {{event.location.latitude|unlocalize}};
  </script>

<script>
    $(document).ready(function(){
      $("#event_title").sticky({topSpacing:65});
      $(".booking_form").sticky({topSpacing:105});
      $("#event-book").sticky({topSpacing:155});
    });
  </script>

  {% assets "js_detail_event" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
