{% extends 'base.html' %}
{% load static i18n l10n %}
{% load bootstrap5 app_filters assets %}
{% include 'autocomplete_light/static.html' %}
{% block title %}Les événements disponibles sur {{site_title}} {% endblock %}

{% block content %}
  {% include "breadcrumb.html" with current="Événements" %}
  <section class="container-fluid shadow-sm" id="search_tab">
      <div class="col-lg bg-white">
        <div id="search" class="collapse">
            <form method="GET" class="form-row" action="{% url 'event:list' %}">
                <div class="input-group search-bar d-flex un-z-index">
                    {% bootstrap_field search_form.activity form_group_class="col-md-4" %}
                    {% bootstrap_field search_form.place form_group_class="col-md-4" %}
                    {% bootstrap_field search_form.organization form_group_class="col-md-2" %}
                    <div class="col-md-2 p-3 mt-3">
                      <button type="submit" class="btn btn-secondary w-100">
                        <span class=""><i class="fa fa-search"></i>Rechercher</span>
                      </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg text-center mb-3">
            {% if results_number == 0 %}
              Aucun évènement trouvé pour vos critères de recherche
            {% else %}
              {{ results_number }} résultats pour votre recherche
            {% endif %}
          </div>
      <a class="text-center d-block"
        data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
       Filtrer les résultats
       <span class="btn btn-secondary">
          <i class="fa fa-search"></i>
       </span>
      </a>
    </div>
  </section>
  <section class="container-fluid">
  <!-- alerts
  <div class="container-fluid">
      <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        INFOS : suite aux nouvelles mesures sanitaires, les événéments affichés sont fortement succeptibles d'être annulés
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>-->
    <div class="col-md-8 d-flex justify-content-center flex">
        <div class="infinite-container event_list_cards col-md-10 mt-4">
          {% include "event/event_cards.html" with event_list=event_list card_size='col-md-12' %}
        </div>
        <div class="col-md-4 no-gutters" id="map">          
            {% include "location/place_list.html" %}
        </div>
    </div>
  </section>
  <div class="loading d-none"></div>
  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Affichage en cours...</a>
  {% endif %}
  <div class="position-fixed bg-white text-center d-block d-md-none d-lg-none d-xl-none" style="bottom: 0px; width:100%">
    <a class="btn btn-success" id="map_show" onclick="display_map()">Afficher la carte</a>
  </div>

{% block extra_js %}
  <script>
    function display_map(){
          if($("#map_show").html() == "Afficher la carte" ){
            $("#map_show").html("Cacher la carte")
            $("#map").css("visibility",'visible')
          }
          else {
            $("#map_show").html("Afficher la carte")
            $("#map").css("visibility",'hidden')
          }
      };
    $(document).ready(function(){
      $("#breadcrumb").sticky({topSpacing:65});
      $("#search_tab").sticky({topSpacing:100});
    });
  </script>
  {% assets "js_event_list" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {{ search_form.media }}

{% endblock %}

{% endblock %}
