{% load thumbnail %}
{% load initialavatar %}

{% for event in event_list %}
  <div class="bg-white infinite-item mb-4 d-flex flex-wrap bordered 
  {% if request.user in event.registered.all or request.user in event.presents.all or request.user in event.organizers.all %}
  border-success {% endif %}
  event shadow-sm p-2" data-location="{{event.location.pk|escape}}">
    <div class="col-2 text-muted text-center">
      {% if event.organization.picture %}
        {% thumbnail event.organization.picture "100x100" crop="left" format="PNG" as img %}
          <img class="img-fluid rounded-circle float-left" src="{{ img.url }}" alt="organization img">
        {% endthumbnail %}
      {% endif %}
      <span class="text-muted">
        <small><i>{{event.organization}}</i></small>
      </span><br>
      {% if request.user in event.registered.all or request.user in event.presents.all %}
        <span class="badge badge-success badge-pill">Je participe</span><br>
      {% endif %}
      {% if request.user in event.organizers.all %}
        <span class="badge badge-success badge-pill">J'anime</span><br>
      {% endif %}
      {% if event.is_free %}
        <span class="text-success">Pas de limite de places</span>
      {% elif event.remaining_seats <= 0 %}
        <span class="text-danger">Complet</span>
      {% else %}
        <span
        class="font-weight-bold
          {% if event.remaining_seats <= 0 %}
            text-danger
          {% elif event.remaining_seats == event.available_seats %}
            text-success
          {% else %}
            text-warning
          {% endif %}
          ">
        <i class="fas fa-users"></i>    
        {{event.remaining_seats}}/{{ event.available_seats}}
        </span>
      {% endif %}
    </div>      
    <div class="{% if minimal != True %}col-md-8 col-xl-8 col-10{% else %}col-7{% endif %}"> 
      <a href="{{event.get_absolute_url}}">
        <div class="p-2">
          <span>
            <h5 class="text-primary">
              <i class="far fa-calendar-alt"></i>    
              {{ event.date|date:"l j F Y " }}<br>
              <small>
                <i class="far fa-clock"></i>  
                {{ event.starts_at }} à {{ event.ends_at }}
              </small>
            </h5>
          </span>
          <hr class="mb-1">
          <div>
            {% if minimal != True %}
              <h5 class="mb-0">{{ event.activity.category.name }}</h5>
              <h5 class="mb-0">{{ event.activity.name|truncatechars:40 }}</h5>
              {% if event.collaborator %}
                <small class="text-muted mb-1">en partenariat avec {{ event.collaborator }}</small>
              {% endif %}
            {% endif %}
          </div>
          <small>
            <i class="fa fa-map-marker-alt text-success"></i>
            {{event.location.name}}
          </small>
          {% if request.user in event.organization.volunteers.all or event.organization.actives.all or event.organization.admins.all %}
            <div class="mini-organizers pl-2 pt-1">
              {% for orga in event.organizers.all %}
              <div class="position-relative float-left mini">
                {% if orga.avatar_img %}
                  {% thumbnail orga.avatar_img "25x25" crop="center" format="PNG" as im %}
                    <img src="{{ im.url }}" class="rounded-circle"/>
                  {% endthumbnail %}
                {% else %}
                  {% if orga.first_name %}
                    {% get_initial_avatar orga 25 'circle' %}
                  {% endif %}
                {% endif %}
              </div>
                {% endfor %}
              <small class="align-middle
                {% if event.needed_organizers != 0 %}
                  {% if event.needed_organizers > event.organizers.all.count %}
                    text-danger
                  {% elif event.needed_organizers <= event.organizers.all.count %}
                    text-success
                  {% else %}
                    text-warning
                  {% endif %}
                {% endif %}"> 
                {% if event.needed_organizers != 0 %}
                  {{ event.organizers.all.count }}/{{ event.needed_organizers }} animateurs
                {% endif %}
              </small>
            </div>
          {% endif %}
          {% if minimal != True %}
          <hr>
          <small class="text-muted">
            <i>
            {% if event.description %}
              {{ event.description | safe | truncatewords_html:15 }}
            {% else %}
              {{ event.activity.description | safe | truncatewords_html:8 }}
            {% endif %}
            </i>
          </small>
          {% endif %}
      </div>
      </a>
    </div>
    <div class="col-12 col-md-2 col-xl-2 text-center d-flex align-items-end flex-column">
      <a href="{{event.get_absolute_url}}" class="btn btn-secondary w-100 m-2 mt-auto">
        Voir
      </a>
    </div>    
  </div>
{% endfor %}


