{% extends 'base.html' %}
{% load bootstrap5 assets static %}
{% block title %}
  {% if event %}
  Mise à jour de {{event}}
  {% else %}
  Créer un nouvel évènement pour {{orga}}
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% assets "css_create_edit_event" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  {% url "event:list" as event_list_url %}
  {% if event %}
    {% url "event:detail" event.pk event.slug as event_detail_url %}
    {% include "breadcrumb.html" with current="Mise à jour" second_parent_url=event_list_url second_parent_text="Évènements" first_parent_url=event_detail_url first_parent_text=event %}
  {% else %}
    {% include "breadcrumb.html" with current="Création" first_parent_url=event_list_url first_parent_text="Évènements" %}
  {% endif %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="p-2">
        {{ orga }} <br>
        {% if event %}
          Mise à jour de '{{ event }}'
        {% else %}
          Création d'un nouvel évènement
        {% endif %}
      </h4>
    </div>
  </div>
  <section class="container mt-4">
    <div class="card p-3">

      <div id="event-form-app"
           data-event="{{ json_event }}"
           data-activities="{{ json_activities }}"
           data-places="{{ json_places }}"
           data-conditions="{{ json_conditions }}"
           data-organizers="{{ json_organizers }}">
      </div>
      {# <form method="post" enctype="multipart/form-data"> #}
      {#   {% csrf_token %} #}
      {#   {% bootstrap_form form %} #}
      {#   <div class="form-group p-2"> #}
      {#     <button type="submit" class="btn btn-success w-100 p-3">Valider</button> #}
      {#   </div> #}
      {# </form> #}

    </div>
  </section>
  <script src="{% static 'js/vue.apps.bundle.js' %}"></script>
  <link type="text/css" href="{% static 'js/vue.apps.bundle.css' %}" rel="stylesheet"/>
{% endblock %}

{# {% block extra_js %} #}
{# {{ form.media }} #}
{# {% endblock %} #}
