{% extends "base.html" %}
{% load static i18n l10n %}
{% load bootstrap5 app_filters assets %}
{% include "autocomplete_light/static.html" %}
{% block title %}
  Les événements disponibles sur {{ site_title }}
{% endblock title %}
{% block content %}
  {% include "breadcrumb.html" with current="Événements" %}
  <div class="bg-white shadow-sm pb-2">
    <div class="container">
      <section class="container " id="search_tab">
        <div class="col bg-white">
          <div id="search">
            <form method="GET" class="form-row" action="{% url 'event:list' %}">
              <div class="input-group search-bar row">
                {% bootstrap_field search_form.activity form_group_class="col-md-4" %}
                {% bootstrap_field search_form.organization form_group_class="col-md-4" %}
                <div class="col-md-2 p-2 mt-3">
                  <button type="submit" class="btn btn-secondary w-100">
                    <span><i class="fa fa-search"></i>Rechercher</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg text-left mb-3">
            {% if results_number == 0 %}
              Aucun évènement trouvé pour vos critères de recherche
            {% else %}
              {{ results_number }} résultats pour votre recherche
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <section class="container">
    <div class="row">
      <div class="col-8 infinite-container event_list_cards mt-4">
        {% include "event/event_cards.html" with event_list=event_list card_size='col-md-12' %}
      </div>
      <div class="col-4" id="map">
        <div class="affix">{% include "location/place_list.html" with places=places %}</div>
      </div>
    </div>
  </section>
  <div class="loading d-none"></div>
  {% if page_obj.has_next %}
    <a class="infinite-more-link"
       href="?page={{ page_obj.next_page_number }}">Affichage en cours...</a>
  {% endif %}
  <div class="position-fixed bg-white text-center d-block d-md-none d-lg-none d-xl-none"
       style="bottom: 0px;
              width:100%">
    <a class="btn btn-success" id="map_show" onclick="display_map()">Afficher la carte</a>
  </div>
{% endblock %}
{% block extra_js %}
  {% assets "js_event_list" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {{ search_form.media }}
{% endblock extra_js %}
