{% extends 'event/event_detail.html' %}

{% load assets l10n app_filters static %}
{% load thumbnail %}
{% load initialavatar %}

{% block admin %}
<div class="d-md-flex p-4">
    <div class="pe-4 pt-2" id="event_about">
      <h5 class="text-danger">
        <i class="fa fa-calendar-alt"></i> {{ event.date|date:"l j F Y " }} de {{ event.starts_at }} à {{ event.ends_at }}
      </h5>
      <h3 class="">
        {% if event.activity.category %} {{ event.activity.category }} - {% endif %} {{ event.activity }}
          {% if is_active %}
            <a href="{% url 'event:edit' event.pk %}" class="me-1 btn btn-secondary rounded-circle"><i class="fa fa-pencil-alt"></i></a>
          {% endif %}
          {% if is_admin %}
            <a href="{% url 'event:delete' event.pk %}" class="btn btn-danger rounded-circle"><i class="fa fa-trash"></i></a>
          {% endif %}
      </h3>
      <p class="lead mb-1">
        {% if event.collaborator %}
          <small>en partenariat avec {{ event.collaborator }}</small>
        {% endif %}
      </p>
      {% if members_only %}
        <p>Réservé aux membres de l'association</p>
      {% endif %}
      {% if membership_url %}
        <p><a href="{{ membership_url }}" title="Paiement d'adhésion en ligne" target="_blank">Adhérer en ligne</a></p>
      {% endif %}
      <h5 class="text-muted">
        {% if event.is_free %}
          <span class="badge bg-secondary badge-pill">Sans limite de place</span>
        {% else %}
          {% if event.remaining_seats <= 0 %}
            <span class="badge bg-warning badge-pill">Complet</span>
          {% else %}
            <span class="badge bg-secondary badge-pill">{{ event.remaining_seats }}</span> places disponibles
          {% endif %}
        {% endif %}
        {% if event.booking == False and event.external == False %}
          <span class="badge bg-secondary badge-pill">Sans réservation</span>
        {% elif event.external == True %}
          <span class="badge bg-secondary badge-pill">Réservation externe</span>
        {% endif %}
        {% if request.user in event.registered.all or request.user in event.presents.all %}
          <span class="bg-success badge-pill badge">Inscrit</span>
        {% endif %}
        {% if request.user in event.organizers.all %}
          <span class="bg-success badge-pill badge">Animateur</span>
        {% endif %}
      </h5>
      {% if event.allow_stuffs %}
        <h6 class="text-muted"><i class="fas fa-tools"></i> Cet événement gère les réparations</h6>
      {% endif %}
      {% if event.booking == True and event.external == False %}
        <h3>Total perçus: <b>{{ total_fees }}€ cotisations  {% if event.conditions %} / {{total_participations}}€ participations {% endif %}</b></h3>
      {% endif %}
    </div>
      {% with organizers=event.organizers.all %}
        <div class="card col-md mb-2">
          <div class="card-body p-2">
            <h5 class="mb-2
            {% if event.needed_organizers != 0 %}
              {% if event.needed_organizers > organizers.count %}
                text-danger
              {% elif event.needed_organizers <= organizers.count %}
                text-success
              {% else %}
                text-warning
              {% endif %}
            {% endif %}">
            <i class="fa fa-user"></i>
            {{ organizers.count }}
            {% if event.needed_organizers != 0 %}
              /{{ event.needed_organizers }}
            {% endif %}
            Animateur·trice·s {% include "event/register_organizer.html" with event_to_organize=event %}
            </h5>
            <div class="">
              {% for user in organizers %}
                <div class="badge m-1 badge-pill badge-light">
                  <a class="card-link h6" href="{{ user.get_absolute_url }}" id="square-{{ user.pk }}">
                    {% if user.avatar_img %}
                      {% thumbnail user.avatar_img "35x35" crop="center" format="PNG" as im %}
                        <img src="{{ im.url }}" class="rounded-circle"/>
                      {% endthumbnail %}
                    {% else %}
                      {% if user.first_name %}
                        {% get_initial_avatar user 35 'circle' %}
                      {% endif %}
                    {% endif %}
                    {{user}}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endwith %}
    </div>
    <div class="d-flex p-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="mb-2">
            <i class="fa fa-user"></i>
            {{ event.registered.all.count }} Participant·e·s {% include "event/register_participants.html" with event_to_organize=event %}
          </h5>
        </div>
      {% include "event/detail/registered_users.html" with users=event.registered.all event_control=True %}
      </div>
    </div>
</div>

{% assets "js_groups_organization" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if is_active %}
{{ emails|json_script:"emails-data" }}
{% endif %}

{% endblock %}
