{% extends "./parts/modal.html" %}
{% load app_filters bootstrap5 %}
{% block idBtnModal %}more-info-{{ user.pk|escape }}-{{target_organization.pk|escape }}{% endblock idBtnModal %}
{% block idModal %}more-info-{{ user.pk|escape }}-{{target_organization.pk|escape }}{% endblock idModal %}
{% block contentBtnModal %}
<i class="fa fa-plus"></i> ajouter
{% endblock contentBtnModal %}
{% block titleModal %}
  Ajouter/modifier 
{% endblock titleModal %}
{% block contentModal %}
<div class="modal-body">
  <h5>{{target_organization}}</h5>
  <br>
  <b>
    {% filter_orga queryset=user.memberships organization=target_organization as membership %}
      {% if membership %}
        <p>
          statut
          {% if membership.current_contribution == 0 %}
            <span class="text-danger">Pas à jour</span>
            <span class="badge badge-pill bg-danger">{{ membership.current_contribution }}€</span>
          {% elif membership.current_contribution >= target_organization.advised_fee %}
            <span class="text-success">A jour</span>
            <span class="badge badge-pill bg-success">{{ membership.current_contribution }}€</span>
          {% else %}
            <span class="text-warning">Incomplet</span>
            <span class="badge badge-pill bg-warning">{{ membership.current_contribution }}€</span>
          {% endif %}
        </p>
      {% else %}
        {{ user }} n'a pas encore contribué pour
        <span class="badge badge-pill bg-primary">{{ target_organization }}</span>
      {% endif %}
      <p>
        {{ target_organization.get_membership_system_display }} Elle
        {% if target_organization.advised_fee == target_organization.min_fee %}
          est de {{ target_organization.min_fee }}€
        {% else %}
          va de {{ target_organization.min_fee }}€ à {{ target_organization.advised_fee }}€
        {% endif %}
      </p>
    </b>
    <form action="{% if membership %}{% url 'event:update_member' target_organization.pk membership.user.pk event.pk %}{% else %}{% url 'event:add_member' target_organization.pk event.pk %}{% endif %}"
          method="post"
          class="text-left">
        {% csrf_token %}
        <div class="row ">
          {% for field in form %}
            {% bootstrap_field field form_group_class="col-md-6 p-2" %}
          {% endfor %}
        </div>
      
      <div class="modal-footer">
        <input type="submit" value="Enregistrer" class="btn btn-success btn-block">
      </div>
    </form>
  </div>
  {% endblock contentModal %}
