{% load bootstrap4 app_filters %}

<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#more-info-{{ user.pk }}">
  {% if membership %}
  <b>{{ membership.amount }}€ / {{ event.organization.advised_fee }}€</b>
  {% else %}
    <b>Adhérer</b>
  {% endif %}
  <i class="fa fa-plus"></i>
  <i class="fa fa-user"></i>
</button>


<div class="modal" id="more-info-{{ user.pk }}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Marquer quelqu'un en "présent" pour l'évènement
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <br>
        <ul class="text-left">
          <b>Note(s) :</b>
          <li>
            La contribution minimale pour cette organisation est de
            <span class="badge badge-pill badge-secondary">{{ event.organization.min_fee }}€</span>
            et la contribution totale conseillée est de
            <span class="badge badge-pill badge-success">{{ event.organization.advised_fee }}€</span>
          </li>
          {% if event.organization.fee_description %}
            <li>{{ event.organization.fee_description }}</li>
          {% endif %}
        </ul>

        {% if user.first_name %}
          <span class="h4">
            {% filter_orga queryset=user.memberships organization=event.organization as membership %}
            {% if membership %}
              {{ user }} a payé
              <span class="badge badge-pill badge-primary">
                {{ membership.current_contribution }}€
              </span>
              depuis le {{ membership.first_payment|date:"d F Y" }}
            {% else %}
              {{ user }} n'a pas encore contribué pour
              <span class="badge badge-pill badge-primary">{{ event.organization }}</span>
            {% endif %}
          </span>
        {% endif %}

        <form action="{% if membership %}{% url 'event:update_member' event.organization.pk membership.user.pk event.pk %}{% else %}{% url 'event:add_member' event.organization.pk event.pk %}{% endif %}"
              method="post"
              class="text-left">
          <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form form=form %}
          </div>
          <div class="modal-footer">
            <input type="submit" value="Enregistrer" class="btn btn-primary">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
