{% load app_filters bootstrap5 %}

<button class="btn btn-success rounded-circle" data-toggle="modal" data-target="#add_organizer{{ event_to_organize.pk | slugify }}">
    <i class="fa fa-plus"></i>
</button>
<div class="modal" id="add_organizer{{ event_to_organize.pk | slugify }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Ajouter un animateur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form action="{% url 'user:organizer_book' event_to_organize.pk %}?event={{ event_to_organize.pk }}" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {% bootstrap_form form=register_form %}
            </div>
            <div class="modal-footer">
                <input type="submit" value="Réserver" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    </div>
</div>
