{% load app_filters bootstrap5 %}
{% if admin_text or not request.user.is_authenticated %}
  {% if event.booking == False %}
    <a class="btn btn-outline-warning">Événement sans réservation</a>
  {% else %}
    {% if admin_text %}
      <button class="btn btn-success rounded-circle">
        <i class="fa fa-plus"></i>
      </button>
      {{ admin_text }}
    {% else %}
      {% if event.remaining_seats > 0 %}
        <form action="{% url 'user:create_and_book' %}?event={{ event.pk | slugify }}"
              method="post">
          {% csrf_token %}
          {% bootstrap_form form=register_form %}
          <div class="modal-footer">
            <input type="submit"
                   value="Participer"
                   class="btn btn btn-success btn-block" />
          </div>
        </form>
      {% else %}
        <a class="btn btn-block btn-outline-danger">Complet</a>
      {% endif %}
    {% endif %}
  {% endif %}
{% else %}
  {% if event.booking == False %}
    <a class="btn btn-outline-warning">Événement sans réservation</a>
  {% elif event.booking == True and event.remaining_seats > 0 or event.is_free %}
    {% if request.user not in event.registered.all and request.user not in event.organizers.all %}
      {% tokenize user=request.user event=event action='book' as tok %}
      <a href="{% url 'event:book' tok %}" class="btn btn-block btn-success">Je participe !</a>
    {% elif request.user in event.organizers.all %}
      <a class="btn btn-outine-danger">J'anime cet évènement</a>
    {% endif %}
  {% else %}
    <a class="btn btn-block btn-outline-danger">Complet</a>
  {% endif %}
  {% if request.user in event.registered.all %}
    {% if request.user in event.presents.all %}
      <h4 class="text-center">Vous ne pouvez plus annuler car vous avez été noté présent</h4>
    {% else %}
      {% tokenize user=request.user event=event action='cancel' as tok %}
      <br>
      <h4 class="text-center">Vous participez à cet événement</h4>
      <a href="{% url 'event:cancel_reservation' tok %}"
         class="btn btn-block btn-danger">Je ne participe plus</a>
    {% endif %}
  {% endif %}
{% endif %}
{% block extra_js %}
  <script>
  $(document).ready(function(){
    $(".booking_form").click(function() {
      $("#reservation{{ event.pk }}").insertBefore(".header");
});
  });
  </script>
{% endblock extra_js %}
