
{% extends 'form_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block form %}

<div class="container">

<section class="h-100">
 {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <!-- <p>Please login to see this page.</p> -->
        {% endif %}
    {% endif %}
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="img/logo.jpg">
					</div>
					<div class="card fat">

						<div class="card-body">
							<h4 class="card-title">Se connecter</h4>

							<form method="post" action="{% url 'login' %}" class="form col-md-8">
							    {% csrf_token %}
								<div class="form-group">
									{{ form.username.label_tag }}
									{{ form.username }}
								</div>

								<div class="form-group">	
									{{ form.password.label_tag }}
									{{ form.password }}
                                    {# Assumes you setup the password_reset view in your URLconf #}
                                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember"> Remember Me
									</label>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="margin-top20 text-center">
									Don't have an account? <a href="register.html">Create One</a>
								</div>
							</form>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>

    </div>
{% endblock %}