{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load django_bootstrap_breadcrumbs %}
{% load django_markdown django_markdown_static %}


{% block list %}

<div class="{{class}}" id="{{id}}">
    

        <img class="img-fluid img-place {{img_class}}" src="{{ activity.picture.url }}">

        {% if request.resolver_match.url_name != "activity_detail" %}

        <div class="card-body {{about_class}}">
            <h5 class="card-title">{{ activity.name }}</h5>
            <p class="card-text">{{ activity.description|markdown  }}</p>
            <a class="card-link" href="{% url 'activity_detail' activity.id activity.slug %}">
            More ...</a>

        </div>

        {% endif %}
      </div>

{% endblock %}