
{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="activités" view="activity_list" %}
    {{ block.super }}
{% endwith %}
{% endblock %}


{% block title %} {{ block.super }} activités {% endblock title %}


{% block list %}
<section class="">
    {% for activity in object_list %}
    {% include "plateformeweb/activity.html" with class="row" img_class="col-4" about_class="col-8" %}
    {% empty %}
    <div>No activitys yet.</div>    
  
  {% endfor %}
  </section>
{% endblock list %}



 