
 {% load staticfiles %}
 {% load fontawesome %}
 {% load app_filters %}
 {% load avatar_tags %}
 {% load django_bootstrap_breadcrumbs %}
 {% load django_markdown django_markdown_static %}
 {% load easy_maps_tags %}
 {% load activity_tags %}
 
 
 <div class="alert alert-success alert-dismissible fade show" role="alert">
        Vous avez les droits pour voir et confirmer les présences
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<div id="add-user" class="">

    <button type="button" class="btn row float-right" data-toggle="modal" data-target="#add-user-modal">
        Ajouter un utilisateur
    </button>

        <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-user-modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:450px !important">
                <!---<span>Ajouter parmi </span>
                <select class="col-md-2 col-sm-4 form-control" v-model="selected_member_type">
                    <option value=0>Tous internes à l'organisation</option>
                    <option value=30>Administrateurs</option>
                    <option value=20>Membres actifis</option>
                    <option value=10>Adhérents</option>
                </select> -->
                        <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ajouter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                        <div class="search-user">
                            <input class="search-term-user" style="width:100%" type="text" v-model="fuzzy_input" placeholder="Nom, Prénom, Email..." 
                            >
                    
                            <select id="search-user-result" class="list-group" :size="fuzzy_list.length" v-model="selected_users" multiple
                            >
                            <option class="list-group-item card" v-for="result in fuzzy_list" :value="result.pk">
                            <div class="card">
                                [[result.name]] -
                                [[result.email]] -
                                [[text_role(result.role)]]
                            </div>
                            </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn" v-on:click="add_users" value="ajouter"  data-dismiss="modal">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 </div>