{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}


<p>
    <span>Vous êtes sur le point

            {% if request.user.is_authenticated and request.user in event.attendees.all %}
                d'annuler votre réservation à</span>
            {% else %}
                de réserver à</span>
            {% endif %}

    <strong>{{event.type}} du {{ event.starts_at|date:"d M" }} à
        <a href="{% url 'place_detail' event.location.id event.location.slug %}">
        {{ event.location.name }}
        </a>
    </strong>
    </br>
    <strong>Voulez-vous confirmer ?</strong>
</p>



<form id="book-form" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="button" id="buttonsubmitreal"> PLACEHOLDER </input>
</form>

<script src="{% static 'js/helper_functions.js' %}"> </script>
<script>
function on_submit(/* e */) {
    // if (e.preventDefault) e.preventDefault();
    console.log("1")

    var btn_primary = document.body.querySelector(".btn-primary");
    var data = document.getElementById("book-form");
    // data.form.submit();
    let csrftoken = getCookie('csrftoken');
    let headers = new Headers();
    headers.append('X-CSRFToken', csrftoken);

    let payload = {
        event_id: "{{booking_id}}",
    }

    let formData = payload_to_formBody(payload);
    var ret = {}
    console.log(payload);

    fetch('/api/book/', {
        headers: headers,
        method: "POST",
        body: payload,
        credentials: 'include',
    })
        .then(handleErrors)
        .then(function(res){ return res.json(); })
        .then(function(data){
            console.log(data);
        });

    return false;
}

  document.getElementById("buttonsubmitreal").onclick = function(){
      on_submit();
  }
  // var form = document.getElementById('book-form');
  // if (form.attachEvent)
  // form.attachEvent("submit", on_submit);
  // else
  // form.addEventListener("submit", on_submit);

</script>
