

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block list %}
<div id="{{event.id}}" class="{{class}} card card-event
{% if event.available_seats <= 0 %}
    border border-danger
{% endif %}">

    <div class="row">

        <div class="text-center align-middle {{img_class}}">
            <span class="event-date">{{ event.starts_at|date:"d M" }} - {{event.available_seats}} places left</span>
            <img class="img-fluid img-place" src="{{ event.type.picture.url }}">
        </div>

        {% if request.resolver_match.url_name != "event_detail" %}
   <!-- about -->
        <div class="{{about_class}} pl-1 card-body">
            <div class="">

         

            <ul class="list-group list-group-flush">

                    <li class="">
                            <a href="{% url 'event_detail' event.id event.slug %}">
                            {{event.title}}</a>
                    </li>

                    <li class="">
                        <small>organisé par
                            <a href="{% url 'organization_detail' event.organization.id event.organization.slug %}">
                            {{ event.organization }}
                        </a></small>
                    </li>
                   
                    <li>
                        {% for condition in event.condition.all %}
                        <a> <small>{{condition.resume}}</small> </a>
                        {% endfor %}

                    </li>

                    <li class="">
                        de <span class="hour-event text-center">{{ event.starts_at|date:"H:i" }}</span>
                        à <span class="hour-event text-center">{{ event.ends_at|date:"H:i" }}</span>
                    </li>
                        <a href="{% url 'place_detail' event.location.id event.location.slug %}">
                            {% fontawesome_icon 'map-marker' %}
                            <small>{{ event.location|truncatechars:25 }}</small>
                        </a>
                    </li>

                </ul>

                <!-- book -->
                {% if not request.user.is_authenticated %}
                {% else %}
                    {% if request.user in event.organizers.all %}
                        <a class="card-link mr-3 fm-update btn btn-danger float-right btn-circle" href="{% url 'event_edit' event.id %}"
                        data-fm-head="Editer" data-fm-callback="reload">
                        {% fontawesome_icon 'edit' %}</a>

                        <a href="#" class="card-link mr-3 fm-update btn btn-danger float-right btn-circle">
                        {% fontawesome_icon 'trash' large=True %}
                        </a>
    

                    {% elif request.user in event.attendees.all%}
                        <a class="card-link mr-3 fm-update btn btn-danger float-right" href="{% url 'booking_form' event.id %}"
                        data-fm-head="Annuler" data-fm-callback="reload">
                        {% fontawesome_icon 'delete' %}
                        Annuler
                    </a>

                    {% elif request.user in event.presents.all %}
                    {% else %}
                        <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'booking_form' event.id %}"
                        data-fm-head="Confirmer" data-fm-callback="reload">
                        {% fontawesome_icon 'ticket' %}
                        Réserver
                    </a>
                    {% endif %}
                {% endif %}
            
            <div class="text-left row">

                        <div class="float-left mr-2">
                        {% if event.available_seats == 0 %}
                            <span class="badge badge-warning badge-pill">Complet</span>
                        {% else %}
                            <span class="badge badge-primary badge-pill">{{ event.available_seats }}</span>
                            <small>Places</small>
                        {% endif %}
                            
                        </div>
            
            </div>

          

        </div>
     
    </div>   {% endif %}
</div>
</div>

{% endblock list %}
