{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load easy_maps_tags %}


{% block breadcrumbs %}
  {% with type="events" view="event_list" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block title %}
  {{ block.super }}
  Events
{% endblock title %}

{% block list %}

<script src="{% static 'js/make_modal.js' %}"> </script>


<section id="event-list" class="container-fluid row gradient-bg">

    <div style="position:relative; z-index: 2;" class="col-md-3 bg-white">
    <div class="bg-white sticky-position sticky-top" style="top:100px;">

        <h5>Organisation</h5>

        <div class="form-check pb-1" v-for="organization in organizations">
            <input :value="organization.pk" v-model="selected_organization_pk" class="form-check-input" type="radio">
            <label class="form-check-label">
                [[organization.name]]
            </label>
        </div>
        <br>
        <h5>Type d'activité</h5> 

        <div class="form-check pb-1" v-for="activity in activities">
            <input :value="activity.pk" v-model="selected_activity_pk" class="form-check-input" type="radio">
            <label class="form-check-label">
                [[activity.name]]
            </label>
        </div>
        <br>
        <h5>Lieux</h5>

        <div class="form-check pb-1" v-for="place in places">
            <input :value="place.pk" v-model="selected_place_pk" class="form-check-input" type="radio">
            <label class="form-check-label">
                [[place.name]]
            </label>
        </div>
        <br>
        <h5>Dates</h5>
        <p>
        du <input type="date" v-model="selected_start_date"/> au <input type="date" v-model="selected_end_date"/>
        </p>
    </div>
    </div>

<div class="col-lg col-md-12 col-sm-12 event-list">

    <div v-for="event in selected_event_list" class="float-left col-lg-4 col-md-6 col-sm-12">
      {% include "plateformeweb/event_vuejs.html" with class="" img_class="" about_class="col-lg" %}
    </div>

    <div v-if="event_list.length == 0"><img src="{% static "img/loading-gif.gif" %}"></div>

</div>

</section>

<script src="{% static 'js/helper_functions.js' %}"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script>
  const app = new Vue({
      delimiters: ['[[', ']]'],
      el: "#event-list",
      data() {
          return {
              event_list : [],
              organizations: {},
              places: {},
              types: {},
              activities: {},
              selected_activity_pk : -1,
              selected_place_pk : -1,
              selected_organization_pk : -1,
              selected_type_pk : -1,
              selected_start_date: 0,
              selected_end_date: 0,
          }
      },
      created() {
          let csrftoken = getCookie('csrftoken');
          let headers = new Headers();
          headers.append('X-CSRFToken', csrftoken);
          fetch("/api/list_events/", {
              headers: headers,
              method: "GET",
              credentials: 'include',
          })
              .then(response => response.json())
              .then(json => {
                this.organizations = json.organizations;
                this.places = json.places;
                this.activities = json.activities;
                this.event_list = json.dates;
              });
      },
      methods: {
          filter_places: function(list){
              console.log(list);
              if(this.selected_place_pk != -1)
                  list = list.filter(event => (event.place_pk == this.selected_place_pk));
              return list;
          },
          filter_organizations: function(list){
              if(this.selected_organization_pk != -1)
                  list = list.filter(event => (event.organization_pk == this.selected_organization_pk));
              return list;
          },
          filter_activities: function(list){
              if(this.selected_activity_pk != -1)
                  list = list.filter(event => (event.type_pk == this.selected_activity_pk));
              return list;
          },
          filter_dates: function(list){
              if(this.selected_start_date != 0 && this.selected_end_date != 0){
                  start_date = new Date(this.selected_start_date).getTime();
                  end_date = new Date(this.selected_end_date).getTime();
                  console.log(start_date);
                  console.log(end_date);
                  list = list.filter(event => (event.start_timestamp >= start_date && event.start_timestamp <= end_date)) ;
              }
              return list;
          }
      },
      computed: {
          selected_event_list: function() {
            list = this.event_list;
            list = this.filter_activities(list);
            list = this.filter_places(list);
            list = this.filter_organizations(list);
            list = this.filter_dates(list);
            return list;
          },
      },
  });
</script>
<script src ="{% static 'js/event_list_onclick.js' %}"> </script>
{% endblock list %}
