{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}



{% block list %}
<a :href="event.event_detail_url">
    <div v-if="event.available_seats == 0" class="unaccessible">
    </div>

        <div class="card-header">
            <h5 class="">[[event.day_month_str ]]</h5>
            de <span class="hour-event text-center">[[event.starts_at]] à [[event.ends_at]]</span>
            <button v-if="event.user_in_organizers" :id="event.pk" purpose="trash" class="card-link btn btn-danger float-right"
            style="position:absolute; right:-10px; top:-10px" onclick="event_list_onclick(this)">
                    {% fontawesome_icon 'trash' large=True %}
            </button>
        </div>
            <img class="card-img-top {{img_class}}" :src="event.type_picture_url">

   <!-- about -->
        <div class="{{about_class}} card-body">

                    <h5 class="card-title">
                        [[event.title]]
                    </h5>

                            <span v-if="event.available_seats == 0" class="badge badge-warning">plus de place</span>
                            <span v-else class="badge badge-primary">[[ event.available_seats ]] places<span>
        </div>

                   <span> organisé par
                        <a :href="organizations[event.organization_pk].organization_detail_url">
                             [[ organizations[event.organization_pk].name ]]
                        </a>
                    </span><br>
                    <span>
                        <a :href="places[event.place_pk].place_detail_url">
                            {% fontawesome_icon 'map-marker' %}
                            [[places[event.place_pk].truncated_name]]
                        </a>
                    </span>
       
                <!-- book -->
        
                <button v-if="event.user_in_attendees" :id="event.pk" purpose="cancel" class="m-2 btn btn-danger" onclick="event_list_onclick(this)">
                    Je ne participe plus
                </button>

                <button v-else :id="event.pk" purpose="book" class="m-2 btn btn-primary" onclick="event_list_onclick(this)">
                    Je participe
                </button>
</a>
{% endblock list %}
