{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="events" list_view="event_list" detail_name=event.title %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block context %}
    <div class="ml-3 pt-3">
        {% include "plateformeweb/event.html" %}
    </div>
    <div class="ml-3 pt-3">
        {% include "plateformeweb/activity.html" with activity=event.type %}
        </div>
{% endblock context %}


{% block about %}

{% block about1 %}

    {% with about1="Organisateurs" %}
    {{ block.super }}
    {% endwith %}
        {% for user in event.organizers.all %}
        {% include "users/user.html" with class="card" %}
        {% endfor %}

{% endblock about1 %}

{% block about2 %}

    {% with about2="Participants" %}
    {{ block.super }}
    {% endwith %}
        {% for user in event.attendees.all %}
        {% include "users/user.html" with class="card" %}
        {% endfor %}

{% endblock about2 %}

{% endblock about %}
       
</section>

      
