

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block list %}

<!-- a event card -->

<div class="card border">
        <div class="card-header">{{event.type}}</div>
        <div class="card-body">
          <h5 class="card-title">{{event.title}}</h5>
          
          <!-- about -->

           <ul class="list-group list-group-flush">

                <li class="list-group-item d-flex justify-content-between align-items-left">
                        <a href="{% url 'organization_detail' event.organization.id event.organization.slug %}">
                        <small>à {{ event.organization }}</small>
                    </a></small>
                    </li>

                <li class="list-group-item d-flex justify-content-between align-items-left">
                    <small>{% fontawesome_icon 'clock-o' %} {{ event.starts_at }}</small>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-left">
                    {% fontawesome_icon 'user-plus' %}
                    <small>Places</small>
                    {% if event.available_seats == 0 %}
                            <span class="badge badge-warning badge-pill">0</span>
                    {% else %}
                            <span class="badge badge-primary badge-pill">{{ event.available_seats }}</span>
                    {% endif %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-left">
                    {% fontawesome_icon 'map-marker' %}
                    <a href="{% url 'place_detail' event.location.id event.location.slug %}">
                        <small>{{ event.location|truncatechars:35 }}</small>
                    </a>
                </li>

            </ul>

        <!-- book -->

            <a href="{% url 'event_detail' event.id event.slug %}" class="card-link">
                    {% if event in my_events_attending %}
                    {% fontawesome_icon 'delete' %}
                    Annuler la réservation
                        {% else %}
                        {% if event.available_seats <= 0 %}
                        {% fontawesome_icon 'list-ol' %}
                        Liste d'attente
                        {% else %}
                        {% fontawesome_icon 'ticket' %}
                        Réserver
                        {% endif %}
                    {% endif %}
            </a>
        
        <!-- delete if user is organizer -->

        {% if request.user.is_authenticated and event in my_events_organizing %}
            <a href="#" class="card-link">Supprimer</a>
            {% fontawesome_icon 'trash' large=True %}
        {% endif %}
        
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
</div>

</div>

{% endblock list %}