{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load easy_maps_tags %}


{% block breadcrumbs %}
  {% with type="events" view="event_list" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block title %}
  {{ block.super }}
  Events
{% endblock title %}

{% block statistics %}
  {% with first_value=event_list.all.count first_label='events' second_value=event_list.all.attendees.count second_label='participations' third_value=event_list.type.all.count third_label='types' %}
  {{block.super}}
  {% endwith %}
{% endblock statistics %}

{% block list %}

<section id="event-list" class="container-fluid row">

    <select class="col-lg-2 col-sm-2" v-model="selected_place_pk">
        <option value=-1> Filtrer par lieu </option>
        <option v-for="place in places" :value="place.pk">[[place.name]] </option>
    </select>

    <select class="col-lg-2 col-sm-2" v-model="selected_organization_pk">
        <option value=-1> Filtrer par organization </option>
        <option v-for="organization in organizations" :value="organization.pk">[[organization.name]] </option>
    </select>

    <select class="col-lg-2 col-sm-2" v-model="selected_type_pk">
        <option value=-1> Filtrer par type </option>
        <option v-for="type in types" :value="type.pk">[[type.name]] </option>
    </select>

    entre le
    <input type="date" v-model="selected_start_date"/>
    et le
    <input type="date" v-model="selected_end_date"/>


<div class="col-lg-12 col-sm-12 ml-4 py-2">

    <div v-for="event in selected_event_list" class="float-left col-lg-4 col-md-6 col-sm-1">

      {% include "plateformeweb/event_vuejs.html" with class="" img_class="col-md-4" about_class="col-md-8 pb-2" %}

    </div>
   <div v-if="event_list.length == 0">No events yet.</div>

  </div>

</section>

<script src="{% static 'js/helper_functions.js' %}"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<script>
  const app = new Vue({
      delimiters: ['[[', ']]'],
      el: "#event-list",
      data() {
          return {
              event_list : [],
              organizations: {},
              places: {},
              types: {},
              selected_place_pk : -1,
              selected_organization_pk : -1,
              selected_type_pk : -1,
              selected_start_date: 0,
              selected_end_date: 0,
          }
      },
      created() {
          let csrftoken = getCookie('csrftoken');
          let headers = new Headers();
          headers.append('X-CSRFToken', csrftoken);
          fetch("/api/list_events/", {
              headers: headers,
              method: "GET",
              credentials: 'include',
          })
              .then(response => response.json())
              .then(json => {
                  this.event_list = json.dates;
                  this.organizations = json.organizations;
                  this.places = json.places;
              });
      },
      methods: {
          filter_places: function(list){
              console.log(list);
              if(this.selected_place_pk != -1)
                  list = list.filter(event => (event.place_pk == this.selected_place_pk));
              return list;
          },
          filter_organizations: function(list){
              if(this.selected_organization_pk != -1)
                  list = list.filter(event => (event.organization_pk == this.selected_organization_pk));
              return list;
          },
          filter_dates : function(list){
              if(this.selected_start_date != 0 && this.selected_end_date != 0){
                  start_date = new Date(this.selected_start_date).getTime();
                  end_date = new Date(this.selected_end_date).getTime();
                  console.log(start_date);
                  console.log(end_date);
                  list = list.filter(event => (event.start_timestamp >= start_date && event.start_timestamp <= end_date)) ;
              }
              return list;
          }
      },
      computed: {
          selected_event_list: function() {
              list = this.event_list;
              list = this.filter_places(list);
              list = this.filter_organizations(list);
              list = this.filter_dates(list);
              return list;
          },
      },
  });
</script>
{% endblock list %}
