{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}



{% block list %}
<div :id="key" class="{{class}} card card-event
{% if event.available_seats <= 0 %}
    border border-danger
{% endif %}">

    <div class="row">

        <div class="text-center align-middle {{img_class}}">
            <span class="event-date">[[event.day_month_str ]]</span>
            <img class="img-fluid img-place" :src="event.type_picture_url">
        </div>

        {% if request.resolver_match.url_name != "event_detail" %}
   <!-- about -->
        <div class="{{about_class}} pl-1 card-body">
            <div class="">

         

            <ul class="list-group list-group-flush">

                    <li class="">
                            <a :href="event.event_detail_url">
                           [[event.title]]</a>
                    </li>

                    <li class="">
                        <small>organisé par
                            <a :href="organizations[event.organization_pk].organization_detail_url">
                             [[ organizations[event.organization_pk].name ]]
                        </a></small>
                    </li>
                   
                    <li>
                        {% for condition in event.condition.all %}
                        <a> <small>{{condition.resume}}</small> </a>
                        {% endfor %}

                    </li>

                    <li class="">
                        de <span class="hour-event text-center">[[event.starts_at]]</span>
                        à <span class="hour-event text-center">[[event.ends_at]]</span>
                    </li>
                            <a :href="places[event.place_pk].place_detail_url">
                            {% fontawesome_icon 'map-marker' %}
                            <small>[[places[event.place_pk].truncated_name]]</small>
                        </a>
                    </li>

                </ul>

                <!-- book -->
                {% if not request.user.is_authenticated %}
                {% else %}
                    {% if request.user in event.organizers.all %}
                        <a class="card-link mr-3 fm-update btn btn-danger float-right btn-circle":href="event.edit_url"
                        data-fm-head="Editer" data-fm-callback="reload">
                        {% fontawesome_icon 'edit' %}</a>

                        <a href="#" class="card-link mr-3 fm-update btn btn-danger float-right btn-circle">
                        {% fontawesome_icon 'trash' large=True %}
                        </a>
    

                    {% elif request.user in event.attendees.all%}
                        <a class="card-link mr-3 fm-update btn btn-danger float-right" :href="event.book_url"
                        data-fm-head="Annuler" data-fm-callback="reload">
                        {% fontawesome_icon 'delete' %}
                        Annuler
                    </a>

                    {% elif request.user in event.presents.all %}
                    {% else %}
                        <a class="card-link mr-3 fm-update btn btn-primary float-right":href="event.book_url"
                        data-fm-head="Confirmer" data-fm-callback="reload">
                        {% fontawesome_icon 'ticket' %}
                        Réserver
                    </a>
                    {% endif %}
                {% endif %}
            
            <div class="text-left row">

                <div class="float-left mr-2">
                     <span v-if="event.available_seats == 0" class="badge badge-warning badge-pill">pas de places</span>
                     <span v-else class="badge badge-primary badge-pill">[[ event.available_seats ]] places<span>
                      
                </div>
            
            </div>

          

        </div>
     
    </div>   {% endif %}
</div>
</div>

{% endblock list %}


