{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block breadcrumbs %} {{ block.super }} {{ event.title }} {% endblock breadcrumbs %}

{% block context %}
    {% include "plateformeweb/event.html" with class="card" %}
{% endblock context %}


{% block detail %}
<section class="col-lg container">

    <h3 class="row"> Organizers :  {{ event.organizers.all.count }} </h3>

        {% for user in event.organizers.all %}
            {% include "users/user.html" with class="card" %}
        {% endfor %}

    <h3 class="row"> Participants :  {{ event.attendees.all.count }} </h3>

        {% for user in event.attendees.all %}
            {% include "users/user.html" with class="item" %}
        {% endfor %}

    <h3 class="row"> Informations : </h3>
      
</section>
{% endblock detail %}
      
