{% extends 'form_view.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="mass-event-create" list_view="event_list" view="mass_event_create" %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block title %} {{ block.super }} Publication d'évènements {% endblock title %}

{% block form %}



<div class="row">

    <section class="col-md-4">

        <!-- tabs -->
            <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="true">Settings</a>
                      <a class="nav-item nav-link" id="nav-unique-tab" data-toggle="tab" href="#nav-unique" role="tab" aria-controls="nav-unique" aria-selected="true">Single date</a>
                      <a class="nav-item nav-link" id="nav-reccurence-tab" data-toggle="tab" href="#nav-reccurence" role="tab" aria-controls="nav-reccurence" aria-selected="false">Reccurence</a>
                      <a class="nav-item nav-link" id="nav-exclude-tab" data-toggle="tab" href="#nav-exclude" role="tab" aria-controls="nav-exclude" aria-selected="false">Exclude</a>
                    </div>
            </nav>
        <!-- end tabs -->

        <div  class="pure-form form row bg-white pt-3 p-2 tab-content"  id="myTabContent">

        <!-- event specifications essentials -->
            <div class="tab-pane fade show active" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                <form class="pure-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="dates" id="submit-data">

                Starts at:
                <input type="time" id="start-time" value="14:00">
                Ends at:
                <input type="time" id="end-time" value="14:00">

                Publish
                <input type="number" id="publish-countdown" value="7" min="1" max="31" style="width:4em;"></input>
                days beforehand
                </form>
            </div>
        <!-- end event specifications essentials -->


    <!-- exclude -->
        <div class="tab-pane fade" id="nav-unique" role="tabpanel" aria-labelledby="unique-tab">
            Rajouter une date:
            <br>
            <input id="new-event-date" type="date">
            <input type="button" id="new-event" class="btn btn-primary" value="Ajouter date Ponctuelle"></input>
            <br>
        </div>
    <!-- end exclude -->


  <!-- reccurence sheme -->
            <div class="tab-pane fade"  id="nav-reccurence" role="tabpanel" aria-labelledby="nav-reccurence-tab">

            <input type="radio" checked name="repeat" value="weekly">toutes les semaines
            </input>
            <br>
            <ul class="day-choice">
                <li><input type="checkbox" name="weekday" value="0"> Lu </input> <br></li>
                <li><input type="checkbox" name="weekday" value="1"> Ma </input> <br></li>
                <li><input type="checkbox" name="weekday" value="2"> Me</input> <br></li>
                <li><input type="checkbox" name="weekday" value="3"> Je </input> <br></li>
                <li><input type="checkbox" name="weekday" value="4"> Ve</input> <br></li>
                <li><input type="checkbox" name="weekday" value="5"> Sa</input> <br></li>
                <li><input type="checkbox" name="weekday" value="6"> Di </input> <br></li>
            </ul>
            <br>
            Jusqu'au (inclus)
            <input id="up_until" type="date">
            <br> <br>

                <input type="radio" name="repeat" value="monthly">Tous les mois le
                </input>
            <br>

            <select id="nth" class="select form-control">
                <option value="+1"> Premier </option>
                <option value="+2"> Second </option>
                <option value="+3"> Troisieme </option>
                <option value="+4"> Quatrieme </option>
                <option value="+5"> Cinquieme </option>
                <option value="-2"> Avant-Dernier </option>
                <option value="-1"> Dernier </option>
            </select>

            <select id="day" class="select form-control">
                <option value="MO"> Lundi </option>
                <option value="TU"> Mardi </option>
                <option value="WE"> Mercredi </option>
                <option value="TH"> Jeudi </option>
                <option value="FR"> Vendredi </option>
                <option value="SA"> Samedi </option>
                <option value="SU"> Dimanche </option>
            </select>

            <span>
                pour
                <input type="number" id="event-count-monthly" value="1" min="1" max="24" style="width:4em;"></input>
                événements
            </span>
            <br> <br>
            <input type="radio" name="repeat", value="yearly">Tous les ans le</input>
            <br>
            <input type="number" id="day-of-month" value="1" min="1" max="31" style="width:4em;"></input>
            <select id="month" class="select form-control">
                <option value="1">Janvier</option>
                <option value="2">Fevrier</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Juillet</option>
                <option value="8">Août</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
            </select>
            <span>
                pour
                <input type="number" id="event-count-yearly" value="1" min="1" max="31" style="width:4em;"></input>
                événements
            </span>
            <br>
            <div class="row">
                    <input type="button" class="btn" id="append" value="Ajouter Récurrences"></input>
                    <input type="button" class="btn btn-primary" id="generate" value="Générer Récurrences"></input>
                    <input type="button" class="btn" id="reset" value="Remise à zero"></input>
                <br><br>
            </div>
        </div>
   <!-- end recurrence sheme -->

     <!-- exclude -->
     <div class="tab-pane fade" id="nav-exclude" role="tabpanel" aria-labelledby="exclude-tab">
            Periodes à exclure:
            <span class="intervals">
                <span class="interval" id="interval-0">
                    du <input class="begin" type="date">
                    au <input class="end" type="date">
                </span>
            </span>
            <input type="button" class="btn" id="new-interval" value="+"></input>
            <br>
        </div>
    <!-- end exclude -->



        </div>
    </section>

    <!--- date generator -->
    <section class="col-md-8 p-2 bg-white shadow">

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Vous ne pouvez générer qu'un type d'évènement
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        <h4> Dates créées : </h4>
        <div class="date-list row" style="min-height:350px" id="date-list">
        </div>
        <input value="Publier" class="btn btn-primary float-right" onclick="on_submit()">
    </section>
    <!-- end date generator-->
</div>

    <script src="{% static 'js/helper_functions.js' %}"> </script>
    <script src="{% static 'js/rrule.js' %}"> </script>
    <script src="{% static 'js/recurrence_create.js' %}"> </script>

{% endblock form %}
