{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load django_markdown django_markdown_static %}


{% block breadcrumbs %}

{% with type="organisations" list_view="organization_list" detail_name=organization.name %}
   {{ block.super }}
{% endwith %}

{% endblock %}

{% block TitleAndEdit %}


<h5 class="float-left">
    {{ organization.name }}
</h5>
    
{% if request.user.is_authenticated and request.user in organization.volunteers %}
    <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'organization_edit' organization.id %}"
    data-fm-head="Update" data-fm-callback="reload">&nbsp
    <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
    Editer
    </a>
{% endif %}

{% endblock TitleAndEdit %}

{% block header_ban %}
    {% with object="organization" %}
    {{ block.super }}
{% endwith %}
{% endblock header_ban %}}


{% block context %}
    {% include "plateformeweb/organization.html" with class="sticky-position sticky-top"%}
    Lieux : 
        {% for place in organization.place_set.all %}
        {% include "plateformeweb/place.html" with class="col-md-8" img_class="hide" %}
        {% endfor %}

{% endblock context %} 

{% block about %}

{% block about1 %}

    {% with about1="Description" %}
    {{ block.super }}
    {% endwith %}
    {{ organization.description|markdown }}

{% endblock about1 %}

{% block about2 %}

{% with about2="Prochains ateliers" %}
    {{ block.super }}
    {% endwith %}

    <div class="row d-flex">

        {% include "plateformeweb/event_list_vuejs.html" with context_type="organization" context_pk=organization.pk %}

    </div>

{% endblock about2 %}

{% block about3 %}
    {% with about3="membres actif.ve.s" %}
        {{ block.super }}
    {% endwith %}
    <div class="row d-flex justify-content-center">
    {% for user in organization.volunteers %}
        {% with user=organizationperson.user %}
            {% include "users/user.html" with class="row" img_class="col-12" content_class="col-12 text-center"%}
        {% endwith %}
    {% endfor %}
    </div>
{% endblock about3 %}

{% endblock about %}

