{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="organisations" list_view="organization_list" detail_name=organization.name %}
   {{ block.super }}
{% endwith %}
{% endblock %}


{% block context %}
    {% include "plateformeweb/organization.html" %}
    <a href="{% url 'organization_edit' organization.id %}" class="card-link">edit</a>
{% endblock context %} 

{% block detail %}


<section class="card">
        <h3 class="card-header">Lieux </h3>
    {% for place in organization.place_set.all %}
        {% include "plateformeweb/place.html" %}
    {% endfor %}
    </section>

<section class="card">
        <h3 class="card-header"> {{ organization.organizationperson_set.all.count }} adhérents </h3>
{% for organizationperson in organization.organizationperson_set.all %}
    {% with user=organizationperson.user %}
        {% include "users/user.html" %}
    {% endwith %}
{% endfor %}
</section>


<section class="card-group card">
        <h3 class="card-header"> {{ organization.event_set.all.count }} évènements </h3>
{% for event in organization.event_set.all %}
    {% include "plateformeweb/event.html" %}
{% endfor %}
</section>

{% endblock detail %}

