{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content %}
{% render_breadcrumbs %}
<div class="container">  
    <div class="col-lg">

        <span class="text-center">
            <br>
            <h1 class="">Manage {{organization.name}}</h1>
            <br>
        </span>

        <div class="card">
            <h2>Conditions d'accès</h2>
            <a class="float-right fm-create" href="{% url 'condition_create' %}" title="create condition" data-fm-head="Create condition" data-fm-callback="reload">
            <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>

        <div class="row d-flex justify-content-center">
        {% for condition in organization.condition_set.all %}
            <div class="card col-md-4">
                    <h4>{{condition.name}}</h4>
                    <p>{{condition.resume}}</p>
                    <a class="float-right fm-update" href="{% url 'condition_edit' condition.pk %}" title="update condition" data-fm-head="update condition" data-fm-callback="reload">
                    <i class="fa fa-edit fa-2x"></i>
                    </a>
            </div>
        {% endfor %}
        </div>

        <div class="card">
            <h2>Activity</h2>
            <a class="float-right fm-create" href="{% url 'activity_create' %}" title="activity place" data-fm-head="Create Activity" data-fm-callback="reload">
            <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>

        <div class="row d-flex justify-content-center">
        {% for activity in organization.activity_set.all %}
            {% include "plateformeweb/activity.html" with class="col-4" img_class="col-4"%}
        {% endfor %}
        </div>

        <div class="card">
            <h2>Lieux</h2>
            <a class="float-right fm-create" href="{% url 'place_create' %}" title="create place" data-fm-head="Create place" data-fm-callback="reload">
            <i class="fa fa-plus-circle fa-2x"></i>
            </a>
        </div>

        <div class="row d-flex justify-content-center">
        {% for place in organization.place_set.all %}
            {% include "plateformeweb/place.html" with class="col-md-4" img_class="col-4" %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
