{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="organisations" view="organization_list" %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block title %} {{ block.super }} organisations {% endblock title %}

{% block list %}
  <section class="">
    {% for organization in object_list %}
      {% include "plateformeweb/organization.html" %}
      {% empty %}
      <div>No organizations yet.</div>
    {% endfor %}
  </section>
{% endblock list %}



