{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="organisations" list_view="organization_list" detail_name=organization.name %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block edit_link %}
<a class="card-link mr-3 fm-update btn btn-primary" href="{% url 'organization_edit' organization.id %}"
 data-fm-head="Update" data-fm-callback="reload">&nbsp
<i class="fa fa-pencil-square-o  2-xs pt-1"></i>
Editer
</a>
{% endblock edit_link %}

{% block header_ban %}
    {% with object="organization" %}
    {{ block.super }}
{% endwith %}
{% endblock header_ban %}}


{% block context %}
    {% include "plateformeweb/organization.html" %}
    <a href="{% url 'organization_edit' organization.id %}" class="card-link">edit</a>
{% endblock context %} 

{% block about %}

{% block about1 %}

    {% with about1="Lieux" %}
    {{ block.super }}
    {% endwith %}
    {% for place in organization.place_set.all %}
        {% include "plateformeweb/place.html" with class="my-3 col-sm-6 col-md-4" %}
    {% endfor %}

{% endblock about1 %}

{% block about2 %}

    {% with about2="Adhérents" %}
    {{ block.super }}
    {% endwith %}
    {% for organizationperson in organization.organizationperson_set.all %}
    {% with user=organizationperson.user %}
        {% include "users/user.html" %}
    {% endwith %}
{% endfor %}
        
{% endblock about2 %}

{% block about3 %}

    {% with about3="Dates" %}
    {{ block.super }}
    {% endwith %}
    {% for event in organization.event_set.all %}
        {% include "plateformeweb/event.html" %}
    {% endfor %}

{% endblock about3 %}

{% endblock about %}

