

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}



{% block list %}

<div class="card card-place {{class}}">
        <div class="card-body">
            <img class="img-fluid img-place" src="{{ place.picture.url }}">
            <h5 class="card-title">{{ place.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ place.type }}</h6>
            <p class="card-text">{{ place.description }}</p>
            <ul class="list-group list-group-flush">
                 <li>
                    {% fontawesome_icon 'map-marker' %}
                    {{ place.address }}
                </li>
            </ul>
            <a class="card-link" href="{% url 'place_detail' place.id place.slug %}">
            More ...</a>
        </div>
      </div>

{% endblock %}