{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load easy_maps_tags %}
{% load django_markdown django_markdown_static %}

{% block breadcrumbs %}
    {% with type="places" list_view="place_list" detail_name=place.name %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

<!-- just for define header-bar right color -->
{% block header_ban %}
    {% with object="place"%}
        {{ block.super }}
    {% endwith %}
{% endblock header_ban %}
<!-- end define -->

{% block TitleAndEdit %}
<h5 class="float-left">{{ place.name }}</h5>

{% if request.user.is_authenticated and request.user in place.organization.volunteers or place.organization.admins %}
    <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url 'place_edit' place.id %}"
    data-fm-head="Update" data-fm-callback="reload">&nbsp
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
    Editer
    </a>
{% endif %}
{% endblock TitleAndEdit %}

{% block context %}
    {% include "plateformeweb/place.html"%}
   <div class="m-3 pt-3 p-2 bg-white"> {% easy_map place.address 100 100 15 %} </div>
{% endblock context %} 

{% block about %}
    <h5 class="border-bottom border-gray pb-2 mb-0 clear ">Description</h5>
    {{ place.description|markdown }}

    <h5 class="border-bottom border-gray pb-2 mb-0 clear ">Evenements organisés à {{plae.name}} </h5>
    {% include "plateformeweb/event_list_vuejs.html" with context_type="place" context_pk=place.pk %}
{% endblock about %}
      
