

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block list %}
<div class="item ui bordered {{class}} primary-background">
    
    <img class="image" src="../media/{{ place.picture }}">
    <div class="content align-left">
        <h3 class="header">{{ place.name }}</h3>
        </br>
        <span class="header">{{ place.type }}</span>
        </br>
        <div class="description">
            <p>{{ place.description }}</p>
        </div>
        <ul class="list-group extra">
            <li>
                {% fontawesome_icon 'map-marker' %}
                {{ place.address }}
            </li>
        </ul>
    </div>
    <div class="extra">
    
            <a class="ui button floated right" href="{% url 'place_detail' place.id place.slug %}">
               More ...</a>
       
    </div>
</div>
{% endblock %}