{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="places" list_view="place_list" detail_name=place.name %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block header_ban %}
    {% with detail_of="place" %}
    {{ block.super }}
{% endwith %}
{% endblock header_ban %}}

{% block context %}
    {% include "plateformeweb/place.html" %}
    <a href="{% url 'place_edit' place.id %}" class="card-link">edit</a>
{% endblock context %} 

{% block about %}

{% block about1 %}

    {% with about1="Dates dans ce lieux" %}
    {{ block.super }}
    {% endwith %}
        {% for event in place.event_set.all %}
        {% include "plateformeweb/event.html" %}
        {% endfor %}

{% endblock about1 %}

{% endblock about %}
      
