{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="places" list_view="place_list" detail_name=place.name %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block context %}
    {% include "plateformeweb/place.html" %}
    <a href="{% url 'place_edit' place.id %}" class="card-link">edit</a>
{% endblock context %} 

{% block detail %}
      <h3> Event takes place in : {{ place.event_set.all.count }} </h3>
{% for event in place.event_set.all %}
    {% include "plateformeweb/event.html" %}
{% endfor %}
{% endblock detail %}
      
