{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}


{% block add %} {{ block.super }}  
{% endblock add %}

{% block breadcrumbs %} {{ block.super }} Places {% endblock breadcrumbs %}
{% block title %} {{ block.super }} Places {% endblock title %}

{% block list %}
<section class="secondary-background row ui items stackable middle aligned divided ">
    {% for place in object_list %}
    {% include "plateformeweb/place.html" with class="item" %}
    {% empty %}
    <div>No places yet.</div>    
  
  {% endfor %}
  </section>
{% endblock list %}



 
