
{% extends 'form_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}


{% block breadcrumbs %}
{% with type="place" list_view="place_list" view="place_create" %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block form %}

    <h1>Create place</h1>

    <form action="" method="post" enctype="multipart/form-data"
          class="pure-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="pure-u-1-3 pure-button"/>
    </form>



{% endblock %}