
{% extends 'form_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}



{% block breadcrumbs %}
{% with type="place" list_view="place_list" view="place_create" %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block title %} {{ block.super }} place {% endblock title %}

{% block form %}
<div class="container">
    <div class="row">
        <div class="form col-md-6">
            <form action="" method="post" enctype="multipart/form-data"
                class="pure-form">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Save" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>


{% endblock %}