{% load thumbnail %}

{% for event in event_list %}

<div class="card infinite-item
  {% if request.user in event.registered.all or request.user in event.presents.all or request.user in event.organizers.all %}
  border-success border shadow
  {% endif %}
  ">
  <a class="" href="{% url 'event:detail' event.pk event.slug %}">

          
      <h5 class="text-muted position-absolute" style="top:05px; right:05px">
          {% if request.user in event.registered.all or request.user in event.presents.all %}
            <span class="badge badge-success badge-pill">Inscrit</span>
          {% endif %}
          {% if request.user in event.organizers.all %}
          <span class="badge badge-success badge-pill">Organisateur</span>
          {% endif %}
          {% if event.remaining_seats <= 0 %}
          <span class="badge badge-danger badge-pill">Complet</span>
          {% endif %}
      </h5>

    {% if event.activity.picture %}
      {% thumbnail event.activity.picture "400" format="PNG" as im %}
        <img class="card-img-top rounded-0" src="{{ im.url }}"/>
      {% endthumbnail %}
    {% endif %}
    <div class="card-body">
      <h3 class="card-title">{{ event.activity.name }}</h3>
      <h6 class="card-subtitle text-muted mb-2">
        <small>
          {{ event.date_interval_format }}
        </small>
      </h6>
      
      <h6 class="text-muted">
          {% if event.remaining_seats == 0 %}
            <span class="badge badge-warning badge-pill">Complet</span>
          {% else %}
            Encore
            <span class="badge badge-info badge-pill">{{ event.remaining_seats }}
              </span> places disponibles
          {% endif %}
          <hr>
        </h6>

      <small>
      {{ event.activity.description | safe | truncatewords_html:10 }}
      </small>
    </a>

      <footer class="text-muted text-center">

      {% if event.remaining_seats > 0 %}
        {% include "event/register.html" with event=event %}
      {% endif %}
      
      <br>
        {% if event.organization.picture %}
        {% thumbnail event.organization.picture "30x30" crop="left" format="PNG" as im %}
          <img class="img-fluid rounded-circle square-2" src="{{ im.url }}" alt="organization img">
        {% endthumbnail %}
        {% endif %}
        <small>Organisé par '{{ event.organization }}' à '{{ event.location.name }}'</small>
      </footer>
    </div>
</div>
{% endfor %}
