{% extends 'base.html' %}
{% load static i18n l10n %}
{% load bootstrap4 app_filters %}

{% block content %}
  {% include "breadcrumb.html" with current="Évènements" %}

  <section class="container-fluid" id="search_tab">
      <div class="col-lg bg-white">
        <div class="collapse" id="search">
          <form method="GET" class="form-row">
              {% bootstrap_form search_form %}
            <br>
            <div class="form-group p-2 col mt-auto">
              <button type="submit" class="btn btn-primary btn-block">
                <span class="">Lancer la recherche</span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg text-center mb-3">
            {% if results_number == 0 %}
              Aucun évènement trouvé pour vos critères de recherche
            {% else %}
              {{ results_number }} résultats pour votre recherche
            {% endif %}
          </div>
      <a class="text-center d-block" 
        data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
       Rechercher parmi les évènements
       <span class="btn btn-secondary">
          <i class="fa fa-search"></i>
       </span>
      </a>
    </div>
  </section>

  <section class="container-fluid no-gutters row">
    <div class="col-md-6">
        <div class="infinite-container card-columns p-2" style="column-count: 2;">
          {% include "event/event_cards.html" with event_list=event_list %}
        </div>
    </div>
    <div class="col-md-6 no-gutters position-fixed" id="place_map">
      {% include "location/place_list.html" %}
    </div>
  </section>

  <div class="loading" style="display: none;"></div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Affichage en cours...</a>
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>

  <script>
      $(document).ready(function(){
        $("#breadcrumb").sticky({topSpacing:0});
        $("#search_tab").sticky({topSpacing:40});
      });
    </script>

  <script>
      $(document).ready(function(){
        $(".card").hover(
          function() {
            var location_id = $(this).data("location");
            $(".awesome-marker[data-location='" + location_id +"' ]").addClass("awesome-marker_hover");
          }
        );
        $(".card").mouseleave(
          function() {
            var location_id = $(this).data("location");
            $(".awesome-marker[data-location='" + location_id +"' ]").removeClass("awesome-marker_hover");
          }
        );
      });
    </script>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}