{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 app_filters %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
  {% include "breadcrumb.html" with current="Évènements" %}

  <section class="container-fluid position-sticky sticky-top" style="top:70px">
      <div class="col-lg bg-white">
        <div class="collapse" id="search">
          <form method="GET" class="form-row">
            {% bootstrap_form search_form  %}
            <br>
            <div class="form-group p-2 col mt-auto">
              <button type="submit" class="btn btn-primary btn-block">
                <span class="">Lancer la recherche</span>
              </button>
            </div>
          </form>
        </div>
      <a class="text-center d-block" 
        data-toggle="collapse" href="#search" role="button" aria-expanded="false" aria-controls="search">
       Rechercher parmis les évènements
       <span class="btn btn-secondary">
          <i class="fa fa-search"></i>
       </span>
      </a>
    </div>
  </section>

  <section class="container pt-3">
    <div class="col-lg text-center mb-3">
      {% if not event_list %}
        Aucun évènement trouvé pour vos critères de recherche
      {% else %}
        {{ event_list.all.count }} résultats pour votre recherche  
      {% endif %}
    </div>
      <div class="col-md-12 row no-gutters">
        <div class="card-columns infinite-container">
          {% include "event/event_cards.html" with event_list=event_list %}
        </div>
    </div>
  </section>

  <div class="loading" style="display: none;"></div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Affichage en cours...</a>
  {% endif %}
{% endblock %}
