{% extends 'base.html' %}
{% load assets l10n app_filters %}
{% load thumbnail %}
{% load initialavatar %}


{% block extra_css %}
  {% assets "css_detail_event" %}
  <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
  {% assets "css_detail_user" %}
  <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
<div class="row">
  <section class="col-md-6 bg-white">
      {% url "event:list" as event_list_url %}
  {% include "breadcrumb.html" with current=event first_parent_url=event_list_url first_parent_text="Évènements" %}

    <div class="container pl-4 pr-4 pt-2 bg-white" id="event_about">
      <h3 class="bg-white" id="event_title">{{ event.activity }} du {{ event.date }}      
        <div class="lead float-right ml-2">
        {% if is_active %}
          <a href="{% url 'event:edit' event.pk %}" class="btn btn-warning rounded-circle"><i class="fa fa-pencil-alt"></i></a>
        {% endif %}
        {% if is_admin %}
          <a href="{% url 'event:delete' event.pk %}" class="btn btn-danger rounded-circle"><i class="fa fa-trash"></i></a>
        {% endif %}
        </div>
      </h3>
      <p class="lead">
         Organisé par
        <a href="{% url 'organization_page' event.organization.slug %}">
          {{ event.organization.name }}
        </a>
      </p>
      <p>
          <i class="fa fa-calendar-alt"></i> 
          Le {{ event.date|date:"l j F Y " }} de {{ event.starts_at }} à {{ event.ends_at }}
      </p>
    <h6 class="text-muted">
      {% if event.is_free %}
        <span class="badge badge-secondary badge-pill">Sans réservation</span>
      {% else %}
        {% if event.remaining_seats <= 0 %}
          <span class="badge badge-warning badge-pill">Complet</span>
        {% else %}
          Encore  
          <span class="badge badge-secondary badge-pill">{{ event.remaining_seats }}
            </span> places disponibles
        {% endif %}
      {% endif %}
      {% if request.user in event.registered.all or request.user in event.presents.all %}
        <span class="badge badge-success badge-pill">Inscrit</span>
      {% endif %}
      {% if request.user in event.organizers.all %}
      <span class="badge badge-success badge-pill">Organisateur</span>
      {% endif %}
    </h6>
    {% if not event.is_free %}
      {% include "event/register.html" with event=event %}
    {% endif %}
    {% if is_volunteer and user not in event.registered.all %}
      <form
          {% if user in event.organizers.all %}
          action="{% url 'event:remove_active' event.pk %}"
          {% else %}
          action="{% url 'event:add_active' event.pk %}"
          {% endif %}
          method="post"
          class="d-inline">
        {% csrf_token %}
        {% if user in event.organizers.all %}
        <button class="btn btn-warning btn-block" type="submit">
          je n'anime plus
        </button>
        {% else %}
        <button class="btn btn-primary btn-block" type="submit">
          J'anime
        </button>
        {% endif %}
      </form>
    {% endif %}
      <hr>
    </div>

    <div class="col-lg-12">
        <div class="row p-4">
              <ul class="col-md-6">
                  <b>Informations utiles:</b>
                {% for condition in event.conditions.all %}
                  <li class="">
                    {% if condition.price > 0 %}
                      <span class="badge badge-pill badge-secondary">
                        {{ condition.price }}€</span> 
                      {% else %}
                      {% endif %}
                    <small>{{ condition.description | safe }}</small>
                  </li>
                  {% empty %}
                  <li><small>La participation est libre / pas de condition d'accès</small></li>
                {% endfor %}
              </ul>

            {% if not event.is_free %}
              <div class="col-md-6 border">
                <div class="row">
                {% if event.activity.picture %}
                  <img class="img-responsive col-md-6 h-100 p-0" src="{{ event.activity.picture.url }}" alt="activity illustration">
                {% endif %}
    
                <div class="col-md-6">
                  <b>{{event.activity.name}}</b>
                  <small class="">
                  {{ event.activity.description | safe | truncatewords_html:7 }}
                  </small>
                </div>

                <a href="{% url 'event:activity_detail' event.activity.pk event.activity.slug %}" class="btn btn-primary btn-sm col-md-12 float-right">
                    <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            {% endif %}
        </div>
    </div>

  <hr>
    <div class="col-lg">
      <p class="text-center">
        <i class="fa fa-map-marker"></i>
        <a href="{% url 'location:detail' event.location.id event.location.slug %}">
          {{ event.location.name }}</a>,
        {{ event.location.address }}
      </p>
        <div style="height:100%; min-height: 200px" id="event_map"></div>
    </div>

</section>

<section class="col-md-6 no-gutters">
  {% if event.is_free %}
    {% if is_volunteer %}
    <h3 class="text-center text-success pt-4">Evenement sans réservations</h3>
    {% else %}
      {% if event.activity.picture %}
        <div class="col-lg h-25 overflow-hidden m-4 mb-0" style="padding-right: 60px !important">
          <img class="img-fluid position-relative" style="top:-100px" src="{{ event.activity.picture.url }}" alt="activity illustration">
        </div>
      {% endif %}
      <div class="col-lg pb-0 pl-4 pr-4 pt-0">
        <h5> L'événement </h5>
        <div>
          {{ event.activity.description | safe | truncatewords_html:50 }}
          <a href="{% url 'event:activity_detail' event.activity.pk event.activity.slug %}">
            En savoir plus ...
          </a>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <div class="col-lg p-2">
    {% if not event.is_free %}
      {% if is_active %}
        <h5 class="mt-4">Total perçus: {{ total_fees }}€</h5>
          <form action="{% url 'event:close' event.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm type="submit" onclick="return confirm('Êtes-vous sûrs de vouloir clôturer l\'évènement?')">
              <i class="fa fa-calendar-check"></i>
              Clôturer
            </button>
          </form>
        {% endif %} 
      {% if is_volunteer %}
        {% if event.has_started %}
          {% include "event/modal_more_info.html" with form=present_form admin_text="Présent" %}
        {% endif %}
      {% endif %}
    {% endif %}
    <h5 class="mt-4
      {% if event.needed_organizers != 0 %}
        {% if event.needed_organizers > event.organizers.all.count %}
          text-danger
        {% elif event.needed_organizers <= event.event.organizers.all.count %}
          text-success
        {% else %}
          text-warning
        {% endif %}
      {% endif %}">
      {{ event.organizers.all.count }}
      {% if event.needed_organizers != 0 %}
        /{{ event.needed_organizers }}
      {% endif %}
      Animateur·trice·s
      {% if is_volunteer %}
        {% include "event/register_organizer.html" with event_to_organize=event %}
      {% endif %}
    </h5>
    <hr>
    <div class="card-columns">
      {% include "user/user_card.html" with users=event.organizers.all %}
    </div>
  {% if not event.is_free %}
    <h5> {{ event.registered.all.count|add:event.presents.all.count }} Participant·e·s
      {% if is_volunteer %}
        {% include "event/register.html" with event=event admin_text=" " %}
      {% endif %}
    </h5>
    <hr>
    {% if is_volunteer %}
      <div class="card-columns">
        {% include "user/user_card.html" with users=event.registered.all event_control=True %}
      </div>

      <div class="card-columns">
        {% for participation in event.participations.all %}
            <div class="card border border-success mx-2" style="border-width:2px !important">
              <div class="card-body text-center p-2">
                <a href="{% url "user:user_detail" participation.user.pk %}" class="card-link"> 
                  <div class="row">
                    <span class="badge badge-pill badge-primary float-left">
                        {% filter_orga queryset=participation.user.memberships organization=event.organization as membership %}
                        {% if membership %}
                          {{ membership.current_contribution }}
                        {% else %}
                          0
                        {% endif %}
                        €
                      </span>
                      {% if participation.amount > 0 %}
                        <span class="badge badge-pill badge-success float-left">
                        + {{ participation.amount }}€
                        </span>
                      {% endif %}
                    </div>
                  <div class="row text-center" id="square-{{ participation.user.pk }}">
                      <div class="col-12 mb-1">
                        {% if participation.user.avatar_img %}
                          {% thumbnail participation.user.avatar_img "50x50" crop="center" format="PNG" as im %}
                            <img src="{{ im.url }}" class="m-2 rounded-circle"/>
                          {% endthumbnail %}
                        {% else %}
                          {% if participation.user.first_name %}
                            {% get_initial_avatar participation.user 50 'circle' %}
                          {% endif %}
                        {% endif %}
                      </div>
                      <div class="col-12">
                        <h5 class="mx-auto col-12">
                            {{ participation.user.first_name|capfirst }} {{ participation.user.last_name|capfirst}}
                        </h5>
                      </div>
                  </div>
              </a>
                {% if is_active %}
                  {% tokenize user=participation.user event=event action='absent' as tok %}
                  <a href="{% url 'event:user_absent' tok %}" class="btn btn-danger btn-sm">
                    <i class="fa fa-minus"></i>
                  </a>
                {% endif %}
              </div>
            </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Pour voir les participations vous devez être membre actif de l'organisation </p>
    {% endif %}
  {% endif %}
  </div>

</section>

</div>
{% endblock %}

{% block extra_js %}
  {% if is_volunteer %}
    {{ users|json_script:"emails-data" }}
  {% endif %}
  <script>
      const longitude = {{ event.location.longitude|unlocalize }};
      const latitude = {{ event.location.latitude|unlocalize }};
  </script>

<script>
    $(document).ready(function(){
      $("#event_title").sticky({topSpacing:0});
      $(".booking_form").sticky({topSpacing:45});
    });
  </script>

  {% assets "js_detail_event" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
