{% load thumbnail %}

{% for event in event_list %}
<div class="card infinite-item mb-2
  {% if request.user in event.registered.all or request.user in event.presents.all or request.user in event.organizers.all %}
  border-success border shadow
  {% endif %}
  ">
  <div class="card-header bg-primary"> 
    <span class="text-secondary">
      <i class="far fa-calendar-alt"></i>    
      {{ event.date|date:"l j F Y " }} 
    </span>
    <small class="float-right text-white">
      <i class="far fa-clock"></i>  
      {{ event.starts_at }} à {{ event.ends_at }}
    </small >
  </div>

  <a class="" href="{% url 'event:detail' event.pk event.slug %}">

      <h5 class="text-muted position-absolute" style="top:45px; right:0px">
        {% if request.user in event.registered.all or request.user in event.presents.all %}
          <span class="badge badge-success badge-pill">Inscrit</span>
          {% endif %}
          {% if request.user in event.organizers.all %}
          <span class="badge badge-success badge-pill">Organisateur</span>
          {% endif %}
      </h5>

    {% if minimal != True %}  
      {% if event.activity.picture %}
        {% thumbnail event.activity.picture "400" format="PNG" as im %}
          <img class="card-img-top rounded-0" style="" src="{{ im.url }}"/>
        {% endthumbnail %}
      {% endif %}
    {% endif %}

    <div class="card-body">
      <h4 class="card-title">{{ event.activity.name }}</h4>

      <h6 class="text-muted">
        Encore <span> {{ event.remaining_seats }}</span> places disponibles 
      </h6>
      <div class="text-muted">
        <i class="fa fa-map-marker-alt"></i>
        {{ event.location.name }}
      </div>
      <hr>
      <small>
      {{ event.activity.description | safe | truncatewords_html:10 }}
      </small>
  </a>

    <footer class="text-muted text-center">
        {% include "event/register.html" with event=event %}
      <br>
      <br>
      <div class="col-lg">
        {% if event.organization.picture %}
        {% thumbnail event.organization.picture "30x30" crop="left" format="PNG" as im %}
          <img class="img-fluid rounded-circle square-2" src="{{ im.url }}" alt="organization img">
        {% endthumbnail %}
        {% endif %}
        <small>Organisé par {{ event.organization }}</small>
      </div>
    </footer>
    </div>
</div>
{% endfor %}

