{% load app_filters bootstrap4 %}

{% if admin_text or not request.user.is_authenticated %}
  {% if event.is_free %}
    <a class="btn btn-outline-warning">Événement sans réservation</a>
  {% else %}
      {% if admin_text %}
      <button class="btn btn-success rounded-circle" data-toggle="modal" data-target="#reservation{{ event.pk }}">
        <i class="fa fa-plus"></i>
      </button>
        {{ admin_text }}
      {% else %}
      <button class="btn btn-success btn-block booking_form" data-toggle="modal" data-target="#reservation{{ event.pk }}">  
        Je participe !
      </button>
      {% endif %}
    <div class="modal" id="reservation{{ event.pk }}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Réserver</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
            <h5 class="text-left">
              Avant de réserver, prenez connaissance des informations suivante:
            </h5>
            <ul class="pl-1">
              <li class="text-left">
                <small>un mail de confirmation contenant un lien d'annulation vous sera envoyé.</small>
              </li>
              {% for condition in event.conditions.all %}
              <li class="text-left">
                {% if condition.price > 0 %}
                  <span class="badge badge-pill badge-secondary">
                    {{ condition.price }}€</span> 
                  {% else %}
                  {% endif %}
                <small>{{ condition.description | safe }}</small>
              </li>
              {% empty %}
              <li class="text-left pb-3"><small>La participation est libre / pas de condition d'accès</small>
              </li>
            </ul>
              {% endfor %}
            </div>
            <small>Pensez à vous <a href="{% url "login" %}" title="se connecter">connecter ou créer/activer votre compte</a></small>
            <form action="{% url 'user:create_and_book' %}?event={{ event.pk }}" method="post">
                {% csrf_token %}
                {% bootstrap_form form=register_form %}
            <div class="modal-footer">
              <input type="submit" value="Réserver" class="btn btn-primary"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% else %}
  {% if event.is_free %}
    <a class="btn btn-outline-warning">Événement sans réservation</a>
  {% elif event.remaining_seats >= 0 %}
    {% if request.user in event.registered.all %}
      {% tokenize user=request.user event=event action='cancel' as tok %}
      <a href="{% url 'event:cancel_reservation' tok %}" class="btn btn-block btn-warning">Je ne participe plus</a>
    {% elif request.user not in event.presents.all and request.user not in event.organizers.all %}
      {% tokenize user=request.user event=event action='book' as tok %}
      <a href="{% url 'event:book' tok %}" class="btn btn-block btn-success">Je participe !</a>
    {% else %}
      <a class="btn btn-outine-danger">Participation impossible</a>
    {% endif %}
  {% else %}
    <a class="btn btn-block btn-outline-danger"> Complet</a>
  {% endif %}
{% endif %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $(".booking_form").click(function() {
      $("#reservation{{ event.pk }}").insertBefore(".header");
});
  });
</script>
{% endblock %}