{% for condition in conditions %}
<div class="col">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ condition.name }}</h5>
      {{ condition.description | safe }}
      <span class="badge badge-pill bg-secondary">
        {% if condition.price > 0 %}
          {{ condition.price }}€
        {% else %}
          free
        {% endif %}
      </span>
    </div>
    <div class="card-footer">
      <a href="{% url 'event:condition_edit' condition.pk %}" class="btn btn-success btn-sm">
        <i class="fa fa-pencil-alt"></i>
        Éditer
      </a>
      <a href="{% url 'event:condition_delete' condition.pk %}" class="btn btn-danger btn-sm">
        <i class="fa fa-trash"></i>
        Supprimer
      </a>
    </div>
  </div>
</div>
{% empty %}
  Aucune condition pour le moment, créez-en !
{% endfor %}
