/* éléments généraux */
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.container-fluid{
  padding: 0;
  margin: 0;
}
.content-page {
  min-height: 500px;
  overflow-x:hidden;
}
a {
  color : #49d3be;
}
header{
  z-index:1250 !important;
}

h1, h2, h3, h4, h5 {
  color : #083342;
}
h4 {
  z-index: 0;
}

.bg-grey { 
  background-color: #eef2f6 !important;
}
/* Menu */

.header_detail_page, #h_nav, #breadcrumb, #jumbotron {
  z-index: 2 !important;
}
.navbar {
  background-color: #083342;
  padding: 0.3em;
}
.navbar ul li a {
  margin-left: 1em;
  color: white;
}
.navbar .fa, .avatar a, .dropdown-toggle  {
  color: white;
}
.navbar ul li a:hover, .navbar .fa:hover, .avatar a:hover, .dropdown-toggle:hover{
  color: gray;
  text-decoration: none;
}
.navbar ul li a{
  margin-left: 1em;
  color : #fee56e !important;
}

/* cards */

.card {
  border-radius: 0;
  border : 0px;
  a.card-link {
    text-decoration: none;
    color: inherit;
  }
  small {
    color:initial;
  }
}

/* breadcrumb (chemin navigation) */
.breadcrumb{
  font-size: .8em;
  margin-bottom: 0 !important;
  border-width: 0;
  background-color: white !important;
  z-index: 2;
}

/* leaflet reset style */

.leaflet-container a {
  color: #49d3be;
}

/* Modals */

.modal-content {
  border-radius: 0;
  margin-top: 20%;
  padding: 2em;
  z-index:10000 !important;
  position:relative !important;
}

/* sizes */

.square-2 {
  width: 2em;
  height: 2em;
}

.alert{
  position: fixed !important;
  top: 100px;
  z-index: 10000;
  box-shadow: 0px 10px 100px black;
  right: 20px;
  left: 20px;
}
@media screen and (max-width: 1024px) {
  h3{
      font-size:1rem;
  }
}

@media screen and (max-width: 768px) {
  h3{
      font-size:1.4rem;
  }
  .fixed_sidedar{
    position: initial !important;
  }
  .header_detail_page{
    height: 200px;
    z-index: 2;
  }
  #side_nav{
    background-color: #fee56e !important; 
    width:100%;
  }
  .header_detail_page_picture{
    float: left;
    padding-top: 10px !important;
    img{
      width: 75px;
      height: auto;
      margin: 0px !important;
    }
  }
  .header_detail_page_title{
    float: left;
    font-size: 18px;
    padding-top: 10px !important;
    line-height: 75px;
  }
  #v-pills-tab{
    width:100%;
    padding: 0px !important;
    a{
      font-size: 12px;
      color: #083342;
    }
    a.active{
      color : #FFF;
    }
  }

}

@media screen and (max-width: 576px) {
  .container{
    margin: 0px !important;
    padding: 0px !important;
  }
}