{% extends 'base.html' %}
{% load static %}
{% block title %}
    A propos de {{ site_title }}
{% endblock title %}
{% block meta-description %}
    Découvrez le fonctionnement de Reparons.org, la plateforme libre de réservation d'ateliers de réparation. Trouvez facilement des ateliers pour réparer vos objets du quotidien et contribuez à une consommation plus responsable. Économisez du temps, prolongez la durée de vie de vos objets et réduisez les déchets électroniques. Rejoignez Reparons.org dès maintenant !
{% endblock meta-description %}
{% block content %}
    <div class="bg-secondary pt-5 pb-5 text-center">
        <div class="container">
              
                    <h1>A propos de Reparons.org,<br/> la plateforme libre de réservation d'ateliers de réparation.</h1>
        </div>
    </div>
    <div class="container">
        <section class="mt-5">
            <div class="row">
                <div class="col-2 text-center">
                    <img class="w-100" src="{% static 'img/fusee.png' %}">
                </div>
                <div class=" col-10">
                    <h2>Vous en avez assez de jeter des objets qui pourraient encore être réparés ?</h2>
                    Vous cherchez un moyen pratique de <strong>prolonger leur durée de vie et de réduire votre empreinte écologique</strong> ? Ne cherchez plus ! Reparons.org est là pour vous.
                    <br />
                    Notre mission est de <strong>faciliter la réparation d'objets du quotidien</strong> en mettant en relation les utilisateurs avec des ateliers de réparation participatifs. Que ce soit pour votre vélo, votre électroménager, votre smartphone ou tout autre objet nécessitant une réparation, nous avons sélectionné avec soin des structures partenaires.
                </div>
            </div>
        </section>
        <section class="mt-5">
            Chaque année, des tonnes d'objets fonctionnels finissent à la poubelle simplement parce que leurs propriétaires ne savent pas où les faire réparer. Cette culture du "jeter-remplacer" a un impact dévastateur sur notre environnement, contribuant à l'accumulation de déchets électroniques et à la surconsommation des ressources naturelles. Il est temps d'adopter une approche plus responsable.
        </section>
        <section class="mt-5">
            Reparons.org est la solution pratique à ce problème. Notre plateforme vous permet de trouver facilement et rapidement des ateliers près de chez vous. Plus besoin de passer des heures à chercher sur Internet ou de multiplier les appels pour trouver un atelier disponible. Avec Reparons.org, vous pouvez accéder à une liste d'ateliers partenaires triés sur le volet, prêts à vous aider à remettre vos objets en état de fonctionnement.
        </section>
        <section class="mt-5">
            Notre système de réservation est simple et efficace. Il vous suffit de sélectionner votre emplacement. Vous obtiendrez une liste d'ateliers de réparation à proximité, avec leurs disponibilités et leurs spécialités. Vous pourrez choisir celui qui convient le mieux à vos besoins et réserver votre créneau de réparation en ligne. Plus besoin de jongler avec les horaires et les contraintes, Reparons.org vous facilite la réparation.
        </section>
        <section class="mt-5">
            En choisissant Reparons.org, vous bénéficiez de nombreux avantages. Non seulement vous économisez du temps et des efforts en évitant les recherches fastidieuses, mais vous contribuez également à une consommation plus responsable. En optant pour la réparation plutôt que le remplacement, vous prolongez la durée de vie de vos objets, réduisant ainsi votre empreinte écologique. De plus, vous soutenez les ateliers locaux et les experts ou associations de réparation qui mettent leur savoir-faire à votre service.
            N'attendez plus, rejoignez Reparons.org et devenez un acteur du changement. En choisissant la réparation, vous faites un geste concret pour préserver notre planète tout en économisant de l'argent. Ensembles, nous pouvons faire une différence significative et créer un avenir plus durable.
        </section>
        <section class="mt-5">
            Engagez-vous pour un avenir durable
            En rejoignant Reparons.org, vous vous engagez activement pour un avenir durable. Vous contribuez à réduire la production de déchets électroniques et à lutter contre l'obsolescence programmée. En donnant une seconde vie à vos objets, vous participez à la préservation des ressources naturelles et à la réduction des émissions de gaz à effet de serre associées à leur fabrication.
            Chaque réservation effectuée sur Reparons.org est une action concrète pour promouvoir une consommation responsable. Vous devenez un maillon essentiel d'une communauté grandissante de personnes engagées, prêtes à agir pour préserver notre environnement et à favoriser une économie circulair
        </section>
        <section class="mt-5">
            Foire aux questions (FAQ)
            Vous avez des questions ? Consultez notre foire aux questions (FAQ) pour obtenir des réponses détaillées sur le fonctionnement de Reparons.org, la réservation d'ateliers de réparation, les garanties, les paiements, et bien plus encore. Nous avons rassemblé les informations les plus courantes pour vous aider à trouver rapidement les réponses dont vous avez besoin.
        </section>
    </div>
{% endblock content %}
