{% load static bootstrap4 assets thumbnail initialavatar app_filters %}

{% if column == "details" %}
<button class='btn btn-secondary btn-small'>Voir</button>

{% elif column == "avatar" %}
    {% if record.avatar_img %}
      {% thumbnail record.avatar_img "30x30" crop="center" format="PNG" as im %}
        <img src="{{ im.url }}" class="rounded-circle"/>
      {% endthumbnail %}
    {% else %}
      {% if record.first_name %}
        {% get_initial_avatar record 30 'circle' %}
      {% endif %}
    {% endif %}

{% elif column == "membership_status" %}
    {% for membership in record.memberships.all %}
      {% if membership.organization == organization %}
        {% if membership.current_contribution == 0 %} 
            <small class="text-danger" >Pas à jour</small>
            <span class="badge badge-pill badge-danger" >{{membership.current_contribution}}€</span>
        {% elif membership.current_contribution >= organization.advised_fee %}
            <small class="text-success" >A jour </small>
            <span class="badge badge-pill badge-success" >{{membership.current_contribution}}€</span>
        {% else %}
            <small class="text-warning" >Incomplet </small>
            <span class="badge badge-pill badge-warning" >{{membership.current_contribution}}€</span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </small>

{% elif column == "member_update" %}
    {% for membership in record.memberships.all %}
        {% if membership.organization == organization %}
            <button class="btn btn-success btn-sm" 
            data-toggle="modal" 
            data-target="#more-info-{{ membership.user.pk }}">
            <i class="fa fa-plus"></i>
            Mettre à jour
            </button>
            {% include "user/organization/modal_more_info.html" with object=organization anonymous_user=user form=add_member_form|initial:user %}
        {% endif %}
    {% endfor %}
    
{% elif column == "date" %}   
    <div class="row border-secondary border text-center bg-white">
      <span class="col-12 bg-secondary">
        {{ record.date|date:"N"|upper }} {{ record.date|date:"Y"|upper }}
      </span>
      <span class="col-12">
        {{ record.date|date:"d" }}
      </span>
    </div>

{% elif column == "needed_organizers" %}   
  <div class="mini-organizers">
  {% if record.needed_organizers != 0 %}
        <span class="align-middle
          {% if record.needed_organizers != 0 %}
            {% if record.needed_organizers > record.organizers.all.count %}
              text-danger
            {% elif record.needed_organizers <= record.organizers.all.count %}
              text-success
            {% else %}
              text-warning
            {% endif %}
          {% endif %}"> 
            {{ record.organizers.all.count }}/{{ record.needed_organizers }}
        </span>
    {% endif %}
    {% for orga in record.organizers.all %}
      <div class="position-relative float-left mini d-none d-md-block d-lg-block">
      {% if orga.avatar_img %}
        {% thumbnail orga.avatar_img "25x25" crop="center" format="PNG" as im %}
          <img src="{{ im.url }}" class="rounded-circle"/>
        {% endthumbnail %}
      {% else %}
        {% if orga.first_name %}
          {% get_initial_avatar orga 25 'circle' %}
        {% endif %}
      {% endif %}
      </div>
    {% endfor %}
  </div>


{% elif column == "seats" %}   
  {% if record.is_free %}
    Illimité
  {% else %}
    <span
    class=" float-left
      {% if record.remaining_seats <= 0 %}
        text-danger
      {% elif record.remaining_seats == record.available_seats %}
        text-success
      {% else %}
        text-warning
      {% endif %}
      ">
    <i class="fas fa-users"></i>    
      {{ record.remaining_seats}}/{{ record.available_seats }}
    </span>
{% endif %}
{% endif %}