{% load static bootstrap5 assets thumbnail initialavatar app_filters %}

{% if column == "stuff_state" %}
{% include "inventory/stuff_state_display.html" with stuff_state=record.get_state_display %}

{% elif column == "details" %}
<button class='btn btn-secondary btn-small'>Voir</button>

{% elif column == "avatar" %}
    {% if record.user.avatar_img %}
      {% thumbnail record.user.avatar_img "30x30" crop="center" format="PNG" as im %}
        <img src="{{ im.url }}" class="rounded-circle"/>
      {% endthumbnail %}
    {% else %}
      {% if record.user.first_name %}
        {% get_initial_avatar record.user 30 'circle' %}
      {% endif %}
    {% endif %}

{% elif column == "membership_status" %}
  {% if record.current_contribution == 0 %}
  <span class="text-danger" >Pas de cotisation</span>
  <span class="badge badge-pill bg-danger" >0€</span>
  {% elif record.current_contribution >= record.organization.advised_fee %}
  <span class="text-success" >A jour </span>
  <span class="badge badge-pill bg-success" >{{record.current_contribution}}€/{{record.organization.advised_fee}}€</span>
  {% else %}
  <span class="text-warning" >Incomplet</span>
  <span class="badge badge-pill bg-warning" >{{record.current_contribution}}€</span>
  {% endif %}

{% elif column == "member_update" %}
    <button class="btn btn-success btn-sm"
    data-bs-toggle="modal"
    data-bs-target="#more-info-{{ record.user.pk }}">
    <i class="fa fa-plus"></i>
    Mettre à jour
    </button>
    {% include "user/organization/modal_more_info.html" with object=organization anonymous_user=record.user form=add_member_form|initial:record.user %}

{% elif column == "date" %}
    <div class="row border-secondary border text-center bg-white ms-2 me-2 calendar">
      <small class="col-12 bg-secondary">
        {{ record.date|date:"N"|upper }} {{ record.date|date:"Y"|upper }}
      </small>
      <small class="col-12">
        {{ record.date|date:"d" }}
      </small>
    </div>

{% elif column == "needed_organizers" %}
  {% with organizers=record.organizers.all needed_organizers=record.needed_organizers %}
    <div class="mini-organizers">
      {% if needed_organizers != 0 %}
          <span class="align-middle
            {% if needed_organizers != 0 %}
              {% if needed_organizers > organizers.count %}
                text-danger
              {% elif needed_organizers <= organizers.count %}
                text-success
              {% else %}
                text-warning
              {% endif %}
            {% endif %}">
              {{ organizers.count }}/{{ needed_organizers }}
          </span>
      {% endif %}
      {% for orga in organizers %}
        <div class="position-relative float-start mini d-none d-md-block d-lg-block">
        {% if orga.avatar_img %}
          {% thumbnail orga.avatar_img "25x25" crop="center" format="PNG" as im %}
            <img src="{{ im.url }}" class="rounded-circle"/>
          {% endthumbnail %}
        {% else %}
          {% if orga.first_name %}
            {% get_initial_avatar orga 25 'circle' %}
          {% endif %}
        {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endwith %}

{% elif column == "seats" %}
  {% if record.is_free %}
    Illimité
  {% else %}
    <span
    class=" float-start
      {% if record.remaining_seats <= 0 %}
        text-danger
      {% elif record.remaining_seats == record.available_seats %}
        text-success
      {% else %}
        text-warning
      {% endif %}
      ">
    <i class="fas fa-users"></i>
      {{ record.remaining_seats}}/{{ record.available_seats }}
    </span>
{% endif %}
{% endif %}
