
{% load i18n %}
{% load static %}
{% load fontawesome %}
{% load avatar_tags %}
{% load activity_tags %}

{% for action in stream|slice:":10" %}
    <div class="feed list-group-item">
        <p class="text-center text-muted"> il y a {{action.timestamp|timesince}}</p>
        <p class="text-left">
            <a href="{{ action.actor.get_absolute_url }}">
                {% avatar action.actor 15 class="img-circle img-responsive" %}
            {{ action.actor }}
            </a>
            {{ action.verb }}
            {% if action.action_object %}
                {% if action.action_object.get_absolute_url %}<a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a>
            {% else %}<a href="{{ action.action_object_url }}">{{ action.action_object }}</a>{% endif %}
            {% endif %}
            {% if action.action_object and action.target %}pour{% endif %}
            {% if action.target %}
                {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
            {% endif %}
        </p>
    </div>
{% endfor %}
