{% load static %}
<footer class="footer bg-primary">
    <div class="container">
        <div class="row pt-5 pb-5 ">
            <div class="col">
                <img src="{% static 'img/logo-simple.png' %}" class="mb-5" width="120" />
                <p>
                    Réparons.org est une platforme open source créée et maintenue principalement par l'Atelier Soudé. Et vise à agrèger toutes les initiaves autour de la réparation, le ré-emploi et la valorisation des objets. 
                </p>
            </div>
            <div class="col">
    
            </div>
            <div class="col">
    
            </div>
    
        </div>
    </div>
    
</footer>