{% extends 'base_home.html' %}
{% load static i18n l10n bootstrap5 app_filters %}

{% block title %}Bienvenue sur l'application {{site_title}}{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 65px);">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/logo-simple.png' %}" class="mt-5" width="120">
    </div>
    <h4 class="pt-2 text-center text-success">Bienvenue sur Réparons !</h4>
    <h4 class="text-center">Vous avez envie de réparer ou de créer ? Prenez rendez-vous et nous le faisons ensemble !</h4>
    <div class="d-flex flex-column align-items-center">
      <section class="w-75">
        <h6 class="pt-2 text-center">
          Entrez votre code postal pour trouver les événements à proximité
        </h6>
        <form method="get" class="form-row" action="{% url 'event:list' %}">
          <div class="input-group mb-3">
            <input required type="text" class="form-control" placeholder="Code postal" name="postcode" pattern="[0-9]*" value="{{ request.session.postcode }}"/>
            <div class="input-group-append">
              <button class="btn btn-outline-primary bg-secondary" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <small class="form-text">
              Attention: Pour les grandes villes, vous devez renseigner un code postal avec l'arrondissement (exemple: pour Lyon, mettre 69007 si vous êtes dans le 7eme arrondissement, 69000 n'est pas autorisé)
            </small>
          </div>
          {% if request.session.distance %}
            <input class="form-range" type="range" name="distance" min="1" max="400" value="{{ request.session.distance }}" oninput="this.nextElementSibling.value = this.value">
            <output>{{ request.session.distance }}</output> km
          {% else %}
            <input class="form-range" type="range" name="distance" min="1" max="400" value="50" oninput="this.nextElementSibling.value = this.value">
            <output>50</output> km
          {% endif %}
        </form>
      </section>

      {% for message in messages %}
        <div class="card" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="card-body">
            {{ message|safe }}
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="d-flex flex-sm-row flex-column mt-2">
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="{% static 'img/fusee.png' %}">
        <h5 class="fw-bolder">Transmettre les savoirs</h4>
      </div>
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="{% static 'img/soudure.png' %}">
        <h5 class="fw-bolder">Réparer ensemble</h4> 
      </div>
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="{% static 'img/communaute.png' %}">
        <h5 class="fw-bolder">Faire communauté</h4>
      </div>
    </div>
  </div>

  <div class="bg-success p-4 mt-5">
    <div class="d-flex justify-content-around container">
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{event_count}}
        </h3>
        <p>Evenements en ligne</p>
      </div>
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{user_count}}
        </h3>
        <p>Utilisateurs enregistrés</p>
      </div>
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{organization_count}}
        </h3>
        <p>Organisations inscrites</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
