{% extends 'base.html' %}
{% load static i18n l10n bootstrap5 app_filters %}

{% block title %}Bienvenue sur l'application {{site_title}}{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 65px);">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/logo-simple.png' %}" class="mt-5" width="120">
    </div>
    <h4 class="pt-2 text-center text-success">Bienvenue sur Réparons !</h4>
    <h4 class="text-center">Vous avez envie de réparer ou de créer ? Prenez rendez-vous et nous le faisons ensemble !</h4>
    <div class="d-flex flex-column align-items-center">

      <section class="w-75 text-center mt-5 mb-5">
        <a href="/event/" class="btn btn-success btn-lg"><i class="far fa-calendar-alt"></i> Voir les événements</a>
      </section>

      {% for message in messages %}
        <div class="card" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="card-body">
            {{ message|safe }}
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="d-flex flex-sm-row flex-column mt-2">
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="https://atelier-soude.fr/images/50.png">
        <h5 class="fw-bolder">Transmettre les savoirs</h4>
      </div>
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="https://atelier-soude.fr/images/5.png">
        <h5 class="fw-bolder">Réparer ensemble</h4>
      </div>
      <div class="text-center">
        <img class="p-5 img-responsive w-50" src="https://atelier-soude.fr/images/200.png">
        <h5 class="fw-bolder">Faire communauté</h4>
      </div>
    </div>
  </div>

  <div class="bg-success p-4 mt-5">
    <div class="d-flex justify-content-around container">
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{event_count}}
        </h3>
        <p>Evenements en ligne</p>
      </div>
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{user_count}}
        </h3>
        <p>Utilisateurs enregistrés</p>
      </div>
      <div class="m-2">
        <h3 class="text-center text-secondary" style="font-size: 3rem;">
          {{organization_count}}
        </h3>
        <p>Organisations inscrites</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
