{% load thumbnail %}
{% load initialavatar %}
{% load static %}

<nav class="header nav-header navbar navbar-expand-lg" style="width:100%; position:fixed">
  <a href="{% url "homepage" %}" class="navbar-brand float-start d-block d-sm-none" style="width:50px; z-index: 150;"> 
    <img src="{% static 'img/logo-simple.png' %}" class="brand-logo w-100">
  </a>
  <a href="{% url "homepage" %}" class="brand-logo d-none d-sm-block">
    <img src="{% static 'img/logo.png' %}">
  </a>
  <label for="current-localisation">
    <input type="checkbox" id="current-localisation" class="toggle-modal"/>
    <div class="d-flex align-items-center">
      <form class="menu-localisation me-2" action="{% url 'where' %}" method="get">
        {% csrf_token %}
        <input type="text" pattern="[0-9]*" value="{{ request.session.postcode }}" required class="form-control" placeholder="Code postal" name="postcode"/>
      </form>
      <a title="Cliquez pour modifier la localité" class="d-flex align-items-end"><i class="fas fa-map-marked-alt fa-2x text-secondary"></i>
      <span class="ps-2 text-success fw-bold">{{ request.session.postcode }}</span></a>
    </div>
  </label>
  <div class="collapse navbar-collapse bg-primary" style="width:100%">
  </div>
  <div class="navbar navbar-expand-lg d-flex justify-content-end p-0">
    {% if not user.is_authenticated %}
      <div class="navbar-brand p-0">
        <small>
            <a class="nav-link p-2 text-secondary" href="{% url "login" %}">
                Se connecter <i class="fas fa-sign-in-alt"></i>
            </a>
        </small>
      </div>
    {% else %}
    <div class="navbar-brand avatar">
      <a class="nav-link" href="{{ user.get_absolute_url }}">
        {% if user.avatar_img %}
          {% thumbnail user.avatar_img "35x35" crop="center" format="PNG" as im %}
            <img src="{{ im.url }}" class="rounded-circle"/>
          {% endthumbnail %}
        {% else %}
          {% if user.first_name %}
            {% get_initial_avatar user 35 'circle' %}
          {% endif %}
        {% endif %}
       <small>{{ user.first_name }}</small>
      </a>
    </div>
    <div class="navbar-brand arrow-login">
      <a class="nav-link me-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class=""></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{{ user.get_absolute_url }}"> voir profil </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ user.get_absolute_url }}"> mes rendez-vous</a>
        {% if user.admin_organizations.all %}
        <div class="dropdown-divider"></div>
        {% for organization in user.admin_organizations.all %}
          <a class="dropdown-item" href="{% url "organization_page" organization.slug %}">
            Gérer {{ organization.name }}
          </a>
        {% endfor %}
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="nav-link dropdown-item" href="{% url 'logout' %}" title="Logout">
          Déconnexion
        </a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-secondary">
        <i class="fa fa-bars text-secondary" style="font-size: 30px;" id="toggler"></i>
      </span>
    </button>
    {% endif %}
  </div>
</nav>
