{% extends 'organization_page.html' %}
{% load static thumbnail bootstrap4 initialavatar django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}Page de {{organization.name}}: gestion des évènements{% endblock %}

{% block menu_content %}
  <section class="container">
    <h2 class="text-center p-2">Evénements de {{ organization }}</h2>
    <div class="row mb-4 text-center">
      <a class="btn btn-primary col-md-6" href="{% url 'event:create' organization.id %}">
        <i class="fa fa-plus-circle"></i> évènement
      </a>
      <a class="btn btn-success col-md-6" href="{% url 'event:recurrent_create' organization.id %}">
        <i class="fa fa-plus-circle"></i> événement récurrent
      </a>
    </div>
  </section>
  {% if filter %}
  <div class="card mb-4 text-center">
    <form action="" method="get" class="form-inline justify-content-center form-xs">
      <h4 class="d-block w-100">Rechercher</h4>
        {% bootstrap_form filter.form %}
        <a class="btn-secondary w-100">{% bootstrap_button 'filtrer' %}</a>
    </form>
  </div>
  {% endif %}
  <h4 class="text-center w-100">{{total_events}} dates</h4>
  <section class="border border-primary mb-5">
    <span class="float-right">Télécharger le résultat :
      <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
      <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
    </span>
  {% render_table table %}
  </section>
{% endblock menu_content %}

{% block extra_js %}
  <script>
    $(document).ready(function(){
      $("#h_nav").sticky({topSpacing:40});
      $("#side_nav").sticky({topSpacing:80});
      $("#breadcrumb").sticky({topSpacing:0});
    });
  </script>
{% endblock %}