{% extends 'organization_page.html' %}
{% load static thumbnail bootstrap5 initialavatar django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}Page de {{organization.name}}: gestion des stocks{% endblock %}

{% block menu_content %}
  <section class="container">

     <!-- modals -->
     <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    {% if is_active %}
    <button id="add-object" class="btn btn-success btn-absolute bs-gobal-modal" data-form-url="{% url 'inventory:create_organization_stuff' organization.slug %}">
      <i class="fa fa-plus"></i><i class="fas fa-box-open"></i>
      <span class="btn-label d-none ps-1">Ajouter un objet</span>
    </button>
    {% endif %}
  </section>
  {% if filter %}
  <div class="card mb-4 text-center">
    <form action="" method="get" class="un-z-index form-inline justify-content-center form-xs">
        {% bootstrap_form filter.form %}
        <a class="btn-secondary">{% bootstrap_button 'filtrer' %}</a>
    </form>
  </div>
  {% endif %}
  <section class="box-shadow">
    {% if is_active %}
      <span class="float-end">Télécharger le résultat :
        <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
        <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
      </span>
    {% endif %}
  {% render_table table %}
  </section>
{% endblock menu_content %}

{% block extra_js %}
{{ filter.form.media }}
<script>
  $(document).ready(function(){
    $( ".btn-absolute" ).hover(
  function() {
    $( ".btn-label" ).removeClass( "d-none" );
    $( this ).css( "width", "200px" );
  }, function() {
    $( ".btn-label" ).addClass( "d-none" );
    $( this ).css( "width", "73px" );
  }
  );
  });
</script>

{% assets "js_create_stuff" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}


{% endblock extra_js %}


