{% if is_active %}
<nav class="nav nav-pills justify-content-center bg-secondary" id="h_nav">
    <a class="nav-link {{ page_tab }}" 
    href="{% url 'organization_page' organization.slug %}">
    Page</a> <!-- change this -->
    <a class="text-center nav-link {{ events_tab }}" 
    href="{% url 'organization_events' organization.slug %}">
      <i style="font-size: 22px" class="fas fa-calendar-alt d-none d-sm-block d-md-none d-block"></i>    
      <span class="d-none d-sm-none d-md-block">Evenements</span>
    </a>
    <a class="text-center nav-link {{ members_tab }}"
    href="{% url 'organization_members' organization.slug %}">
    <i style="font-size: 22px" class="fas fa-users d-none d-sm-block d-md-none d-block"></i>    
      <span class="d-none d-sm-none d-md-block">Membres</span>
    </a>
    <a class="text-center nav-link {{ accounting_tab }}"
    href="{% url 'organization_fees' organization.slug %}">
    <i style="font-size: 22px" class="fas fa-euro-sign d-none d-sm-block d-md-none d-block"></i>    
      <span class="d-none d-sm-none d-md-block">Comptabilité</span>
    </a>
    <a class="text-center nav-link {{ controls_tab }}"
    href="{% url 'organization_controls' organization.slug %}">
      <i style="font-size: 22px" class="fas fa-cog d-none d-sm-block d-md-none d-block"></i>    
      <span class="d-none d-sm-none d-md-block">Modifier</span>
    </a>
</nav>
{% endif %}