{% extends 'organization_page.html' %}
{% load bootstrap5 app_filters static thumbnail assets %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}

{% block menu_content %}
<section class="container">
  <div class="text-center m-auto">
    <h2 class="text-center pt-2">Groupes</h2>
  </div>
</section>
{% with admins=organization.admins.all actives=organization.actives.all volunteers=organization.volunteers.all %}
  <section class="container">

    <h4>{{ admins.count }} administrateurs</h4>
    {% if is_admin %}
    <form class="col-lg p-0" action="{% url 'user:organization_add_admin' organization.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form add_admin_form %}
        <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
          <i class="fa fa-plus"></i>
        </button>
    </form>
    {% endif %}
    <div class="card-columns">
      {% include "user/user_card.html" with users=admins admin_remove_controls=True %}
    </div>

    <h4>{{ actives.count }} actifs</h4>
    {% if is_active %}
    <form class="col-lg p-0" action="{% url 'user:organization_add_active' organization.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form add_active_form %}
        <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
          <i class="fa fa-plus"></i>
        </button>
    </form>
    {% endif %}
    <div class="card-columns">
      {% include "user/user_card.html" with users=actives active_remove_controls=True %}
    </div>

    <h4>{{ volunteers.count }} volontaires</h4>
    {% if is_active %}
      <form class="col-lg p-0" action="{% url 'user:organization_add_volunteer' organization.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form add_volunteer_form %}
        <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
          <i class="fa fa-plus"></i>
        </button>
      </form>
    {% endif %}
    <div class="card-columns">
      {% include "user/user_card.html" with users=volunteers volunteer_remove_controls=True %}
    </div>

  </section>
{% endwith %}
{% endblock menu_content %}


{% block extra_js %}

{% assets "js_groups_organization" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if is_active %}
{{ emails|json_script:"emails-data" }}
{% endif %}

<script>
  $(document).ready(function(){
    $("#h_nav").sticky({topSpacing:105});
    $("#breadcrumb").sticky({topSpacing:65});
  });
</script>
{% endblock %}
