{% extends 'organization_page.html' %}
{% load static thumbnail%}
{% load bootstrap5 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}

{% block menu_content %}
<section class="container">
  <div class="text-center m-auto">
    <h2 class="text-center pt-2">Cotisations</h2>
    {% if filter %}
    <div class="card mb-4 text-center">
      <form action="" method="get" class="form-inline justify-content-center form-xs">
          {% bootstrap_form filter.form %}
          {% bootstrap_button 'filtrer' button_class="btn-secondary" %}
      </form>
    </div>
    {% endif %}
  </div>
</section>
<h4 class="text-center w-100">Total = {{total_fees}} €</h4>
<section class="box-shadow mb-5">
  <span class="">Télécharger le résultat :
    <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
    <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
  </span>
  {% render_table table %}
</section>
{% endblock menu_content %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $("#h_nav").sticky({topSpacing:105});
    $("#breadcrumb").sticky({topSpacing:65});
  });
</script>

  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}