{% extends 'organization_page.html' %}
{% load bootstrap4 app_filters static thumbnail%}
{% load querystring from django_tables2 %}
{% load django_tables2 %}

{% block menu_content %}
<section class="container">
  <div class="text-center m-auto">
    <h2 class="text-center pt-2">Groupes</h2>
  </div>
</section>
<section class="container">
      <h4>{{ organization.admins.all.count }} administrateurs</h4>
      {% if is_admin %}
      <form class="col-lg p-0" action="{% url 'user:organization_add_admin' organization.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form add_admin_form %}
          <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
            <i class="fa fa-plus"></i>
          </button>
      </form>
      {% endif %}
      <div class="card-columns">
        {% include "user/user_card.html" with users=organization.admins.all admin_remove_controls=True %}
      </div>
  
      <h4>{{ organization.actives.all.count }} actifs</h4>
      {% if is_active %}
      <form class="col-lg p-0" action="{% url 'user:organization_add_active' organization.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form add_active_form %}
          <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
            <i class="fa fa-plus"></i>
          </button>
      </form>
      {% endif %}
      <div class="card-columns">
      {% include "user/user_card.html" with users=organization.actives.all active_remove_controls=True %}
    </div>
  
    <h4>{{ organization.volunteers.all.count }} volontaires</h4>
    {% if is_active %}
      <form class="col-lg p-0" action="{% url 'user:organization_add_volunteer' organization.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form add_volunteer_form %}
        <button type="submit" class="btn btn-success rounded-circle position-absolute" style="top:38px; right:-2px">
          <i class="fa fa-plus"></i>
        </button>
      </form>
    {% endif %}
    <div class="card-columns">
      {% include "user/user_card.html" with users=organization.volunteers.all volunteer_remove_controls=True %}
    </div>
</section>
{% endblock menu_content %}

<style>
  label {
    display: none;
  }
</style>

{% block extra_js %}
{% if is_volunteer %}
{{ emails|json_script:"emails-data" }}
{% endif %}
  <script>
    $(document).ready(function(){
      $("#h_nav").sticky({topSpacing:40});
      $("#side_nav").sticky({topSpacing:80});
      $("#breadcrumb").sticky({topSpacing:0});
    });
  </script>
{% endblock %}