{% extends 'organization_page.html' %}
{% load static bootstrap5 assets thumbnail app_filters %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}

{% block title %}Page de {{organization.name}}: gestion des membres{% endblock %}

{% block menu_content %}
  <section class="container">
    <h2 class="text-center mt-4">Membres adhérents de {{organization}}</h2>
    <div class="col-lg">


      <div class="mb-4 text-center">
        <button onclick="autocompleteUserInfo()" class="btn btn-success btn-absolute" data-bs-toggle="modal" data-bs-target="#more-info-{{ anonymous_user.pk }}">
          <i class="fa fa-plus"></i><i class="fas fa-user"></i>
          <span class="btn-label d-none ps-1">Ajouter un membre</span>
        </button>
        {% include "user/organization/modal_more_info.html" with object=organization form=add_member_form %}
      </div>
      {% if filter %}
      <div class="card mb-4 text-center">
        <form action="" method="get" class="form-inline justify-content-center form-xs">
            {% bootstrap_form filter.form %}
            {% bootstrap_button 'filtrer' button_class="btn-secondary" %}
        </form>
      </div>
      <h4 class="text-center mt-4">{{total_members}} membres</h4>
      {% endif %}
      <div class="box-shadow mb-5">
        <span class="float-end">Télécharger le résultat :
          <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
          <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
        </span>
        {% render_table table %}
      </div>
    </div>
  </section>
{% endblock menu_content %}

{% block extra_js %}
<script src="{% static 'js/user/user_exist_api_autocomplete.js' %}"></script>
<script>
  $(document).ready(function(){
    $( ".btn-absolute" ).hover(
  function() {
    $( ".btn-label" ).removeClass( "d-none" );
    $( this ).css( "width", "200px" );
  }, function() {
    $( ".btn-label" ).addClass( "d-none" );
    $( this ).css( "width", "63px" );
  }
  );
  });
</script>

{% assets "js_groups_organization" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock extra_js %}
