{% extends 'organization_page.html' %}
{% load static thumbnail bootstrap5 initialavatar django_tables2 %}
{% load querystring from django_tables2 %}

{% block title %}Page de {{organization.name}}: gestion des évènements{% endblock %}

{% block menu_content %}
  <section class="container text-center">
    <h2 class="text-center mt-4">Evénements de {{ organization }}</h2>
    {% if is_active %}
    <p class="d-none" id="ical">{{ request.META.HTTP_HOST }}{% url 'event:ical_events' organization.pk %}</p>
    <button onclick="copyToClipboard('#ical')" class="btn btn-light mb-2">
      <i class="far fa-calendar-plus"></i> Copier l'url Ical
    </button>
      <button class="btn-absolute btn btn-success" id="more-button">
        <i class="fa fa-plus"></i><i class="fa fa-calendar-alt"></i>  
        <a class="d-none btn-event pl-1" href="{% url 'event:create' organization.id %}">
          ajouter un événement
        </a>        
        <a class="btn btn-primary btn-reccurent-event d-none btn-absolute" style="bottom:100px" href="{% url 'event:recurrent_create' organization.id %}">
          <i class="fa fa-plus pr-1"></i>
          événement récurrent
        </a>
      </button>
    {% endif %}
  </section>
  {% if filter %}
  <div class="card mb-4 text-center">
    <form action="" method="get" class="form-inline justify-content-center form-xs">
        {% bootstrap_form filter.form %}
        <a class="btn-secondary">{% bootstrap_button 'filtrer' %}</a>
    </form>
  </div>
  {% endif %}
  <h4 class="text-center mt-4">{{total_events}} dates</h4>
  <section class="box-shadow">
    {% if is_active %}
      <span class="float-right">Télécharger le résultat :
        <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
        <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
      </span>
    {% endif %}
  {% render_table table %}
  </section>
{% endblock menu_content %}

{% block extra_js %}
{{filter.form.media}}

<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>

<script>
  $(document).ready(function(){
    $("#h_nav").sticky({topSpacing:125});
    $("#breadcrumb").sticky({topSpacing:65});
  });
</script>
<script>
  $(document).ready(function(){
    $( "#more-button" ).hover(
  function() {
    $( ".btn-event" ).addClass( "d-block" );
    $( this ).css( "width", "250px" );
    $( ".btn-reccurent-event" ).addClass( "d-block" ).css( "width", "250px" );
  }, function() {
    $( ".btn-event" ).removeClass( "d-block" );
    $( this ).css( "width", "63px" );
    $( ".btn-reccurent-event" ).removeClass( "d-block" ).css( "width", "0px" );
  }
  );
  });
</script>
{% endblock %}