{% load thumbnail %}

{% for activity in activities %}
  {% ifchanged %}
    <div class="clearfix"></div>
    <h4 class="pl-3 pt-3 d-block">{{activity.category}}</h4>
  {% endifchanged %}
    <div class="card col-md-3 float-left m-2">
      <a class="card-link card-img-crop" href="{% url 'event:activity_detail' activity.pk activity.slug %}">
        {% if activity.picture %}
        {% thumbnail activity.picture "400" format="PNG" as im %}
        <img class="card-img-top mt-3" src="{{ im.url }}" alt="activité illustration">
        {% endthumbnail %}
        {% endif %}
        <div class="card-body p-2 d-flex flex-column bg-white">
          <div style="min-height: 48px;">
            <h5 class="card-title">{{ activity.name }}</h5>
          </div>
          {{ activity.description | safe | truncatewords_html:15 }}
          <footer class="blockquote-footer">
            Créé par
            <a href="{% url 'organization_page' activity.organization.slug %}">
              {{ activity.organization }}
            </a>
          </footer>
        </div>
      </a>
    </div>
{% empty %}
  Aucune activité trouvée
{% endfor %}
