{% extends 'base.html' %}
{% block title %}Connectez vous à {{site_title}}{% endblock %}

{% load bootstrap4 %}
{% load thumbnail %}
{% load staticfiles %}

{% block content %}
 <!--{% include "breadcrumb.html" with current="Connexion" %} -->

<section class="container-fluid row bg-white">
  <div class="col-md-12 text-center mb-4">
    <img src="{% static 'img/logo-{{site_title}}-beta.png' %}" class="mt-5 mb-5">
    <h2 class="card-title">Bienvenue ! </h2>
    <small>Se connecter ou <a href="{% url 'user:user_create' %}">Créer un compte</a></small>
  </div>
  <div class="col-md-6 border-right text-center d-flex justify-content-center mb-5">
    <div class="col-md-12 d-block d-sm-block d-md-none d-lg-none" id="display_form">
        <button class="btn btn-success btn-block">
            Connexion
        </button>
    </div>
    <div class="card col-md-8 d-none d-sm-none d-md-block" id="form">
        <div class="card-body">
        <form method="post" action="{% url 'login' %}" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="mt-4 text-center">
            <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
          </div>
          <div class="form-group p-2">
            <button type="submit" class="btn btn-success btn-block">
              Connexion
            </button>
          </div>
        </form>
      </div>
    </div>  
  </div>
  <div class="col-md-6 text-center d-flex justify-content-center">
    <div class="col-md-8 pt-1 card">
      <div class="card-body">
        <b>Vous avez déjà participé <br> à un évènement sur le site ?</b>
        <br>
        <br>
        <a class="btn btn-secondary btn-block" href="{% url 'password_reset' %}">Activez votre compte !</a>
        <br>
        <span>Sinon....</span>
        <br>
        <a class="btn btn-primary btn-block" href="{% url 'user:user_create' %}">Créer un compte </a>
      </div>
    </div>
  </div>
</section>

{% block extra_js %}
<script>
$("#display_form").on('click', function(event){
  $("#form").removeClass('d-none');
  $("#form").removeClass('d-sm-none');
  $("#display_form").remove();
});
</script>
{% endblock extra_js %}

{% endblock %}