{% extends "base.html" %}

{% block content %}
  {% url 'login' as login_url %}
  {% url 'password_reset' as password_reset_url %}
  {% include "breadcrumb.html" with current="Demande envoyée" first_parent_url=password_reset_url first_parent_text="Demande de réinitialisation de mot de passe" second_parent_url=login_url second_parent_text="Connexion" %}

<section class="container">  
    <div class="row justify-content-md-center">
      <div class="h-100 mt-5 text-center">
          <h5>
              Nous vous avons envoyé des instructions par mail afin de réinitialiser votre mot de passe.
              Si vous ne recevez rien dans les minutes qui viennent, nous vous invitons à regarder dans vos courriels indésirables (spam)
          </h5>
        <br>
        <h3 class="text-success"> <i class="fa fa-envelope fa-5x"></i></h3>
      </div>
    </div>
  </section>

{% endblock %}
