{% extends "base.html" %}

{% block content %}
  {% url 'login' as login_url %}
  {% include "breadcrumb.html" with current="Réinitialisation effectuée" first_parent_url=login_url first_parent_text="Connexion" %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Félicitations</h1>
    </div>
  </div>

  <section class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <p>Votre mot de passe à correctement été changé.</p>
        <p>Vous pouvez désormais vous <a href="{% url 'login' %}">connecter</a></p>
      </div>
    </div>
  </section>

{% endblock %}
