/*******************************
************* Reset ************
*********************************/
* {
  margin: 0 !important;
  padding: 0 !important;
}

/*******************************
******* éléments généraux *******
*********************************/
body {
    background-color: #F4F3F0;
}
a {
  text-decoration: none !important;
}
a:hover{
  text-decoration-style: none !important;
}
.content-page {
  position: absolute;
  left: 100px;
}

/*******************************
*********** Menu ***************
*********************************/

/*Nabvar horizontal*/
.top-bar {
  position: relative;
  width: 100% !important;
  height: 50px;
}
.top-bar img {
  width: 20px;
  height: 20px;
  border-radius: 90px;
}

/*Style sur icons, liens*/
.brand {
  border-bottom: 0.5px solid #a8a8a8;
}
.fa-user-circle-o, .fa-calendar, .fa-map-marker, .dropdown-toggle {
  margin-top: 0px;
  text-decoration: none;
  color: #A9A9A9;
}
.fa-user-circle-o:hover, .fa-calendar:hover, .fa-map-marker:hover, .dropdown-toggle:hover {
  text-decoration: none !important;
  color: #212120 !important;
}
/* Menu déroulant (flèche bas sur navbar horizontal)*/
.dropdown-menu {
  width: 30px;
  margin-left: 105px !important;
}
/*navbar vertical*/
.nav-side-menu {
  overflow: auto;
  background-color: #212120;
  position: fixed;
  top: 0px;
  width: 40px;
  height: 100%;
  color: #e1ffff;
  transition: width .15s;
  z-index: 1;
}
.nav-side-menu .brand {
  background-color: #212120;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu:hover {
  width: 180px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 4rem;
  cursor: pointer;
  visibility: visible !important;
  white-space:nowrap;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  white-space:nowrap;
}
.nav-side-menu li i.sidebar-icon {
    margin-right: 0.6rem;
    font-size: 1.5em;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #e1ffff;
  background-color: #FFFFFF;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  display: block;
  text-decoration: none;
  color: #C8C8C8;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #e1ffff;
  background-color: #62B587;
  opacity: 0.3;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
}
.nav-side-menu li a:hover {
    color: #FFFFFF;
}
/*******************************************
Media queries, ajustement selon taille écran 
********************************************/
@media (max-width: 767px) {
    .main {
        margin-left: 0 !important;
        padding: 0 15px 15px 15px;
    }
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 9px;
    z-index: 10 !important;
    padding: 3px;
    width: 40px;
    text-align: center;
    background-color: #2e353d;
    color: #FFFFFF;
    border-radius: 4px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .nav-side-menu:hover {
  width: 100%;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
  @media all and (max-width: 900px)
{
  .dropdown-menu  {
    margin-left: 310px;
  }
}
  @media all and (max-width: 500px)
{
  .user-name {
    display: none;
  }
}


