{% load assets l10n app_filters static %}
{% load thumbnail %}
{% load initialavatar %}


{% block map %}
  {% include "event/detail/event_detail_map.html" %}
{% endblock %}

{% block header_info %}
<div class="row">
  <section class="col-md-12  bg-white">
    <div class="container pl-4 pr-4 pt-2 bg-white" id="event_about">

      <h3 class="bg-white">
        {% if event.activity.category %} {{event.activity.category}} - {% endif %} {{ event.activity }} du {{ event.date }}
      </h3>
      <p class="lead">
         Organisé par
        <a href="{% url 'organization_page' event.organization.slug %}">
          {{ event.organization.name }}
        </a>
        {% if event.collaborator %}
          <small>en partenariat avec {{ event.collaborator }}</small>
        {% endif %}
      </p>
      <p>
        <i class="fa fa-calendar-alt"></i> Le {{ event.date|date:"l j F Y " }} de {{ event.starts_at }} à {{ event.ends_at }}
      </p>

      <p>
        {% if members_only %}Réservé aux membres de l'association{% endif %}
      </p>
      <p>
        {% if membership_url %}
          <a href="{{ membership_url }}" title="Paiement d'adhésion en ligne" target="_blank">
            Adhérer en ligne
          </a>
        {% endif %}
      </p>

      <h6 class="text-muted">
        {% if event.is_free %}
          <span class="badge badge-secondary badge-pill">Sans limite de place</span>
        {% else %}
          {% if event.remaining_seats <= 0 %}
            <span class="badge badge-warning badge-pill">Complet</span>
          {% else %}
            <span class="badge badge-secondary badge-pill">{{ event.remaining_seats }}</span> places disponibles
          {% endif %}
        {% endif %}

        {% if event.booking == False and event.external == False %}
          <span class="badge badge-secondary badge-pill">Sans réservation</span>
        {% elif event.external == True %}
          <span class="badge badge-secondary badge-pill">Réservation externe</span>
        {% endif %}

        {% if request.user in event.registered.all or request.user in event.presents.all %}
          <span class="badge badge-success badge-pill">Inscrit</span>
        {% endif %}

        {% if request.user in event.organizers.all %}
          <span class="badge badge-success badge-pill">Animateur</span>
        {% endif %}
      </h6>

      {% if event.allow_stuffs %}
        <h6 class="text-muted"><i class="fas fa-tools"></i> Cet événement gère les réparations</h6>
      {% endif %}

      {% if event.external == True %}
        <a class="btn btn-block btn-success" target="_blank" href="{{event.external_url}}"> Réservation externe</a>
      {% elif event.booking == True %}
        {% include "event/register.html" with event=event %}
      {% endif %}

      {% if event.organization.membership_url %}
        <a class="btn btn-block btn-success" target="_blank" href="{{event.organization.membership_url}}">
          Réservation externe
        </a>
      {% endif %}

      <hr>

    </div>
  </section>
</div>
{% endblock %}

<!-- Information -->
<div class="row">
  <section class="col-md-12  bg-white">
    <div class="container pl-4 pr-4 pt-2 bg-white">

      {% if event.description %}
        <div class="pl-2 pr-2">
          {{event.description | safe }}
        </div>
      {% endif %}

      {% if event.external_url and event.external == False %}
        <hr/>
        <a href="{{event.external_url}}" target="_blank" class="pl-2 pr-2">Plus d'informations sur l'évènement</a>
      {% endif %}

      <div class="row p-4">
        <ul class="col-md-6">
            <b>Informations utiles:</b>
          {% for condition in event.conditions.all %}
            <li class="">
              {% if condition.price > 0 %}
                <span class="badge badge-pill badge-secondary">
                  {{ condition.price }}€</span>
                {% else %}
                {% endif %}
              <small>{{ condition.description | safe }}</small>
            </li>
            {% empty %}
            <li><small>La participation est libre / pas de condition d'accès</small></li>
          {% endfor %}
        </ul>
        {% if event.booking == True %}
          <div class="col-md-6 border">
            <div class="row">

              {% if event.activity.picture.url %}
                <img class="img-responsive col-md-6 h-100 p-0"
                     src="{{ event.activity.picture.url }}"
                     alt="activity illustration">
              {% endif %}

              {% if event.activity %}
                <div class="col-md-6">
                  <b>{{event.activity.name}}</b>
                  <small class="">
                  {{ event.activity.description | safe | truncatewords_html:7 }}
                  </small>
                </div>
                <a href="{% url 'event:activity_detail' event.activity.pk event.activity.slug %}" class="btn btn-primary btn-sm col-md-12 float-right">
                    <i class="fa fa-eye"></i>
                </a>
              {% else %}
                Type d'activité supprimé
              {% endif %}

            </div>
          </div>
        {% endif %}
      </div>

    </div>
  </section>
</div>

