{% load static assets app_filters thumbnail initialavatar dict_extras %}
    <section class="row ">
    {% for user in users %}
      {% filter_orga queryset=user.memberships organization=event.organization as membership %}
      {% filter_user queryset=event.participations user=user as participation %}
      {% sum_conditions conditions=event.conditions.all as condition_prices %}
      {% tokenize user=user event=event action='present' as tok_event_present %}
      {% tokenize user=user event=event action='absent' as tok_event_absent %}
      {% tokenize user=user event=event action='cancel' as tok_event_cancel %}
      <div class="col-md-4 mb-4">
        <div class="p-0 shadow-sm card user">
          <div class="card-header d-flex">
            <div class="d-inline pe-2 float-start">
            {% if user.avatar_img %}
                {% thumbnail user.avatar_img "35x35" crop="center" format="PNG" as im %}
                  <img src="{{ im.url }}" class="m-2 rounded-circle"/>
                {% endthumbnail %}
                {% else %}
                {% if user.first_name %}
                  {% get_initial_avatar user 35 'circle' %}
                {% endif %}
              {% endif %}
            </div>
            <div class="d-inline">
              <a href="{{user.get_absolute_url}}">
                <h6 class="card-title">
                  {{user}}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
              </a>
            </div>
            <div class="ms-auto">
              <a class="btn btn-sm btn-danger" href="{% url 'event:cancel_reservation' tok_event_cancel %}"><i class="fa fa-trash"></i></a>
            </div>
          </div>
          <div class="card-body">
            <div class="container">
              <div>
                  <div class="row border mb-2 mt-2">
                      <b class="border-bottom mb-1 p-1">Adhésion à {{event.organization}}{% include "user/membership_pill.html" with membership=membership %}</b>
                      <br>
                      <div class="mb-1">
                      <b>Cotisations : </b>
                      {% related_membership queryset=event.fees membership=membership as fees %}
                      {% if fees %}
                        {% for fee in fees %}
                        <span class="badge badge-pill badge-light pe-2 m-2">
                          {{ fee.amount }}€
                          {{ fee.get_payment_display }}
                          <form class="d-inline" action="{% url 'user:fee_delete' fee.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn text-danger btn-sm">x</button>
                          </form>
                        </span>
                        {% endfor %}
                      {% endif %}
                      <div class="col">
                      {% include "event/modal_more_info.html" with user=user target_organization=event.organization membership=membership form=present_form|initial:user %}
                      </div>
                    </div>
                  </div>
                  {% if event.organization.validated_parents.all %}
                    {% for parent_orga in event.organization.validated_parents.all %}

                      {% filter_orga queryset=user.memberships organization=parent_orga as parent_membership %}

                      <div class="row border mb-2 mt-2">
                        <b class="border-bottom mb-1 p-1">
                          Adhésion à {{ parent_orga }}
                          {% include "user/membership_pill.html" with membership=parent_membership %}
                        </b>
                        <br>

                        <div class="mb-1">
                          <b>Cotisations : </b>

                          {% related_membership queryset=event.fees membership=parent_membership as fees %}
                          {% if fees %}
                            {% for fee in fees %}
                              <span class="badge badge-pill badge-light pe-2 m-2">
                                {{ fee.amount }}€
                                {{ fee.get_payment_display }}
                                <form class="d-inline" action="{% url 'user:fee_delete' fee.pk %}" method="post">
                                  {% csrf_token %}
                                  <button type="submit" class="btn text-danger btn-sm">x</button>
                                </form>
                              </span>
                            {% endfor %}
                          {% endif %}

                          <div class="col">
                            {% include "event/modal_more_info.html" with user=user target_organization=parent_orga membership=parent_membership form=present_form|initial:user %}
                          </div>
                        </div>
                      </div>

                    {% endfor %}
                  {% endif %}
              </div>
              <div class="row border mb-2 mt-2">
              {% if event.allow_stuffs %}
                  <b class="border-bottom mb-1 p-1">Objets en réparation</b>
                  <br>
                  <button class="btn btn-light bs-gobal-modal"  href="#" data-modal-id="modal-stuff" data-form-url="{% url 'event:create_user_event_stuff_orga' event.pk user.pk %}" >
                    <i class="fas fa-tools"></i> ajouter
                  </button>
                  {% for stuff in user.user_stuffs.all %}
                    {% if stuff in event.stuffs.all %}<br>
                      <span>
                        <a href="{{stuff.get_absolute_url}}">{{ stuff }}</a>
                        {% include "inventory/stuff_state_display.html" with stuff_state=stuff.get_state_display %}
                      </span>
                    {% endif %}
                {% endfor %}
              {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            {% if event_control == True and event.has_started and is_active %}
            {% if user in event.presents.all %}
              <a class="btn btn-light btn-large" href="{% url 'event:user_absent' tok_event_absent %}">
                <span class="text-danger">
                  <i class="fas fa-times"></i> Annuler présence
                </span>
            </a>
            {% else %}
              <a class="btn btn-light btn-large" href="{% url 'event:user_present' tok_event_present %}">
                <span class="text-success">
                  <i class="fas fa-check"></i> Valider présence
                </span>
              </a>
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </section>

