version: '2'

services:

  ateliersoude-postgres:
    restart: always
    image: 'postgres:10'
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - 'postgres:/var/lib/postgresql/data'

  django:
    build:
      context: ../.
      dockerfile: ./deployment/docker-app/Dockerfile
    depends_on:
      - ateliersoude-postgres
      - redis
    # command: /ateliersoude/deployment/docker-app/bootstrap.sh
    command: /ateliersoude/bootstrap.sh
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_DB}
      - DEVELOPMENT=${DEVELOPMENT}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
    ports:
      - "8000:8000"
      - "8001:8001"
      - "5000:5000"
    volumes:
      - ../.:/ateliersoude

  redis:
    image: 'redis:alpine'
    volumes:
      - 'redis:/var/lib/redis/data'
    ports:
      - '6379:6379'
    command: redis-server

  celeryworker:
    build:
      context: ../.
      dockerfile: ./deployment/docker-app/Dockerfile
    env_file: .env
    depends_on:
      - django
      - ateliersoude-postgres
      - redis
    links:
      - ateliersoude-postgres
      - redis
      - django
    command: /ateliersoude/celery.sh
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=${POSTGRES_DB}
      - DEVELOPMENT=${DEVELOPMENT}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
    volumes:
      - ../.:/ateliersoude

  # celerybeat:
  #   build:
  #     context: ../.
  #     dockerfile: ./deployment/docker-app/Dockerfile
  #   user: django
  #   env_file: .env
  #   depends_on:
  #     - postgres
  #     - redis
  #   command: celery beat -l INFO --pidfile="/tmp/celerybeat.pid"

  adminer:
    image: adminer
    restart: always
    depends_on:
      - ateliersoude-postgres
    ports:
      - 8080:8080

volumes:
  redis:
  postgres:
