{% load assets l10n app_filters %}

{% if membership %}
    {% if membership.current_contribution == 0 %}
    <span class="text-danger" >Pas de cotisation</span>
    <span class="badge badge-pill bg-danger" >0€</span>
    {% elif membership.current_contribution >= event.organization.advised_fee %}
    <span class="text-success" >A jour </span>
    <span class="badge badge-pill bg-success" >{{membership.current_contribution}}€/{{event.organization.advised_fee}}€</span>
    {% else %}
    <span class="text-warning" >Incomplet</span>
    <span class="badge badge-pill bg-warning" >{{membership.current_contribution}}€</span>
    {% endif %}
    {% else %}
    <span class="badge badge-pill bg-warning">Non membre</span>   
{% endif %}
