{% extends "base.html" %}
{% load static assets app_filters thumbnail initialavatar bootstrap5 %}
{% block title %}
  Profil de {{ object }} sur {{ site_title }}
{% endblock title %}
{% block content %}
  <!-- modals -->
  <div class="modal fade" tabindex="-1" data-bs-focus="false" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  {% if request.user.pk == object.pk and not object.first_name or not object.last_name or not object.street_address %}
    <div class="alert alert-warning" role="alert">
      Pour devenir membre d'une organisation, vous devez renseigner votre Nom, Prénom
      et Adresse postale.
    </div>
  {% endif %}
  {% include "breadcrumb.html" with current=object first_parent_url=user_detail_url first_parent_text="Communauté" %}
  <div class="jumbotron jumbotron-fluid no-padding-jumbotron" id="jumbotron">
    <div class="text-center d-flex justify-content-center align-items-center flex-md-column">
      <div class="header_detail_page_picture">
        <div class="mt-2 header_detail_page_picture rounded">
          {% if object.avatar_img %}
            {% thumbnail object.avatar_img "150x150" crop="center" format="PNG" as im %}
            <img src="{{ im.url }}"
                 width="150"
                 height="150"
                 alt="{{ object }}"
                 class="m-2 rounded-circle" />
          {% endthumbnail %}
        {% else %}
          {% if object.first_name %}
            {% get_initial_avatar object 150 'circle' %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    <h2 class="header_detail_page_title">{{ object }}</h2>
    {% if object.pk == request.user.pk %}
      <a class="btn ms-2 btn-success btn rounded-circle"
         href="{% url "user:user_update" object.pk %}">
        <i class="fa fa-pencil-alt"></i>
      </a>
    {% endif %}
  </div>
  <div class="text-center d-flex justify-content-center align-items-center flex-md-column"
       id="v-pills-tab"
       role="tablist"
       aria-orientation="horizontal">
    <nav class="mt-2">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active"
                id="nav-home-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-home"
                type="button"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true">Informations</button>
        <button class="nav-link"
                id="nav-profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-profile"
                href="#nav-profile"
                type="button"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false">
          Rendez-vous  <span class="badge bg-light">{{ future_rendezvous|length }}</span>
        </button>
        <button class="nav-link"
                id="nav-contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-contact"
                type="button"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false">Adhésions</button>
        <button class="nav-link"
                id="nav-inventaire-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-inventaire"
                type="button"
                role="tab"
                aria-controls="nav-inventaire"
                aria-selected="false">Inventaire</button>
      </div>
    </nav>
  </div>
</div>
<div class="container mb-5 mt-5">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active"
         id="nav-home"
         role="tabpanel"
         aria-labelledby="nav-home-tab"
         tabindex="0">{% include "user/profile/info.html" %}</div>
    <div class="tab-pane fade"
         id="nav-profile"
         role="tabpanel"
         aria-labelledby="nav-profile-tab"
         tabindex="0">{% include "user/profile/rdv.html" %}</div>
    <div class="tab-pane fade"
         id="nav-contact"
         role="tabpanel"
         aria-labelledby="nav-contact-tab"
         tabindex="0">{% include "user/profile/account.html" %}</div>
    <div class="tab-pane fade"
         id="nav-inventaire"
         role="tabpanel"
         aria-labelledby="nav-inventaire-tab"
         tabindex="0">{% include "user/profile/inventory.html" %}</div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}
  {% assets "js_django_autocomplete" %}
  <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}