{% load thumbnail %}
{% load assets l10n app_filters %}
{% load initialavatar %}

{% for user in users %}

  <div class="card mx-2 p-2">
    <a class="card-link" href="{{ user.get_absolute_url }}">
      <div class="row">
      {% if event_control == True %}
        {% filter_orga queryset=user.memberships organization=event.organization as membership %}
        {% if membership %}
          {% if membership.current_contribution == 0 %}
            <span class="badge badge-pill badge-primary text-danger float-left" >0€</span>
          {% elif membership.current_contribution >= event.organization.advised_fee %}
            <span class="badge badge-pill badge-primary text-success float-left">{{ membership.current_contribution }}€</span>
          {% else %}
            <span class="badge badge-pill badge-primary text-warning float-left" >{{ membership.current_contribution }}€</span>
          {% endif %}
        {% else %}
          <span class="badge badge-pill badge-primary text-danger float-left" >0€</span>
        {% endif %}
      {% endif %}
      </div>
      <div class="row" id="square-{{ user.pk }}">
        <div class="col-2 mb-1">
          {% if user.avatar_img %}
            {% thumbnail user.avatar_img "50x50" crop="center" format="PNG" as im %}
              <img src="{{ im.url }}" class="m-2 rounded-circle"/>
            {% endthumbnail %}
          {% else %}
            {% if user.first_name %}
              {% get_initial_avatar user 50 'circle' %}
            {% endif %}
          {% endif %}
        </div>
        <div class="col-8 text-left">
          <h5 style="line-height: 45px !important;">
              {{ user}}
          </h5>
        </div>
        {% if event_control == True %}
          {% if event.has_started and is_active %}
            {% include "event/modal_more_info.html" with user=user form=present_form|initial:user %}
          {% endif %}
        {% endif %}
      
        {% if admin_remove_controls == True %}
          {% if is_admin %}
            <form action="{% url 'user:remove_from_admins' organization.pk user.pk %}" class="col-2">
              {% csrf_token %}
              <button type="submit" class="btn badge badge-pill badge-danger float-right" onclick="return confirm('Êtes-vous sûr ?')">&times;</button>
            </form>
          {% endif %}
        {% endif %}
  
        {% if active_remove_controls == True %}
         {% if is_admin %}
          <form action="{% url 'user:remove_from_actives' organization.pk user.pk %}" class="col-2">
            {% csrf_token %}
            <button type="submit" class="btn badge badge-pill badge-danger float-right" onclick="return confirm('Êtes-vous sûr ?')">&times;</button>
          </form>
         {% endif %}
        {% endif %}
  
        {% if volunteer_remove_controls == True %}
          {% if is_admin %}
          <form action="{% url 'user:remove_from_volunteers' organization.pk user.pk %}" class="col-2">
            {% csrf_token %}
            <button type="submit" class="btn badge badge-pill badge-danger float-right" onclick="return confirm('Êtes-vous sûr ?')">&times;</button>
          </form>
          {% endif %}
        {% endif %}
      </div>
    </a>
  </div>

{% empty %}
  <div class="col-lg">Pas encore d'utilisateur</div>
{% endfor %}
