django<2.0
psycopg2-binary
# tables display for price list
django-tables2
# import csv/xls
lxml
django-import-export
# master password for dev site
django-lockdown
gevent
gunicorn
# https://devcenter.heroku.com/articles/django-assets
whitenoise==3.3.1
# allow gunicorn to change its process name
setproctitle
# debug
django-debug-toolbar
ipython
ipdb
# html to PDF
xhtml2pdf>=0.2b1
WeasyPrint>=0.34
django-easy-pdf==0.2.0.dev1
# lockout failed logins
django-axes
# include fontawesome for the logout icon
django-fontawesome
# change history for models
django-simple-history
# for admindocs
docutils
# settings in the DB (quotation version, etc)
django-dbsettings
# address field and normalization through gmaps API
git+https://github.com/dmorel/django-address.git
# avatars
django-avatar
# colored stacktraces
colored-traceback
# npm in django
django-npm
# better forms
django-crispy-forms
# better admin
django-grappelli
# for ImageField
Pillow
# autoslug for places, events and organizations
django-autoslug
git+https://github.com/beda-software/django-datetimepicker.git
# django-rules
rules
# breakcumbs
django_bootstrap_breadcrumbs
# modals
django-fm
#mardown editor
django-markdown-app==0.9.3.1
#map marker
django-easy-maps
#emails
django-post_office
#form tweaks
#django-widget-tweaks
#sécurité
itsdangerous
#celery
celery[redis]
djangorestframework
redis
git+https://github.com/justquick/django-activity-stream.git#egg=actstream
django-jsonfield
django-jsonfield-compat