{% load static bootstrap4 assets thumbnail initialavatar app_filters %}

{% if column == "avatar" %}
    {% if record.avatar_img %}
      {% thumbnail record.avatar_img "30x30" crop="center" format="PNG" as im %}
        <img src="{{ im.url }}" class="rounded-circle"/>
      {% endthumbnail %}
    {% else %}
      {% if record.first_name %}
        {% get_initial_avatar record 30 'circle' %}
      {% endif %}
    {% endif %}

{% elif column == "membership_status" %}
    {% for membership in record.memberships.all %}
      {% if membership.organization == organization %}
        {% if membership.current_contribution == 0 %} 
            <small class="text-danger" >Pas à jour</small>
            <span class="badge badge-pill badge-danger" >{{membership.current_contribution}}€</span>
        {% elif membership.current_contribution >= organization.advised_fee %}
            <small class="text-success" >A jour </small>
            <span class="badge badge-pill badge-success" >{{membership.current_contribution}}€</span>
        {% else %}
            <small class="text-warning" >Incomplet </small>
            <span class="badge badge-pill badge-warning" >{{membership.current_contribution}}€</span>
        {% endif %}
      {% endif %}
    {% endfor %}
  </small>

{% elif column == "member_update" %}
    {% for membership in record.memberships.all %}
        {% if membership.organization == organization %}
            <button class="btn btn-success btn-sm" 
            data-toggle="modal" 
            data-target="#more-info-{{ membership.user.pk }}">
            <i class="fa fa-plus"></i>
            Mettre à jour
            </button>
            {% include "user/organization/modal_more_info.html" with object=organization anonymous_user=user form=add_member_form|initial:user %}
        {% endif %}
    {% endfor %}
    
{% endif %}