{% extends 'base.html' %}
{% load static i18n l10n %}
{% load bootstrap4 app_filters %}

{% block content %}

<div class="text-center">
    <div class="container-fluid bg-secondary text-center v-align pt-5 home-picture pb-5">
        <h3 class="text-white pt-5">Prenez rendez-vous en ligne pour tout réparer !</h3>
        <section class="container">
            <div class="col-lg bg-secondary">
                <div id="search">
                    <form method="GET" class="form-row" action="{% url 'event:list' %}">
                        {% bootstrap_form search_form %}
                    <br>
                    <div class="form-group p-2 col mt-auto">
                        <button type="submit" class="btn btn-primary btn-block">
                        <span class=""><i class="fa fa-search"></i></span>
                        </button>
                    </div>
                    </form>
            </div>
            </div>
        </section>
    </div>

    {% if request.user.is_authenticated %}
    <div class="container text-left">
        <h4 class="mt-4 text-muted">Mes prochains rendez-vous</h4>
            <div class="card-columns">
                {% if future_rendezvous %}
                    {% for event, status in future_rendezvous|slice:":3" %}
                        {% include "event/event_cards.html" with minimal=True %}
                    {% empty %}
                    Pas de rendez-vous à venir 
                    {% endfor %}
                {% endif %}
            </div>
    </div>  
    {% else %}

    <div class="container pb-5">
        <h4 class="p-5">Vous avez envie de réparer ? Prenez rendez-vous et nous réparons ensemble !</h4>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive w-25 mb-4" src="http://atelier-soude.fr/images/50.png">
                <h6 class="">Propulsons nos talents <br>ensemble !</h6>
            </div>
            <div class="col-md-4">
                <img class="img-responsive w-25 mb-4" src="http://atelier-soude.fr/images/5.png">
                <h6 class="t">Réparez tout <br>ce que vous avez !</h6>
            </div>
            <div class="col-md-4">
                <img class="img-responsive w-25 mb-4" src="http://atelier-soude.fr/images/200.png">
                <h6 class="">Entrez dans la <br>communauté !</h6>
            </div>
        </div>
    </div>

    <div class="bg-success p-4">
        <div class="row">
                <div class="col-md-4">
                    <h6 class="text-center">
                        <span class="text-secondary" style="font-size: 48px;">{{event_count}}</span> 
                        <br>Evenements en ligne
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-center">
                        <span class="text-secondary" style="font-size: 48px;">{{user_count}}</span> 
                        <br>Utilisateurs enregistrés
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-center">
                        <span class="text-secondary" style="font-size: 48px;">{{organization_count}}</span> 
                        <br>Organisations inscrites
                    </h6>          
            </div>
    </div>
    {% endif %}
</div>
{% endblock %}
