{% extends 'organization_page.html' %}
{% load static %}

{% block menu_content %}
<section class="container">
  <h2 class="text-center p-2">{{organization.events.all.count}} évènements</h2>

  <div class="card p-4">
<!-- todo : if is active -->
    <div class="float-right pb-4 col-lg text-center">
      <a class="btn btn-primary m-2 {% if not organization.activities.all %} disabled{% endif %}" href="{% url 'event:create' organization.id %}">
        <i class="fa fa-plus-circle"></i> Créer un évènement
      </a>
      <a class="btn btn-success m-2 {% if not organization.activities.all %} disabled{% endif %}" href="{% url 'event:recurrent_create' organization.id %}">
        <i class="fa fa-plus-circle"></i> Créer un évènement récurrent
      </a>
    </div>
  <div class="table-responsive">
    <table class="table infinite-container">
        <thead class="bg-primary">
            <tr>
              <th scope="col"><small class="text-white">Date</small></th>
              <th scope="col"><small class="text-white">Type</small></th>
              <th scope="col"><small class="text-white">Lieu</small></th>
              <th scope="col"><small class="text-white">Places</small></th>
            </tr>
          </thead>
        <tbody class="infinite-item">
          {% for event in events %}
            {% ifchanged %}
              <tr>
                <td colspan="4" class="bg-light">
                  <b>{{ event.date|date:"F" }}</b>
                </td>
              </tr>
            {% endifchanged %}
            <tr class="{% if event.date <= today %}bg-light text-muted{% else %}bg-white{% endif %}">
              <td class="">
                <small>{{ event.date }}</small>
              </td>
              <td>
                <a href="{% url 'event:detail' event.pk event.activity.slug %}">
                  <small>{{ event.activity }}</small>
                </a>
              </td>
              <td>
                <small>{{ event.location }}</small>
              </td>
              <td>
                <small>
                  {% if event.is_free %}
                    Illimité
                  {% else %}
                    {{ event.remaining_seats}}
                  {% endif %}
                </small>
              </td>
            </tr>
          {% empty %}
          Pas d'évènements 
          {% endfor %}
        </tbody>
    </table>
  </div>
  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
  {% endif %}
  </div>
</section>
{% endblock menu_content %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}