{% extends 'base.html' %}
{% load static bootstrap4 %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Membres de {{ organization }}</h1>
    </div>
  </div>

    <table class="table infinite-container">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Statut</th>
          </tr>
        </thead>
        <tbody class="infinite-item" >
          {% for user in object_list %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td> {{ user.last_name }}</td>
            <td>
              {% if user in organization.members.all %} Adhérent
              {% elif user in organization.volunteers.all%} Volontaire
              {% elif user in organization.actives.all%} Actif
              {% elif user in organization.admins.all %}Administrateur
              {% endif %}
            </td>
          </tr>
          {% empty %}
            Pas de gens...
          {% endfor %}
        </tbody>
    </table>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Affichage en cours...</a>
  {% endif %}
{% endblock content %}