{% extends 'base.html' %}
{% load bootstrap4 %}

{% load assets app_filters thumbnail %}

{% block extra_css %}
  {% assets "css_detail_organization" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  {% url "user:organization_list" as organization_list_url %}
  {% include "breadcrumb.html" with current=organization first_parent_url=organization_list_url first_parent_text="Organisations" %}

<div class="container">

  <section class="row p-0">
        <div class="text-center bg-secondary col-md-3">
          <div class="pt-5">
              {% if organization.picture %}
                {% thumbnail object.picture "100x100" crop="center" format="PNG" as im %}
                  <img src="{{ im.url }}" class="m-2 rounded-circle"/>
                {% endthumbnail %}
              {% endif %}
          </div>
        </div>

    <div class="jumbotron jumbotron-fluid col-md-9 mb-0">
        <h1>{{ organization.name }}</h1>
        {% if is_admin %}
          <a class="btn btn-success btn-sm" href="{% url 'user:organization_update' organization.id %}">
            <i class="fa fa-pencil-alt"></i> Editer
          </a>
          <a class="btn btn-danger btn-sm" href="{% url 'user:organization_delete' organization.id %}">
            <i class="fa fa-trash"></i> Supprimer
          </a>
        {% endif %}
        <small>{{organization.description | safe | truncatewords_html:50 }}</small>
    </div>
  </section>
  
<section class="row h-100">

        <div class="nav  bg-light flex-column nav-pills p-4 text-left col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-events-tab" data-toggle="pill" href="#v-pills-events" role="tab" aria-controls="v-pills-events" aria-selected="false">Evènements</a>
            <a class="nav-link" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-rdv" aria-selected="true">A propos</a>
            <a class="nav-link" id="v-pills-community-tab" data-toggle="pill" href="#v-pills-community" role="tab" aria-controls="v-pills-community" aria-selected="false">Communauté</a>
            {% if is_active %}
              <a class="nav-link" id="v-pills-controls-tab" data-toggle="pill" href="#v-pills-controls" role="tab" aria-controls="v-pills-controls" aria-selected="false">Contrôles</a>
            {% endif %}
        </div>
      
  <div class="col-md-9 p-4 tab-content" id="v-pills-tabContent">
      

      <div class="tab-pane fade show active" id="v-pills-events" role="tabpanel" aria-labelledby="v-pills-events-tab">
          {% if events or has_hidden_events %}
          <h3>Prochains évènements</h3>
          {% if is_volunteer %}
            <a href="{% url 'user:organization_all_events' organization.pk organization.slug page %}" class="btn btn-sm btn-info">
              <i class="fa fa-search"></i>
              Voir tous les évènements
            </a>
          {% endif %}
          <div class="card-columns">
            {% include "event/event_cards.html" with event_list=events minimal=True %}
          </div>
        {% endif %}
      </div>

      <div class="tab-pane fade show" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-abot-tab">
          <h3>Description</h3>
          <div>
            {{ organization.description | safe }}
          </div>
          <div class="row">
              <div class="col-md-6">
                <i class="fa fa-phone pr-2"></i><label>Téléphone</label>
              </div>
              <div class="col-md-6">
                  <p>{{ organization.phone_number }}</p>
              </div>
              <div class="col-md-6">
                  <i class="fa fa-envelope pr-2"></i>Adresse mail
                </div>
                <div class="col-md-6">
                    <p>{{ object.email }}</p>
              </div>
              <div class="col-md-6">
                  <i class="fa fa-map pr-2"></i>Site internet
                </div>
                <div class="col-md-6">
                    <a href="{{organization.website}}">{{ organization.website }}</a>
              </div>
          </div>
          <h3 class="mt-4">Activités</h3>
          <div class="card-columns">
            {% include "event/activity/cards.html" with activities=organization.activities.all %}
          </div>
          <h3 class="mt-4">Locaux</h3>
      {% if organization.places.all %}
        <div class="card-columns">
          {% for place in organization.places.all %}
            <div class="card">  
              <a class="card-link" href="{% url 'location:detail' place.pk place.slug %}">
                <div class="card-body">
                  <h4 class="card-title">{{ place.name }}</h4>
                  <h6 class="card-subtitle mb-2 text-muted">{{ place.address }}</h6>
                  <span class="badge badge-secondary">{{ place.category }}</span>
                  {{ place.description | safe | truncatewords_html:10 }}
                </div>
                {% if is_admin %}
                  <div class="card-footer">
                    <a class="btn btn-info btn-sm" href="{% url 'location:edit' place.id %}">
                      <i class="fa fa-pencil-alt"></i>
                      Editer ce lieu
                    </a>
                    <a class="btn btn-danger btn-sm" href="{% url 'location:delete' place.id %}">
                      <i class="fa fa-trash-alt"></i>
                      Supprimer ce lieu
                    </a>
                  </div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div>Il n'y a pas de local associé à cette organisation.</div>
      {% endif %}      
      </div>

    <div class="tab-pane fade show" id="v-pills-community" role="tabpanel" aria-labelledby="v-pills-community-tab">
      <div class="row">
        {% include 'user/organization/manage_user.html' %}
    </div>
  </div>

    {% if is_active %}
      <div class="tab-pane fade show" id="v-pills-controls" role="tabpanel" aria-labelledby="v-pills-controls-tab">
            {% if is_admin %}
              <a class="btn btn-primary btn-sm" href="{% url 'event:condition_create' organization.pk %}" title="create condition">
                <i class="fa fa-plus-circle"></i> Créer une condition d'accès
              </a>
              <a class="btn btn-primary btn-sm" href="{% url 'event:activity_create' organization.pk %}" title="activity place">
                <i class="fa fa-plus-circle"></i> Ajouter une activité
              </a>
              <a href="{% url 'location:create' organization.pk %}" class="btn btn-info btn-sm">
                <i class="fa fa-plus-circle"></i> Ajouter un local
              </a>
            {% endif %}
            {% if is_active %}
              <a class="btn btn-primary btn-sm{% if not organization.activities.all %} disabled{% endif %}" href="{% url 'event:create' organization.id %}">
                <i class="fa fa-plus-circle"></i> Créer un évènement
              </a>
              <a class="btn btn-primary btn-sm{% if not organization.activities.all %} disabled{% endif %}" href="{% url 'event:recurrent_create' organization.id %}">
                <i class="fa fa-plus-circle"></i> Créer un évènement récurrent
              </a>
            {% endif %}
          {% if is_admin %}
          <div class="dropdown-divider mb-4"></div>
          <div class="row m-4">
            <h4>Conditions d'accès</h4>
          </div>
          <div class="card-columns">
            {% include 'event/condition/list.html' with conditions=organization.conditions.all %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  </section>
</div>

{% endblock %}

{% block extra_js %}
  {{ users|json_script:"users-data" }}
  {% assets "js_detail_organization" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
