{% extends 'organization_page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load querystring from django_tables2 %}
{% load django_tables2 %}

{% block menu_content %}
<section class="container text-center">
  <div class="text-center p-2 m-auto">
    <h2 class="text-center pt-2">Cotisations</h2>
    {% if filter %}
      <form action="" method="get" class="form-inline justify-content-center">
          {% bootstrap_form filter.form %}
          <a class="btn-secondary">{% bootstrap_button 'filtrer' %}</a>
      </form>
    {% endif %}
    <h4>Total = {{total_fees}} €</h4>
    <span class="">Télécharger le résultat :
      <a class="btn btn-success btn-sm" href="{% querystring '_export'='csv' %}">CSV</a>
      <a class="btn btn-success btn-sm" href="{% querystring '_export'='ods' %}">ODS</a>
      </span>
  </div>
</section>
<section class="border border-primary mb-5">
  {% render_table table %}
</section>
{% endblock menu_content %}


{% block extra_js %}
  <script>
    $(document).ready(function(){
      $("#h_nav").sticky({topSpacing:40});
      $("#side_nav").sticky({topSpacing:80});
      $("#breadcrumb").sticky({topSpacing:0});
    });
  </script>
  
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}