{% extends 'organization_page.html' %}
{% block menu_content %}
 
<div class="tab-pane fade show active">
    <h3>Description</h3>
    <div>
    {{ organization.description | safe }}
    </div>
    <div class="row">
        <div class="col-md-6">
        <i class="fa fa-phone pr-2"></i><label>Téléphone</label>
        </div>
        <div class="col-md-6">
            <p>{{ object.phone_number }}</p>
        </div>
        <div class="col-md-6">
            <i class="fa fa-envelope pr-2"></i>Adresse mail
        </div>
        <div class="col-md-6">
            <p>{{ object.email }}</p>
        </div>
        <div class="col-md-6">
            <i class="fa fa-map pr-2"></i>Site internet
        </div>
        <div class="col-md-6">
            <a href="{{organization.website}}">{{ organization.website }}</a>
        </div>
    </div>
    <h3 class="mt-4">Activités</h3>
    <div class="card-columns">
    {% include "event/activity/cards.html" with activities=organization.activities.all %}
    </div>
    <h3 class="mt-4">Locaux</h3>
{% if organization.places.all %}
    <div class="card-columns">
    {% for place in organization.places.all %}
        <div class="card">  
        <a class="card-link" href="{% url 'location:detail' place.pk place.slug %}">
            <div class="card-body">
            <h4 class="card-title">{{ place.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ place.address }}</h6>
            <span class="badge badge-secondary">{{ place.category }}</span>
            {{ place.description | safe | truncatewords_html:10 }}
            </div>
            {% if is_admin %}
            <div class="card-footer">
                <a class="btn btn-info btn-sm" href="{% url 'location:edit' place.id %}">
                <i class="fa fa-pencil-alt"></i>
                Editer ce lieu
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'location:delete' place.id %}">
                <i class="fa fa-trash-alt"></i>
                Supprimer ce lieu
                </a>
            </div>
            {% endif %}
        </a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div>Il n'y a pas de local associé à cette organisation.</div>
{% endif %}
</div>
{% endblock menu_content %}