{% extends 'base.html' %}
{% load static bootstrap4 app_filters %}

{% block content %}
<div class="container-fluid">
  {% url "user:organization_list" as organization_list_url %}
  {% include "breadcrumb.html" with current=organization first_parent_url=organization_list_url first_parent_text="Organisations" %}
  {% include "organization_menu.html" %}
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalStuff" aria-pressed="false" autocomplete="off">
  Ajouter un objet à l'inventaire
</button>
{% include "inventory/modal_stuff.html" %}
{% include "inventory/stuff_list.html" with stock=stock %}
{% endblock %}