{% extends 'base.html' %}
{% load static bootstrap4 app_filters %}

{% block content %}
<div class="container-fluid">
  {% url "user:organization_list" as organization_list_url %}
  {% include "breadcrumb.html" with current=organization first_parent_url=organization_list_url first_parent_text="Organisations" %}
  {% include "organization_menu.html" %}
</div>

<table class="table table-hover">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalStuff" aria-pressed="false" autocomplete="off">
  Ajouter un objet à l'inventaire
</button>
{% include "inventory/modal_stuff.html" %}
  <thead>
    <tr>
      <th>Piece</th>
      <th>Type</th>
      <th>Localisation</th>
      <th>État</th>
      <th>Propriétaire</th>
    </tr>
  </thead>
  <tbody>
    {% for stuff in stock %}
      <tr data-toggle="modal" data-target="#modalStuff{{ stuff.pk }}">
        <td scope="row"> {{ stuff.name }} </td>
        <td>{{ stuff.type }}</td>
        <td> {{ stuff.place }} </td>
        <td> {{ stuff.get_state_display }} </td>
        <td> {{ stuff.owner }} </td>
        {% include "inventory/modal_stuff.html" with form=form|initial_stuff:stuff %}
      </tr>
    {% empty %}
      Pas de stock pour l'instant
    {% endfor %}
  </tbody>
</table>
{% endblock %}