{% load staticfiles %}
{% load fontawesome %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier Soudé</title>

    <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
          rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {#    <link rel="stylesheet" href="{% static "css/normalize.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">#}

    <link rel="stylesheet" href="{% static "npm/purecss/build/pure-min.css" %}">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href={% static "npm/purecss/grids-responsive-old-ie-min.css" %}>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet"
          href={% static "npm/purecss/build/grids-responsive-min.css" %}>
    <!--<![endif]-->
    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Fontawesome –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% fontawesome_stylesheet %}

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- keep last -->
    <link rel="stylesheet" href="{% static "css/ateliersoude.css" %}">

</head>
<body>
{% if user.is_authenticated %}
    <div style="position: fixed;top: 1%;right: 1%; z-index: 1">
        <a href="{% url 'logout' %}"
           title="Logout">{% fontawesome_icon 'sign-out' color='grey' large=True %}</a>
    </div>
{% endif %}
<header>
    <nav class="principal-nav">
<div class="pure-g">
    {#  logo #}
    <div class="pure-u-1-12 pure-u-md-1-4">
        <img class="logo pure-img"
             src="{% static 'img/logo_ateliersoude.svg' %}">
    </div>
    {# menu #}
    <div class="pure-u-11-12 pure-u-md-3-4">
        <div class="pure-menu pure-menu-horizontal">
            <a href="{% url "homepage" %}"
               class="pure-menu-heading pure-menu-link">Home</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Item1</a>
                </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Item2</a>
                </li>
                <li class="pure-menu-item">
                    {% if user.is_authenticated %}
                        <a href="{% url "user_profile" %}"
                           class="pure-menu-link">Mon compte</a>
                    {% else %}
                        <a href="{% url "login" %}"
                           class="pure-menu-link">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>
</header>


{% block content %}{% endblock %}

</body>
</html>
