{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier Soudé</title>

    <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
          rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {#    <link rel="stylesheet" href="{% static "css/normalize.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">#}

   {# <link rel="stylesheet" href="{% static "npm/purecss/build/pure-min.css" %}"> #}


    <!--[if lte IE 8]>
        <link rel="stylesheet" href={% static "npm/purecss/build/grids-responsive-old-ie-min.css" %}>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet"
          href={% static "npm/purecss/build/grids-responsive-min.css" %}>
    <!--<![endif]-->
    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->


    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
     crossorigin="anonymous">



    <!-- Fontawesome –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% fontawesome_stylesheet %}

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"#}
{#            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="#}
{#            crossorigin="anonymous"></script>#}

     <script src="{% static "npm/stickyfilljs/src/stickyfill.js" %}"></script>
  
     <script
       src="https://code.jquery.com/jquery-3.1.1.min.js"
       integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
       crossorigin="anonymous"></script>


     
{#    <link rel="stylesheet"#}
{#          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/i18n/datepicker.fr-FR.min.js"#}
{#            integrity="sha256-LfRC4/3bBAGT8y5dQmQSzKtY+5dfIkCvwyNj9UhgMP8="#}
{#            crossorigin="anonymous"></script>#}

    <!-- keep last -->
    <link rel="stylesheet" href="{% static "css/ateliersoude.css" %}">

    {% if user_form %}{{ user_form.media }}{% endif %}
    {% if form %}{{ form.media }}{% endif %}


</head>
<body>
   {% include "./menu.html" %}

   
<wrapper class="content-page">
  {% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" ">" %}
  {% endblock %}
                   
  {% block content %}
  {% render_breadcrumbs %}
  {% endblock %}
</wrapper>

<!-- Script & librairy-->    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Modals Script -->
{% include "fm/modal.html" %}
<script type="text/javascript">
    $(function() {
        $.fm({debug: true});
    });
</script>

</body>

</html>
