{% load staticfiles %}
{% load fontawesome %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atelier Soudé</title>

    <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/ateliersoude.css" %}">

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Fontawesome –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% fontawesome_stylesheet %}

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
{% if user.is_authenticated %}
<div style="position: fixed;top: 1%;right: 1%; z-index: 1">
    <a href="{% url 'logout' %}" title="Logout">{% fontawesome_icon 'sign-out' color='white' large=True %}</a>
</div>
{% endif %}
<div class="container">
    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="twelve columns center">
            <img class="logo" src="{% static 'img/logo_ateliersoude.png' %}">
        </div>
    </div>
    {% block content %}{% endblock  %}
</div>
</body>
</html>
