{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load activity_tags %}

    <!-- breadcrumb -->
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb type list_view %}
    {% breadcrumb detail_name detail_view %}
{% endblock %}


{% block content %}
{% render_breadcrumbs %}

{% block header_ban %}
<div class="container-fluid profil-header-bar sticky-position sticky-top {{object}}">
    <div class="row">

        <div class="col-md-3 col-sm-0">
        </div> 
       
        <div class="col-md-9 col-sm-12 header-bar-title">
        {% block TitleAndEdit %}
        {% endblock TitleAndEdit %}
        </div>

    </div>
</div>
{% endblock %}

<div class="row container-fluid">
<section class="col-md-3" style=" position: relative; top:-100px;" > 
        {% block context %} 
        {% endblock context %}

        <!-- activity stream -->
        {% block stream %}
        <div class="card">
            <div class="card-header">
                    Dernières activités
            </div>
            <div class="list-group feed_stream">
                {% activity_stream 'actor' object %}
                {% for action in stream %}
                <div class=" feed list-group-item"> {% display_action action %} </div> 
                {% endfor %}
    
                {% activity_stream 'action_object' object %}
                {% for action in stream %}
                <div class=" feed list-group-item"> {% display_action action %} </div> 
                {% endfor %}
    
                {% activity_stream 'target' object %}
                {% for action in stream %}
                <div class=" feed list-group-item"> {% display_action action %} </div> 
                {% endfor %}
            </div>
            <div class="card-footer">
                <a href="{% follow_all_url object %}">
                        {% if request.user|is_following:object %}
                            stop following
                        {% else %}
                            follow
                        {% endif %}
                </a>
            </div>
        </div>
        {% endblock stream %}
<!-- activity stream -->    

</section>   


    <!-- details about -->
    <section class="col-md-9 pt-3">
    {% block about %}
    {% endblock about %}
    </section>

</div>

</div>
 
    
          
{% endblock %}
