{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

    <!-- breadcrumb -->
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb type list_view %}
    {% breadcrumb detail_name detail_view %}
{% endblock %}


{% block content %}
{% render_breadcrumbs %}
<div class="row">  

    <!-- what is about -->
    <div class=" col-ms col-lg-2">
        {% block context %}
        {% endblock context %}
    </div>   

    <div class="col-ms col-lg-10">

    <!-- details about -->
     <section class="col-lg row">
            {% block detail %}
            {% endblock detail %}
    </section>

    </div>

</div>
 
    
          
{% endblock %}
