{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

    <!-- breadcrumb -->
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb type list_view %}
    {% breadcrumb detail_name detail_view %}
{% endblock %}


{% block content %}
{% render_breadcrumbs %}

{% block header_ban %}
<div class="container-fluid profil-header-bar sticky-position sticky-top {{object}}">
    <div class="row">

        <div class="col-3">
        </div> 
       
        <div class="col-9 header-bar-title">
        {% block TitleAndEdit %}
        {% endblock TitleAndEdit %}
        </div>

    </div>
</div>
{% endblock %}

<div class="row container-fluid">
<section class="col-md-3" style=" position: relative; top:-100px;" > 
        <div class="sticky-top sticky-position" style="top:100px">
        {% block context %}
        {% endblock context %}
        </div>
</section>   


    <!-- details about -->
    <section class="col-md-9 pt-3">
    {% block about %}
    {% endblock about %}
    </section>

</div>

</div>
 
    
          
{% endblock %}
