{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}


<!-- breadcrumb -->
{% block breadcrumbs %}

{{ block.super }}
{% if request.path == "/edit" %}
{% breadcrumb "edit" "" %}
{% else %}
{% breadcrumb "add" view %}
{% endif %}
{% breadcrumb type list_view %}

{% endblock breadcrumbs %}


{% block content %}
{% render_breadcrumbs %}
<div class="container">  


<!-- title -->

<h1>
     
        {% if request.path == "/edit" %}
        Edit
        {% elif request.path == "/create" %}
        Create
        {% endif %}
        {% block title %}
        {% endblock title %}
</h1>


    <!-- form -->
        <div class="col-sm col-lg">
        {% block form %}
        {% endblock form %}
        </div>   

</div>
          
{% endblock %}
