{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% block content %}

    <section class="bordered secondary-background row">


        <div class="ui small breadcrumb row align-left">
            <a class="section">Home</a>
            {% fontawesome_icon 'chevron-right' %}
            <a class="section">{% block breadcrumbs %}{% endblock breadcrumbs %}</a>
            </br>
        </div>


        <script>
            $(function () {
                $('.ui.dropdown').dropdown();

                $(".view_in_table").click(function () {
                    $('.card').addClass("item");
                    $('.item').removeClass('card');
                    $('.cards').addClass("celled").addClass("list");
                    $('.celled').removeClass('cards');
                    $('.image').addClass("avatar");
                });

                $(".view_in_card").click(function () {
                    $('.item').addClass("card");
                });
                $(".view_in_larger").click(function () {
                    $('.card').addClass("item");
                    $('.cards').addClass("celled").addClass("list");
                    $('.image').addClass("avatar");
                });

            });</script>


        <div class="row">
            <h1 class="big_title header">{% block title %} {% endblock %}</h1>
        </div>

        <select class="ui fluid search dropdown principal_search" multiple="">
            <option value="">State</option>
            <option value="AL">Bénévole</option>
            <option value="AK">Clément</option>
            <option value="AZ">Atelier Soudé</option>
            <option value="AR">Lyon</option>
        </select>

        <div class="ui statistics center row grid equal width stackable">
            <div class="statistic important-thing column">
                <div class="value">
                    200
                </div>
                <div class="label">
                    Members
                </div>
            </div>
            <div class="statistic important-thing column">
                <div class="value">
                    31,200
                </div>
                <div class="label">
                    Views
                </div>
            </div>
            <div class="statistic important-thing column">
                <div class="value">
                    22
                </div>
                <div class="label">
                    Volonteers
                </div>
            </div>
        </div>


        <button class="ui basic validate button right"
                onclick="$('.fullscreen.modal').modal('show');">
            {% fontawesome_icon 'plus' %} add
        </button>

        <div class="ui modal fullscreen">
            <div class="header">Create</div>
            <div class="content">
                {% block add %}
                {% endblock %}
            </div>
            <div class="actions">

                <div class="ui error deny button">Cancel</div>
                <div class="ui primary positive button">Approve</div>
            </div>
        </div>


        <nav class="pure-button-group collapsed" role="group">
            <button class="view_in_table pure-button">Table view</button>
            <button class="view_in_card pure-button pure-button-active">Card
                view
            </button>
            <button class="view_in_larger pure-button">Large view</button>
        </nav>


    </section>



    </div>

    {% block list %}
    {% endblock %}

{% endblock %}