{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{block.super}}
{% breadcrumb type view %}
{% endblock %}

{% block content %}

    <section class="sub_header sticky-position sticky-top">

        <!-- breadcrumb -->
        {{ block.super }}

        <div class="bg-white text-secondary">
   
            <h1 class="text-center mx-auto"> {% block title %} {% endblock %}</h1>

        </div>

        <!-- global statistics -->

    </section>



    {% block list %}

    {% endblock %}

{% endblock %}