{% extends 'base.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{block.super}}
{% breadcrumb type view %}
{% endblock %}

{% block content %}

    <section class="">

        <!-- breadcrumb -->
        {{ block.super }}

        <div class="row bg-white text-secondary">
            <div class="col-6">
            <h1>{% block title %} {% endblock %}</h1>
            </div>
            <div class="col-4">
                    {% block statistics %}
                        <span>
                            {{first_value}}
                        </span>
                        <span>
                            {{first_label}}
                        </span>  
                        <span>
                            {{second_value}}
                        </span>
                        <span>
                            {{second_label}}
                        </span>
                   
                        <span>
                            {{third_value}}
                        </span>
                        <span>
                            {{third_label}}
                        </span>
                    {% endblock statistics %}
                </div>

        </div>

        <!-- global statistics -->

    </section>



    {% block list %}

    {% endblock %}

{% endblock %}