{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}


{% block menu %}

<header class="sticky-top sticky-position">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 pl-2">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <div class="navbar-brand"> <a href="{% url "homepage" %}"><img src="{% static "img/logo_ateliersoude.svg" %}" width="30px" height="30px"></a></div>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a href="{% url "homepage" %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "event_list" %}">Dates</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "activity_list" %}">Activités</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "place_list" %}">Lieux</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "user_list" %}">Communauté</a>
                </li>
                <li class="nav-item">
                    <a href="{% url "organization_list" %}">Organisations</a>
                </li>
              </ul>
            </div>
              <div class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-end">
                  {% if admin_of_organizations %}
                    <div class="navbar-brand" >
                        <a class="nav-link mr-3" href="{% url 'event_create' %}"
                        title="create event">
                        <i class="fa fa-calendar fa-lg"></i>
                        <i class="fa fa-plus-circle fa-xs"></i></a></div>
                  {% endif %}

                  {% if user.is_authenticated %}
                    <div class="navbar-brand avatar"><a class="nav-link mr-3" href="{{ user.get_absolute_url }}">{% avatar user %} {{ user.first_name }}</a></div>
                  {% else %}
                    <div class="navbar-brand" ><a class="nav-link mr-3" href="{% url "login" %}"><i class="fa fa-user-circle-o fa-2x"></i></a></div>
                  {% endif %}
                  {% if user.is_authenticated %}

                  <!-- Menu dropdown -->
                  <div class="navbar-brand arrow-login">
                      <a class="nav-link mr-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class=""></i></a>
                      <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ user.get_absolute_url }}"> voir profil </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "mass_event_book" %}">Signaler mes disponibilités</a>
                        <a class="nav-link" href="{% url 'logout' %}" title="Logout">Déconnexion</a>
                      </div>
                  </div>
                  {% endif %}
                </div>
          </nav>

    </header>

{% endblock %}
