<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    Répéter

    <input type="radio" checked name="repeat", value="weekly">toutes les semaines les</input> <br>
        <input type="checkbox" name="weekday" value="0"> Lundi </input> <br>
        <input type="checkbox" name="weekday" value="1"> Mardi </input> <br>
        <input type="checkbox" name="weekday" value="2"> Mercredi </input> <br>
        <input type="checkbox" name="weekday" value="3"> Jeudi </input> <br>
        <input type="checkbox" name="weekday" value="4"> Vendredi </input> <br>
        <input type="checkbox" name="weekday" value="5"> Samedi </input> <br>
        <input type="checkbox" name="weekday" value="6"> Dimanche </input> <br>

    <br>
    Jusqu'au (inclus) <input id="up_until" type="date">
    <br><br>

    <input type="radio" name="repeat", value="monthly">Tous les mois le </input>
        <select id="nth">
            <option value="+1"> Premier </option>
            <option value="+2"> Second </option>
            <option value="+3"> Troisieme </option>
            <option value="+4"> Quatrieme </option>
            <option value="+5"> Cinquieme </option>
            <option value="-2"> Avant-Dernier </option>
            <option value="-1"> Dernier </option>
        </select>

        <select id="day">
            <option value="MO"> Lundi </option>
            <option value="TU"> Mardi </option>
            <option value="WE"> Mercredi </option>
            <option value="TH"> Jeudi </option>
            <option value="FR"> Vendredi </option>
            <option value="SA"> Samedi </option>
            <option value="SU"> Dimanche </option>
        </select>

        pour <input type="number" id="event-count-monthly" value="1" min="1" max="24" style="width:4em;"></input> événements
    <br>


    <input type="radio" name="repeat", value="yearly">Tous les ans le</input>
        <input type="number" id="day-of-month" value="1" min="1" max="31" style="width:4em;"></input>

        <select id="month">
            <option value="1">Janvier</option>
            <option value="2">Fevrier</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Août</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
        </select>

        pour <input type="number" id="event-count-yearly" value="1" min="1" max="31" style="width:4em;"></input> événements

    <br><br>

    Periodes à exclure: <br>
        <span class="intervals">
            <span class="interval" id="interval-0">
                du <input class="begin" type="date">
                au <input class="end" type="date">
            </span>
        </span>
        <input type="button" id="new-interval" value="+"></input>

    <br> <br>

    <input type="button" id="append" value="Ajouter Récurrences"></input>
    <input type="button" id="generate" value="Générer Récurrences"></input>
    <input type="button" id="reset" value="Remise à zero"></input>
    <br><br>

    <div class="date-list" id="date-list">

    </div>
    <br>
    <input id="new-event-date" type="date">
    <input type="button" id="new-event" value="Ajouter Evément Ponctuel"></input>

    <script src="../static/js/rrule.js"> </script>
    <script src="../static/js/recurrence.js"> </script>
  </body>

</html>
