{% load bootstrap4 app_filters %}

    <div class="">
      <h4 class="ml-2 col-lg">{{ organization.admins.all.count }} administrateurs</h4>
      <div class="card-columns">
        {% include "user/user_card.html" with users=organization.admins.all admin_remove_controls=True %}
      </div>
        {% if is_admin %}
          <div class="col-lg card m-3"> 
            <form class="col-lg" action="{% url 'user:organization_add_admin' organization.pk %}" method="post">
              {% csrf_token %}
              {% bootstrap_form add_admin_form %}
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                  <i class="fa fa-plus"></i>
                  Ajouter cet admin
                </button>
              </div>
            </form>
          </div>
        {% endif %}
      </div>
  

  <div class="">
      <h4 class="ml-2 col-lg">{{ organization.actives.all.count }} actifs</h4>
       <div class="card-columns">
        {% include "user/user_card.html" with users=organization.actives.all active_remove_controls=True %}
<!--
          {% if not user.is_visible and not is_admin %}
            {{ user }}
          {% else %}
          <a href="{% url 'user:user_detail' user.pk %}">
            {{ user }}
          </a>
          {% endif %}
      -->
      </div>
      {% if is_active %}
        <div class="col-lg card m-3"> 
          <form class="col-lg" action="{% url 'user:organization_add_active' organization.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form add_active_form %}
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-plus"></i>
                Ajouter cet actif
              </button>
            </div>
          </form>
        </div>
      {% endif %}
  </div>


  <div class="">
      <h4 class="ml-2 col-lg">{{ organization.volunteers.all.count }} volontaires</h4>
      <div class="card-columns">
        {% include "user/user_card.html" with users=organization.volunteers.all volunteer_remove_controls=True %}
      </div>
  
      {% if is_active %}
        <div class="col-lg card m-3"> 
          <form class="col-lg" action="{% url 'user:organization_add_volunteer' organization.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form add_volunteer_form %}
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block">
                <i class="fa fa-plus"></i>
                Ajouter ce volontaire
              </button>
            </div>
          </form>
        </div>
      {% endif %}
  </div>
<!--
  <div class="">
      <h4 class="ml-2 col-lg">{{ organization.memberships.all.count }} membres</h4>
        <div class="col-sm">
          {% if is_active %}
          <div class="card">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                {% for membership in organization.memberships.all %}
                  {% if membership.user.is_visible or is_volunteer %}
                  <li class="list-group-item">
                    <a href="{% url 'user:user_detail' membership.user.pk %}">
                      {{ membership.user }}
                    </a>
                    {% if membership.current_contribution > 0 %}
                      (A donné
                        <span class="badge badge-pill badge-secondary">
                        {{ membership.current_contribution }}€
                        </span>
                      depuis le {{ membership.first_payment|date:"d F Y" }})
                    {% endif %}
                    <button class="btn btn-success btn-sm" 
                            data-toggle="modal" 
                            data-target="#more-info-{{ membership.user.pk }}">
                      <i class="fa fa-plus"></i>
                      Mettre à jour le membre
                    </button>
                  </li>
                  {% include "user/organization/modal_more_info.html" with anonymous_user=membership.user form=add_member_form|initial:membership.user %}
                  {% endif %}
                  {% empty %}
                  <li class="list-group-item">
                    Il n'y a pas de membre visible dans cette organisation
                  </li>
                {% endfor %}
                <button class="btn btn-success btn-sm" 
                        data-toggle="modal" 
                        data-target="#more-info-">
                  <i class="fa fa-plus"></i>
                  Ajouter un membre
                </button>
                {% include "user/organization/modal_more_info.html" with form=add_member_form %}
              </ul>
          </div>
      </div>
    {% else %}
    <br>
    <div class="col-lg">
      Vous n'avez pas les droits pour voir les membres de {{organization.name}}
    </div>
     {% endif %}
    </div>
  -->
  </div> 


