{% extends 'base.html' %}


{% block content %}
  {% include "breadcrumb.html" with current="Organisations" %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Organisations</h1>
      {% if user.is_staff %}
      <a class="btn btn-success btn-sm" href="{% url 'user:organization_create' %}">
        <i class="fa fa-pencil-alt mr-1"></i>Créer une organisation
      </a>
      {% endif %}
    </div>
  </div>

  <section class="container">
    <div class="row col-md-12">
      <div class="card-columns">
        {% include 'user/organization/organization_card.html' with organizations=object_list %}
      </div>
    </div>
  </section>

{% endblock %}
