{% extends 'base.html' %}

{% load bootstrap4 %}
{% load thumbnail %}
{% load staticfiles %}

{% block content %}
 <!--{% include "breadcrumb.html" with current="Connexion" %} -->

<section class="container-fluid row">
  <div class="col-md-4 bg-white">
    <div class="h-100 text-center">
      <div class="card col-lg">
        <div class="card-body">
            <img class="mt-5 mb-5" width="100px" height="100px">
        <h2 class="card-title">Connexion</h2>
        <form method="post" action="{% url 'login' %}" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="mt-4 text-center">
            <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
          </div>
          <div class="form-group p-2">
            <button type="submit" class="btn btn-success btn-block">
              Connexion
            </button>
            <div class="row justify-content-md-center">
              <div class="card shadow mt-3 col-lg">
                <a href="{% url 'password_reset' %}">Vous avez déjà participé à un évènement ? Inscrivez-vous ici.</a>
              </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="card mt-2 col-lg">
                <a href="{% url 'user:user_create' %}">Pas de compte ET vous n'avez jamais participé à un évènement sur ce site ? </a>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>  
  </div>
  <div class="col-md-8">
    <img class='img-fluid' src="{% static "img/login_img.png" %}" alt="Reparons.org"/>
  </div>
</section>

{% endblock %}