{% extends "base.html" %}

{% block content %}
  {% url 'login' as login_url %}
  {% url 'password_reset' as password_reset_url %}
  {% include "breadcrumb.html" with current="Demande envoyée" first_parent_url=password_reset_url first_parent_text="Demande de réinitialisation de mot de passe" second_parent_url=login_url second_parent_text="Connexion" %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4>
      Nous vous avons envoyé des instructions par mail afin de réinitialiser votre mot de passe.
      Si vous ne recevez rien dans les minutes qui viennent, nous vous invitons à regarder dans vos courriels indésirables (spam)
    </h4>
    <div class="row justify-content-md-center">
      <i class="fa fa-envelope fa-5x"></i>
    </div>
  </div>
</div>
{% endblock %}
