{% extends 'base.html' %}
{% load assets %}

{% load app_filters %}
{% load thumbnail %}
{% load initialavatar %}

{% block extra_css %}
  {% assets "css_detail_user" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  {% url "user:user_list" as user_list_url %}
  {% include "breadcrumb.html" with current=object first_parent_url=user_list_url first_parent_text="Communauté" %}

<div class="container">

  <section class="row p-0">
    <div class="text-center bg-secondary col-md-3">
      <div class="pt-5">
        {% if object.avatar_img %}
        {% thumbnail object.avatar_img "100x100" crop="center" format="PNG" as im %}
          <img src="{{ im.url }}" class="m-2 rounded-circle"/>
        {% endthumbnail %}
      {% else %}
        {% get_initial_avatar object 100 'circle' %}
      {% endif %}
      </div>
      {% if object.pk == request.user.pk %}
      <div class="rco">
        <a class="btn btn-primary" href="{% url "user:user_update" object.pk %}">
          <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
          Editer mon profil
        </a>
        <a class="btn btn-warning" href="{% url "logout" %}">Deconnexion</a>
      </div>
    {% endif %}

  </div>

  <div class="jumbotron jumbotron-fluid col-md-9 mb-0">
 
    <div class="container">
      <h1>{{ object }}</h1>
      {% if request.user.pk == object.pk and not object.first_name or not object.last_name or not object.street_address %}
        <div class="alert alert-warning" role="alert">
          Pour devenir membre d'une organisation, vous devez renseigner votre Nom, Prénom 
          et Adresse postale.
        </div>
      {% endif %}
        {% for organization in object.visitor_organizations.all %}
            Visiteur 
          <a href="{% url 'organization_page' organization.slug %}">
              {{ organization.name }}
          </a> / 
          {% endfor %}
          {% for organization in object.member_organizations.all %}
            Membre
          <a href="{% url 'organization_page' organization.slug %}">
              {{ organization.name }}
          </a> /
          {% endfor %}
          {% for organization in object.volunteer_organizations.all %}
            Membre actif
          <a href="{% url 'organization_page' organization.slug %}">
              {{ organization.name }}
          </a> /
          {% endfor %}
          {% for organization in object.admin_organizations.all %}
            Administrateur à 
          <a href="{% url 'organization_page' organization.slug %}">
              {{ organization.name }}
          </a> 
        {% endfor %}

        {% if not object.get_organizations %}
          <p>Ce profil n'est rattaché à aucune organisation</p>
        {% endif %}
        <br>
        <br>
    <small>{{object.bio | safe}}</small>
  </div>      
</div>
</section>

<section class="row h-100">

  <div class="nav  bg-light flex-column nav-pills p-4 text-left col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-rdv-tab" data-toggle="pill" href="#v-pills-rdv" role="tab" aria-controls="v-pills-rdv" aria-selected="true">Rendez-vous</a>
      <a class="nav-link" id="v-pills-membership-tab" data-toggle="pill" href="#v-pills-membership" role="tab" aria-controls="v-pills-membership" aria-selected="false">Adhésions</a>
      <a class="nav-link" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="false">Informations</a>
      <a class="nav-link" id="v-pills-stock-tab" data-toggle="pill" href="#v-pills-stock" role="tab" aria-controls="v-pills-stock" aria-selected="false">Inventaire</a>
  </div>

<div class="col-md-9 p-4 tab-content" id="v-pills-tabContent">


  
  {% if passed_rendezvous or future_rendezvous %}
  <div class="tab-pane fade show active" id="v-pills-rdv" role="tabpanel" aria-labelledby="v-pills-rdv-tab">

      {% if future_rendezvous %}
        <h5 class="border-bottom border-gray pb-2"> {{ object.future_rendezvous.all.count}} Rendez-vous à venir</h5>
        <div class="row scrollable">
            <table class="table table-striped table-hover">
            {% for event, status in future_rendezvous %}
              <tr>
                <th scope="col">
                <a href="{% url 'event:detail' event.pk event.slug %}">
                  {{ event.activity.name }}
                </a>
                </th>
                <td>
                  {{ event.date|date:"d F Y" }}
                </td>
                {% if status == "organizer" %}
                <td>
                  <span class="badge badge-pill badge-success">Orga</span>
                </td>
                {% else %}
                  {% if object.pk == request.user.pk %}
                    {% tokenize user=object event=event action='cancel' as tok %}
                    <td>
                      <button class="btn btn-danger rounded-circle">
                        <a class="" href="{% url 'event:cancel_reservation' tok %}">
                          <i class="fa fa-times"></i>
                        </a>
                      </button>
                    </td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
      <hr>

    <h5 class="border-bottom border-gray pb-2">Rendez-vous passés</h5>
      <div class="row scrollable">
          <table class="table table-striped table-hover">
          {% for event, status in passed_rendezvous %}
            <tr>
              <th scope="col">
              <a href="{% url 'event:detail' event.pk event.slug %}">
                {{ event.activity.name }}
              </a>
              </th>
              <td>
                {{ event.date|date:"d F Y" }}
              </td>
              <td>
                {% if status == "organizer" %}
                  <span class="badge badge-pill badge-success">Orga</span>
                {% elif status == "absent" %}
                  <span class="badge badge-pill badge-secondary">Absent</span>
                {% elif status == "present" %}
                  <span class="badge badge-pill badge-info">A participé</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
    <hr>
  </div>


  <div class="tab-pane fade" id="v-pills-membership" role="tabpanel" aria-labelledby="v-pills-membership-tab">
    <h3 class="border-bottom border-gray pb-2">Etat des cotisations</h3>

    {% for membership in object.memberships.all %}
      <h5 class="border-bottom border-gray pb-2">{{ membership.organization }}
      <small>depuis le {{ membership.first_payment|date:"d F Y" }}</small>
      <span class="badge badge-pill badge-success float-right">{{ membership.amount }}€</span></h5>
      <table class="table table-striped table-hover">
        {% for membership in membership.history.all %}
          cotisation modifiée le : {{ membership.history_date }}
          montant renseigné : {{ membership.amount }}€
          <br>
        {% endfor %}
        {% for event, amount in passed_participations reversed %}
            {% if event.organization == membership.organization and amount != 0 %}
            <tr>
              <td>
                le {{ event.date|date:"d F Y" }}
              </td>
              <td>
                {{ amount }}€
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endfor %}

  </div>

  

    <div class="tab-pane fade" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
        <div class="row">
            <div class="col-md-6">
              <i class="fa fa-phone pr-2"></i><label>Téléphone</label>
            </div>
            <div class="col-md-6">
                <p>{{ object.phone_number }}</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-envelope pr-2"></i>Adresse mail
              </div>
              <div class="col-md-6">
                  <p>{{ object.email }}</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-map pr-2"></i>Adresse physique
              </div>
              <div class="col-md-6">
                  <p>{{ object.street_address }}</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-birthday-cake pr-2"></i>Date d'anniversaire
              </div>
              <div class="col-md-6">
                  <p>{{ object.birth_date }}</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-clock-cake pr-2"></i>Membre depuis
              </div>
              <div class="col-md-6">
                  <p>le {{ object.date_joined|date:"d F Y" }}</p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="v-pills-stock" role="tabpanel" aria-labelledby="v-pills-stock-tab">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Pièce</th>
                <th>État</th>
                <th>Organisation</th>
              </tr>
            </thead>
            <tbody>
              {% for stuff in stock %}
                <tr>
                  <td scope="row">{{ stuff }}</td>
                  <td>{{ stuff.get_state_display }}</td>
                  <td>{{ stuff.organization_member }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
  
</section>

</div>
{% endblock %}
