{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load assets %}

{% block extra_js %}
  <script src="{% static 'js/lib/jquery.waypoints.js' %}"></script>
  <script src="{% static 'js/lib/infinite.min.js' %}"></script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
        background_function();
      }
    });
  </script>
{% endblock %}

{% block extra_css %}
  {% assets "css_detail_user" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block pagetitle %}Blog{% endblock %}

{% block content %}

  {% include "breadcrumb.html" with current="Communauté" %}

<div class="jumbotron jumbotron-fluid bg-grey">
  <div class="container">
    <h1>Utilisateurs</h1>
  </div>
</div>

  <div class="card-columns infinite-container container">
    {% include "user/user_card.html" with users=users %}
  </div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}
{% endblock %}
