{% extends 'base.html' %}
{% load bootstrap4 assets static %}

{% block extra_css %}
  {% assets "css_autocomplete" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  {% url "user:user_list" as user_list_url %}
  {% if object %}
    {% url "user:user_detail" object.pk as user_detail_url %}
    {% include "breadcrumb.html" with current="Mise à jour" second_parent_url=user_detail_url second_parent_text="Communauté" first_parent_url=user_detail_url first_parent_text=object %}
  {% else %}
    {% include "breadcrumb.html" with current="Création" first_parent_url=user_list_url first_parent_text="Communauté" %}
  {% endif %}
  <div class="position-absolute" style="z-index: -1">
      <img class='img-fluid' src="{% static "img/login_img.png" %}" alt="Reparons.org"/>
  </div>

  <div class="row justify-content-md-center">
    <div class="card shadow border-success border p-3 m-5">
        <h1 class="text-center col-lg">Créer un compte</h1>
      <form method="post" enctype="multipart/form-data">
        <fieldset>
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {{ form.media }}
  {% assets "js_create_edit_user" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
