{% extends 'detail_view.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="users" list_view="../" detail_name=target_user.get_full_name %}
   {{ block.super }}
{% endwith %}
{% endblock %}


{% block context %}

<div class="">
    {% include "users/user.html" with user=target_user class="w-100" img_class="col-lg" about_class="row" %}
</div>

<div class="list-group m-3 bg-white row" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-organization-list" data-toggle="list" href="#list-organization" role="tab" aria-controls="organization">Organisations</a>
        <a class="list-group-item list-group-item-action active" id="list-booking-list" data-toggle="list" href="#list-booking" role="tab" aria-controls="booking">Rendez-vous</a>
</div>


{% endblock context %}

{% block about %}

{% block about1 %}

    {% with about1="Organisations ratachées" %}
    {{ block.super }}
    {% endwith %}

    <section class="row p-2" id="list-organization">
        <ul class="list-group">

            {% for organization in target_user.organizationperson_set.all %}
            <li class="list-group-item">
            {{ organization.role }} à
                <a href="{% url 'organization_detail' organization.organization.id organization.organization.slug %}">
                        {{ organization.organization.name }}
                </a>
            </li>
            {% empty %}
            <p>Ce profile n'est rattaché à aucune organisation</p>
            {% endfor %}
           
        </ul>
    </section>

{% endblock about1 %}

{% block about2 %}

    {% with about2="Rendez-vous" %}
    {{ block.super }}
    {% endwith %}

    <section class="row" id="list-booking">

        {% for event in target_user.event_set.all %}
        {% include "plateformeweb/event.html" with class="col-md-4 col-12" img_class="col-md-4" about_class="col-md-8 pb-2" %}

        {% empty %}
        <p>Pas de réservation en attente</p>
        {% endfor %}
       
    </section>

{% endblock about2 %}

{% endblock about %}
