
{% extends 'list_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="utilisateurs" view="user_list" %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %} {{ block.super }} Users {% endblock title %}


{% block statistics %}

  {% with first_value=user_list.all.count first_label='members' second_value=user_list.is_staff.all.count second_label='volonteers' third_value='' third_label='up to date' %}
  {{block.super}}
  {% endwith %}

{% endblock statistics %}


{% block list %}

<section class="container-fluid">
<div class="row ml-4 py-2 d-flex justify-content-center">

{% for user in object_list %}
		{% include "users/user.html" with class="my-3 col-sm-6 col-md-4" %}
	<!-- {% empty %}
  <div>No users yet.</div>   --> 
{% endfor %}


</div>
</section>

		
{% endblock list %}


<!-- <div class="row">
	<div class="col-md-4">
		<p>balazkek^</p>
	</div>
	<div class="col-md-4">
		<p>balazkek^</p>
	</div>
	<div class="col-md-4">
		<p>balazkek^</p>
	</div>
</div> -->



