{% extends 'detail_view.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% with type="users" list_view="../" detail_name=target_user.get_full_name %}
   {{ block.super }}
{% endwith %}
{% endblock %}

{% block TitleAndEdit %}

{% if target_user.pk == request.user.pk %}
    <a class="card-link mr-3 fm-update btn btn-primary float-right" href="{% url "user_profile" %}">
        <i class="fa fa-pencil-square-o 2-xs pt-1"></i>
    Editer mon profil
    </a>
{% endif %}

{% endblock TitleAndEdit %}

{% block context %}

<div class="">
    {% include "users/user.html" with user=target_user class="w-100" img_class="col-lg" about_class="row" %}
</div>

<div class="list-group m-3 bg-white row" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" id="list-organization-list" data-toggle="list" href="#list-organization" role="tab" aria-controls="organization">Organisations</a>
        <a class="list-group-item list-group-item-action active" id="list-booking-list" data-toggle="list" href="#list-booking" role="tab" aria-controls="booking">Rendez-vous</a>
</div>


{% endblock context %}

{% block about %}

{% block about1 %}

    {% with about1="Organisations ratachées" %}
    {{ block.super }}
    {% endwith %}

    <section class="row p-2" id="list-organization">
        <ul class="list-group">

            {% for organization in target_user.organizationperson_set.all %}
            <li class="list-group-item">
            {{ organization.role }} à
                <a href="{% url 'organization_detail' organization.organization.id organization.organization.slug %}">
                        {{ organization.organization.name }}
                </a>
            </li>
            {% empty %}
            <p>Ce profile n'est rattaché à aucune organisation</p>
            {% endfor %}
           
        </ul>
    </section>

{% endblock about1 %}

{% block about2 %}

    {% with about2="Rendez-vous" %}
    {{ block.super }}
    {% endwith %}

    <section class="row" id="list-booking">

        {% include "plateformeweb/event_list_vuejs.html" with context_type="user" context_pk=target_user.pk %}

    </section>

{% endblock about2 %}

{% endblock about %}
