

{% extends 'detail_view.html' %}

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}


<!-- who is -->
{% block context %}

<div class="col container">

    <div class="row">
         {% avatar user %}
        <h5>{{ user.first_name|capfirst }}{{ user.last_name|capfirst}}</h5>
    </div>

    <form method="POST" class="row pure-u form" action="">
            <fieldset>
                {% csrf_token %}
                {% if user_form.errors %}
                    <p class="error">Please correct the error(s) below:</p>
                    {#{{ user_form.errors }}#}
                {% endif %}
        
            
                    {% for field in user_form %}

                        <div class="group">
                                <label>{{ field.label }}</label>
                            {% if field.help_text %}
                                <span class="pure-form-message-inline">{{ field.help_text|safe }}</span>
                            {% endif %}
                            {{ field }} {{ field.errors }}
                        </div>

                    {% endfor %}


                
                <div class="pure-controls pure-u-1 button-xlarge">
                    <button type="submit" class="pure-button pure-button-primary"
                            name="action">Save
                    </button>
                </div>
            </fieldset>
        </form>

</div>

{% endblock context %} 

<!-- details about -->


{% block detail %}

<section class="col-lg container">

    <h3 class="row"> Events that I organize </h3>
{% for event in my_events_organizing %}
 {% include "plateformeweb/event.html" %}
{% endfor %}

    <h3 class="row"> Events that I've book </h3>
    {% for event in my_events_attending %}
    {% include "plateformeweb/event.html" %}
    {% endfor %}

</section>

    
{% endblock detail %}
      