

{% load staticfiles %}
{% load fontawesome %}
{% load avatar_tags %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

Edites mes informations

{% block form %}

<div class="container">

        <div class="row justify-content-md-center">

            <div class="col-md-6">

                    <div class="text-center" >

                            <h5>{{ user.first_name|capfirst }}{{ user.last_name|capfirst}}</h5>
                            {# TODO: avatar handling needs to go in a modal and refresh the page when closed #}
                            {% avatar request.user %}
                            <p>
                            <a href="javascript:window.open('{% url 'avatar_change' %}','_blank','titlebar=no,status=no,menubar=no,location=no,height=500,width=400,left=200,top=200')">Change
                                your avatar</a>
                                <br>
                            <a href="javascript:window.open('{% url 'avatar_delete' %}','_blank','titlebar=no,status=no,menubar=no,location=no,height=500,width=400,left=200,top=200')">Delete
                                your avatar</a>
                            </p>
                    </div>
                
                    <form action="" method="post" enctype="multipart/form-data"
                    class="pure-form form">    
                    <fieldset>
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                        {% if user_form.errors %}
                        <p class="error">Please correct the error(s) below:</p>
                        {#{{ user_form.errors }}#}
                        {% endif %}

                                
                        {% for field in user_form %}

                            <div class="form-group">
                                    <label class="control-label">{{ field.label }}</label>
                                {% if field.help_text %}
                                    <span class="pure-form-message-inline">{{ field.help_text|safe }}</span>
                                {% endif %}
                                    <div class="controls">
                                        {{ field }}
                                        {# {{ field|add_class:"textinput textInput form-control float-left" }} #}
                                        {{ field.errors }}
                                    </div>
                            </div>

                        {% endfor %}

                        <button type="submit" class="btn btn-primary float-right">Enregistrer
                        </button>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>

{% endblock %}





