{% extends 'base.html' %}
{% load assets app_filters %}
{% load l10n %}

{% block extra_css %}
  {% assets "css_detail_place" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock %}

{% block content %}
  {% url "location:list" as location_list_url %}
  {% include "breadcrumb.html" with current=place first_parent_url=location_list_url first_parent_text="Lieux" %}

  <div class="container">
    <div class="row no-gutters">
      <section class="header_detail_page p-0 text-center col-md-3">
        <div class="bg-grey" id="side_nav">
            <div class="pt-5 header_detail_page_picture">
              {% if place.picture %}
                <img class="img-responsive w-100" src="{{ place.picture.url }}" alt="image_lieu">
            {% endif %}
            </div> 
            <h2 class="pt-5 header_detail_page_title">{{ place.name|title }}</h2>
            <div class="card badge badge-pill badge-success p-2 m-1">
              {{ place.category }}
            </div>
        </div>
      </section>
      <section class="h-100 col-md-9 p-4">
            <div class="">
            <h4 class="mt-4">Description
              {% if is_admin %}
              <p class="lead float-right">
                <a class="btn btn-success btn-sm" href="{% url 'location:edit' place.id %}">
                  <i class="fa fa-pencil-alt"></i>
                  Editer
                </a>
                <a class="btn btn-danger btn-sm" href="{% url 'location:delete' place.id %}">
                  <i class="fa fa-trash-alt"></i>
                  Supprimer
                </a>
              </p>
              {% endif %}
            </h4>
            <div class="card p-4">
              {{ place.description | safe }}
            </div>
            <h4 class="mt-4">Adresse</h4>
              <div class="container-fluid card p-4" id="place_map" style="height: 60vh; top:0px"></div>
            <h4 class="mt-4">Prochains événements</h4>
            <div class="card p-4">
              <div class="table-responsive">
                <table class="table infinite-container">
                    <thead class="bg-primary">
                        <tr>
                          <th scope="col"><small class="text-white">Date</small></th>
                          <th scope="col"><small class="text-white">Type</small></th>
                          <th scope="col"><small class="text-white">Places</small></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for event in place.future_published_events %}
                        {% ifchanged %}
                          <tr>
                            <td colspan="5" class="bg-light">
                              <b>{{ event.date|date:"F" }} {{event.date|date:"Y" }}</b>
                            </td>
                          </tr>
                        {% endifchanged %}
                        <tr class="bg-white">
                          <td>
                            <div class="row border-secondary border text-center">
                              <span class="col-12 bg-secondary">
                                {{ event.date|date:"N"|upper }}
                              </span>
                              <span class="col-12">
                                {{ event.date|date:"d" }}
                              </span>
                            </div>
                          </td>
                          <td>
                            <a href="{% url 'event:detail' event.pk event.activity.slug %}">
                              <b>{{ event.activity }}</b>
                            </a>
                          </td>
                          <td>
                            {% if event.is_free %}
                              Accès libre
                            {% else %}
                            <span
                            class=" float-left
                              {% if event.remaining_seats <= 0 %}
                                text-danger
                              {% elif event.remaining_seats == event.available_seats %}
                                text-success
                              {% else %}
                                text-warning
                              {% endif %}
                              ">
                            <i class="fas fa-users"></i>    
                              {{ event.remaining_seats}}/{{ event.available_seats }}
                            </span>
                            {% endif %}
                          </td>
                        </tr>
                      {% empty %}
                      Pas d'évènements planifé ici pour le moment
                      {% endfor %}
                    </tbody>
                </table>
              </div>
            </div> 
        </div>
      </section>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function(){
    $("#side_nav").sticky({topSpacing:40});
    $("#breadcrumb").sticky({topSpacing:0});
  });
</script>
<script>
  let latitude = {{ place.latitude|unlocalize }};
  let longitude = {{ place.longitude|unlocalize }};
  let placeName = "{{ place.name }}";
</script>
  {% assets "js_detail_place" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

