@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import 'variables.scss';
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$link-decoration: none;
$link-hover-decoration: underline;
$breadcrumb-font-size: .8em;
$breadcrumb-padding-y: 1rem;
$breadcrumb-padding-x: .75rem;
$breadcrumb-bg: white;
$link-color: $link;
$badge-color: $primary;
$btn-default-color: #cccccc;
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$table-bg: #fff;
$card-border-width: 1px;
$card-border-radius: 5px;
$card-border-color: rgba($black, .125);

div[class^="col-"] {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* others resets */
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
) !default;

:root {
  --table-bg-hover: rgba(0,0,0,0.015);
}

html{
  font-size: 0.9rem;
}
.container-fluid{
  padding: 0px;
  margin: 0px;
}
.content-page {
  min-height: 500px;
  overflow-x:hidden;
}
.pr-2, .px-2 {
  padding-right: .5rem !important;
}
#event_map {
  z-index: 0;
  overflow: hidden;
}
h1, h2, h3, h4, h5 {
  color : $primary;
}
h4 {
  z-index: 0;
}
h5{
  line-height: 1 !important;
}
.bordered {
  border: 1px solid #cecece;
}
.btn-danger, .badge.bg-danger, .badge.bg-primary{
  color: #fff;
}
.un-z-index{
  z-index: 1 !important;
}
/* shadows */ 

.shadow-xxl {
  box-shadow: 0 1rem 20rem rgba(0,0,0,0.350) !important;
}
.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
  border: 1px solid #cecece;
}

/* tables */ 

.table > :not(:first-child) {
  border-top: none
}

thead {
  background-color: rgb(249, 249, 249);
  a{
    color: #838282;
  }
}

.table-fixed{
  tbody {
    display:block;
    max-height:400px;
    overflow:auto;
}
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
}

.small-column{
  width:70px;
}
.form-xs {
  input {
    height: calc(1em + .375rem + 2px) !important;
    padding: .5rem .5rem !important;
    font-size: .75rem !important;
    line-height: 1.5;
  }
  label {
    margin-right: .5rem;
  }
}
.table td, .table th {
  vertical-align: middle;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}

.column-shifter-container .dropdown-toggle {
  color: $primary;
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,0.02);
}

.calendar{
  max-width:120px
}

/* forms */

.was-validated, .is-valid {
  background-image: none !important;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-container .select2-selection--single{
  height:40px !important;
}
.select2-container{
  display: block !important ;
  z-index: 9999; 
  width: 100% !important;
}
.search-bar{
  .form-group{
    padding: 0px !important ;
    margin-bottom: 0px !important;
    width:45%;
  }
  .input-group-text{
    border: 0px !important ;
    background-color: #fff !important;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary !important;
}

/* Custom auto-complete */
.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0,0,0,.1);
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0.6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333;
  b {
    font-weight: normal;
    color: $success;
  }
  .selected {
    background: #f0f0f0;
  }
}

/* pagination fix */
.pagination {
  justify-content: center !important;
  li {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $link;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }
  li.active {
    z-index: 1;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}

/* Menu */
.header{
  z-index:1250 !important;
  width: 100%;
  position: fixed;
  height: 65px;
}
.main-container {
  padding-top: 65px;
}
.brand-logo img{
  max-width: 220px;
  height: auto;
  padding-top: 0px;
}
.navbar-collapse {
  width: 75px;
}
.header_detail_page, #h_nav, #breadcrumb, #jumbotron, #search_tab, #event_title, #event_about, .jumbotron {
  position: relative;
}
.navbar {
  background-color: $primary;
  padding: 0.3em;
  position: relative;
  z-index: 4 !important;
}
.navbar ul li a:hover, .navbar .fa:hover, .avatar a:hover, .dropdown-toggle:hover{
  color: gray;
  text-decoration: none;
}
.dropdown-menu {
  right:0px;
}
.navbar ul li{
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color : $secondary !important;
    small{
      font-size: 75%;
    }
  }
} 
.navbar ul li.active{
  background-color: $secondary;
  a{
    color: $primary !important;
  }
}
.navbar-brand.avatar{
  margin: 0px !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-bottom: 3px solid $link;
  background: inherit !important;
  color: #484848;
}
.nav-link {
  color: #828282;
}

/* buttons */ 

.btn-light:hover, btn-secondary:hover{
  color: $primary !important;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-absolute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s, visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s, background-color 2s, transform 0.5s;
  padding: 0px;
  margin: 0px;
  width: 63px;
  height: 63px;
  border-radius: 40px;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 399;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  a{
    color:#FFF;
    text-decoration: none;
    line-height: 63px;
  }
}
.btn-success:hover, .btn:hover{
  color:#fff;
}

/* jumbotron & breadcrumb */ 

.jumbotron{
  background-color: $secondary;
  padding: 2rem 1rem;
}
.no-padding-jumbotron {
  padding: 1rem 0rem 0rem 0rem;
  margin-bottom: 0px;
}
.breadcrumb{
  margin-bottom: 0px !important;
  border-width: 0px;
  z-index: 2;
}

/* cards */

.card-columns {
  column-count: 3;
  .card {
    margin-bottom: .75rem;
  }
}

.cards-column-1{
  column-count: 1;
}
.card {
  a.card-link {
    text-decoration: none;
    color: inherit;
  }
  small {
    color:initial;
  }
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 0 solid rgba(0,0,0,0.125);
}
.card.overflowded{
  max-height: 300px;
  overflow-y: auto;
}

.mini-organizers {
  height:25px;
}

.mini{
  left: -05px;
}

.mini:last-child {
  left:0px;
}

.gravatar{
  border-radius: 50%;
}

.card-img-crop{
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
}

.card-body-crop {
  max-height: 240px;
  min-height: 240px;
  overflow: hidden;
}

.event_img {
  width: 100%;
}

.event a:hover {
  text-decoration: none !important;
}

/* breadcrumb (chemin navigation) */

#breadcrumb-sticky-wrapper, #search_tab-sticky-wrapper, #h_nav-sticky-wrapper, #jumbotron-sticky-wrapper, #v-pills-tab {
z-index: 3 !important;
position: relative;
}
.parallax {
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#map{
  position: fixed;
  right: 0px;
  top: 150px;
  bottom: 0px;
}

#place_map {
  right:0px;
  top:40px;
  z-index: 0 !important;
}
.leaflet-left{
  top:150px !important;
}
.leaflet-container a {
  color: $link;
}

.awesome-marker_hover {
  background-position: -36px 0px !important;
}

/* Modals */


.event-book-mobile {
  position: fixed !important;
  top: calc(100% - 50px) !important;
  left: 0px;
  z-index: 4;
  transition: all;
  transition-duration: 0.5s;
  overflow-y: scroll;
}

.event-book-mobile-show {
  top: 0px !important;
  bottom: 0px;
}

.modal-body {
  padding: 0px;
}

.modal-content {
  border-radius: 0;
  margin-top: 10%;
  padding: 1em;
  z-index:10000 !important;
  position:relative !important;
}

/* autocomplete */
.select2-selection__clear{
  font-size: 20px;
  color:$danger; 
}

.tox-tinymce{
  max-height: 250px;
}

/* sizes */

.square-2 {
  width: 2em;
  height: 2em;
}

.alert{
  position: fixed !important;
  top: 100px;
  z-index: 10000;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 0px 10px 100px black;
  right: -1000px;
  transition: all;
  transition-duration: 0.5s;
}

.alert-success {
  color: $primary;
  background-color: $success;
  border:0px;
}

.alert-danger {
  color: white;
  background-color: $danger;
  border:0px;
}

.alert-dismissible .close{
  position: static !important;
  float: none;
}

@media screen and (max-width: 1024px) {
  h3{
      font-size:1rem;
  }
}

@media screen and (max-width: 768px) {

  div[class^="col-"] {
    width: 100%;
  }

  h3, .h3, h4, .h4, h5, .h5{
    font-size:1.5rem !important;
  }
  p, .lead, b {
    font-size: 0.9rem;
  }
  .fixed_sidedar{
    position: initial !important;
  }
  .header_detail_page{
    z-index: 2;
  }
  #side_nav{
    width:100%;
  }

  .header_detail_page_picture{
    padding-top: 10px !important;
    img{
      width: 75px;
      height: auto;
      margin: 0px !important;
    }
  }
  .user-title{
    text-align: left !important;
  }
  .header_detail_page_title{
    padding-top: 10px !important;
    line-height: 75px;
  }

  #v-pills-tab{
    width:100%;
    padding: 0px !important;
    a{
      font-size: 12px;
      color: #828282;
    }
    a.active{
      color : #484848;
    }
  }
  .event_list_cards{
    column-count: 1;
  }

  #event_about {
    padding-bottom: 10px !important;
  }
  #event_map {
    z-index: 1;
  }
  #map {
    visibility: hidden;
  }
  .header_detail_page, #h_nav, #breadcrumb, #jumbotron, #search_tab, #event_title, .booking_form, .jumbotron {
    z-index: 2 !important;
  }
  .modal.show .modal-dialog {
    z-index: 3 !important;
    display: relative;
  }
}

// Menu hack for mobile slide left up //


@media (min-width: 992px) {

  .main-container {
    padding-left: 75px;
  }

  .vertical-nav {
    position: fixed;
    top: 65px;
    left: 0;
    width: 75px;
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
  }
}

@media (max-width: 992px) {

  .navbar-collapse {
    position: fixed;
    top: 65px;
    left:-400px;
    height: 800px;
    transition: all 0.3s ease;
    display: block;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
  }
  .navbar-collapse.show {
    right:20%;
    left:0px;
  }
}

input.toggle-modal {
  visibility: hidden;
}

input.toggle-modal:checked ~ .modal {
  display: block;
  opacity: 1;
  padding-top: 2rem;
  background-color: rgba(0,0,0,0.3);
}
