<div class="footer">

  <div class ="left">
    Informations pratiques <br>

    Pour la réparation, pensez à tester votre appareil chez vous pour vérifier qu'il ne fonctionne toujours pas. <br>

    Amenez les accessoires nécessaires au fonctionnement de l'appareil (ex: câble d'alimentation, notice, ...). <br>

    Pas besoin de ramener l'écran de votre PC, on en a sur place. <br>


        Pour faire vivre l'association, nous demandons à nos adhérents une cotisation de 5€. Sur place nous acceptons les espèces, chèques, cartes bleues ou gonettes. <br>

    Pour la convivialité, n'hésitez pas à ramener de quoi grignoter ou boire ! :) <br>
  </div>

  <div class="right">
    <a href="{{cancel_url}}"> J'annule ma réservation </a><br>

    Nos ateliers ont une capacité de places limitée. <br>
    Si vous ne pouvez finalement pas venir à la date prévue, vous pouvez annuler votre réservation et choisir une autre date par le biais du lien ci-dessus. <br>

    Je crée mon espace personnel <br>

    Pour pouvoir suivre vos réservations, annuler vos réservations, suivre l'actualité des associations, venez créer votre espace personnel. <br>

    Rejoignez une communauté d'acteurs engagés pour faciliter l'accès à l'auto-réparation ! <br>
  </div>

</div>
