{% load app_filters %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Piece</th>
      <th>Type</th>
      <th>Localisation</th>
      <th>État</th>
      <th>Propriétaire</th>
    </tr>
  </thead>
  <tbody>
    {% for stuff in stock %}
      <tr>
          <td scope="row"> <a href="{{stuff.get_absolute_url}}"> {{ stuff }}</a> </td>
          <td>{{ stuff.type }}</td>
          <td> {{ stuff.place }} </td>
          <td> {{ stuff.get_state_display }} </td>
          <td> {{ stuff.owner }} </td>
        </a>
      </tr>
    {% empty %}
      Pas de stock pour l'instant
    {% endfor %}
  </tbody>
</table>