
{% load assets %}
{% block title %}
{% endblock title %}

{% block extra_css %}
  {% assets "css_places" %}
    <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet"/>
  {% endassets %}
{% endblock extra_css %}

{% block content %}
    <div id="place_map"></div>
{% endblock content %}

{{ places|json_script:"places" }}

{% block extra_js %}
  <script>
    const places = JSON.parse(document.getElementById('places').textContent);
  </script>
  {% assets "js_places" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock extra_js %}
